section.sub_header(style="background-image: url('../img/sub_header_bg.jpg')")
    .container
        .row.operation.justify-content-lg-between.justify-content-md-center
            .col-xl-auto.col-lg.col-md-auto
                .operation_txt
                    .title
                        | Операцию
                        span.accent  развал-схождение
                        |  обычно
                        | проводят в следующих случаях:
                    .content
                        ul
                            li - при появлении неравномерного износа шин;
                            li - после ДТП;
                            li - после замены частей подвески или ее ремонта;
                            li - после сезонной замены шин;
                            li - если чувствуется изменение в «поведении» машины на дороге (например, увод в сторону)
            .col-xl-auto.col-lg.col-md-auto
                img.img-responsive(src="img/operation.jpg", alt="Operation")
        .row.flex-row-reverse.operation.justify-content-lg-between.justify-content-md-center
            .col-xl-auto.col-lg.col-md-auto
                .operation_txt
                    .title
                        | Мы работаем на оборудовании
                        | фирмы
                        span.accent  Hunter
                        |  и поэтому Вы получите
                        | превосходное качество работ
                    .content
                        ul
                            li - углы измеряются с помощью четырех видеокамер с разрешением 2608×1952
                            li - для колесных дисков с выступающей ступицей или нестандартной формы используются специальные проставки которые поставляются в базовом комплекте
                            li - для измерения угла максимального поворота колес используются опциональные мишени
                            li - отсутствие контакта «металл»-«металл» гарантирует отсутствие повреждений на клиентских дисках любых конфигураций
            .col-xl-auto.col-lg.col-md-auto
                img.img-responsive(src="img/work.jpg", alt="we work")
        .row.video
            h3.text-uppercase.text-center Смотрите видео о том, как работает Hunter
            iframe(width='854', height='480', src='https://www.youtube.com/embed/1FVMQg5Ltew', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
section.our_advantages
    .container
        .row.align-items-center
            .col-5.d-none.d-md-block
                img.img-responsive(src="img/our_advantage_left.png", alt="Wheel")
            .col
                .custom_title
                    span.order_number
                        | 01.
                        h2
                            span.accent Наши
                            |  преимущества
                .advantages
                    .row
                        .col-6.advantage
                            .row.align-items-center
                                .col-lg-auto.col-sm-5
                                    .wrap_img
                                        img(src="img/our_advantage_1_icon.png", alt="Our advantage 1")
                                .col-lg.col-sm-7
                                    .txt Гарантия на все выполненные работы
                        .col-6.advantage
                            .row.align-items-center
                                .col-lg-auto.col-sm-5
                                    .wrap_img
                                        img(src="img/our_advantage_2_icon.png", alt="Our advantage 2")
                                .col-lg.col-sm-7
                                    .txt Опытные механики
                        .col-6.advantage
                            .row.align-items-center
                                .col-lg-auto.col-sm-5
                                    .wrap_img
                                        img(src="img/our_advantage_3_icon.png", alt="Our advantage 3")
                                .col-lg.col-sm-7
                                    .txt Низкие цены
                        .col-6.advantage
                            .row.align-items-center
                                .col-lg-auto.col-sm-5
                                    .wrap_img
                                        img.img-responsive(src="img/our_advantage_4_icon.png", alt="Our advantage 4")
                                .col-lg.col-sm-7
                                    .txt Узкая специализация
section.banner_1(style="background-image: url('../img/banner_1_bg.png')")
    .container
        .row
            .col-sm-5.col
                .sale
                    span -
                    | 20
                    sup %
            .col
                .txt
                    span.first развал-схождение
                    span.second Всего за
                        span   22
                        |  руб
                .btn_painted
                    a(href="#enroll_form").modal Записаться
section.price_for_service#to_price(style="background-image: url('../img/price_for_service_bg.jpg')")
    .container
        .custom_title
            span.order_number
                | 02.
                h2
                    span.accent Цены
                    |  на услуги
        .services
            .row.justify-content-between.align-items-center
                .col-xl.col-lg-4.col-md-4.col-sm-12
                    .service.side
                        .content
                            .title легковые
                            .axis 1 ось
                            .price
                                span.val 22
                                |  руб
                            .btn_painted
                                a(href="#enroll_form").modal Записаться
                .col-xl.col-lg-4.col-md-4.col-sm-12
                    .service.center
                        .content
                            .title легковые
                            .axis 2 оси
                            .price
                                span.val 28
                                |  руб
                            .btn_painted
                                a(href="#enroll_form").modal Записаться
                .col-xl.col-lg.col-md-4.col-sm-12
                    .service.side
                        .content
                            .title микроавтобусы
                            .axis с maxi базой
                            .price
                                span.val 32
                                |  руб
                            .btn_painted
                                a(href="#enroll_form").modal Записаться
        .title_normo_hour.text-uppercase.text-center нормо-час на услуги СТО:
        .normo_hours.text-center
            .row.justify-content-center
                .col-lg-5.col-sm-6.col-12
                    .normo_hour
                        .content
                            .title С НДС для гос. организаций:
                            .price
                                span.val 36
                                |  руб
                .col-lg-5.col-sm-6.col-12
                    .normo_hour
                        .content
                            .title С НДС для физ.лиц и хозрасчетных организаций:
                            .price
                                span.val 40
                                |  руб
section.our_service_station#to_service
    .container
        .custom_title
            span.order_number
                | 03.
                h2
                    span.accent Наше
                    |  СТО
        .slick_slider_service_station
            .slide_service_station
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
            .slide_service_station
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
            .slide_service_station
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
                a(href="#gallery_service_station").modal
                    img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
        .slick_slider_service_station_mobile
            .slide
                img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
            .slide
                img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
            .slide
                img.img-responsive(src="img/our_service_station_1.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6.jpg", alt="Our service station 6")
section.banner_2(style="background-image: url('../img/banner_2_bg.jpg')")
    .container
        .row.align-items-center
            .col-md.col-sm-12
                .txt
                    | При записи на развал с нашего сайта получи
                    span.sale_txt  скидку
                    span.proc_val
                        |  5
                        sup %
                form(data-form-type="Запись на развал схождения", method="post")
                    .inpt_transparent
                        input(type="text", placeholder="Введите имя", name="name")
                    .inpt_transparent
                        input(type="tel", placeholder="Введите телефон", name="phone", required)
                    .btn_painted
                        input(type="submit", value="Записаться")
            .col-md-auto.col-sm
                .sale_block
                    .content
                        .txt Для всех клиентов:
                        .free.text-uppercase Бесплатно
                        .time.text-uppercase c 9.00 - 10.00
                        .add
                            | Проверка установки
                            .span.text-uppercase углов колес
section.add_services
    .container
        .custom_title
            span.order_number
                | 04.
                h2
                    span.accent Дополнительные
                    |  услуги

        .row.text-center.add_service_row.justify-content-sm-center
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_1.png", alt="additional service 1")
                        .desc Регулировка установки углов колес
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_2.png", alt="additional service 2")
                        .desc Шиномонтаж
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_3.png", alt="additional service 3")
                        .desc Замена тормозных колодок
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_4.png", alt="additional service 4")
                        .desc Замена масла в двигателе, КПП, АКПП
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_5.png", alt="additional service 5")
                        .desc Ремонт глушителя
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_6.png", alt="additional service 6")
                        .desc Регулировка света фар
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_7.png", alt="additional service 7")
                        .desc Диагностика и ремонт подвески
            .col-md-3.col-sm-4
                .add_service
                    .content
                        img(src="img/add_service_8.png", alt="additional service 8")
                        .desc Замена ремней ГРМ
section.our_certificates#to_certificate
    .container
        .custom_title
            span.order_number
                | 05.
                h2
                    span.accent Сертификаты
                    |  - гарантия качества
    .certificates
        .container
            .row.justify-content-center
                .col-md.col-sm-6.col-12.ceriticate
                    .wrap_img
                        img.img-responsive(src="img/certificate_1.png", alt="certificate 1")
                .col-md.col-sm-6.col-12.ceriticate
                    .wrap_img
                        img.img-responsive(src="img/certificate_2.png", alt="certificate 2")
                .col-md.col-sm-6.col-12.ceriticate
                    .wrap_img
                        img.img-responsive(src="img/certificate_3.png", alt="certificate 3")
section.banner_3(style="background-image: url('../img/banner_3_bg.jpg')")
    .container
        .custom_title
            span.order_number
                | 06.
                h2
                    span.accent Запишитесь
                    |  на развал-схождение
        #calendar
        form(data-form-type="Запись на развал схождения", method="post")
            .inpt_transparent
                input(type="text", placeholder="Введите имя", name="name")
            .inpt_transparent
                input(type="tel", placeholder="Введите телефон", name="phone", required)
            .btn_painted
                input(type="submit", value="Записаться")
            input(type="hidden", name="date")

section.our_reviews#to_review
    .container
        .custom_title
            span.order_number
                | 07.
                h2
                    span.accent Отзывы
                    |  о нас
        .slick_slider_reviews
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_1.png", alt="Review logo 1")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_2.png", alt="Review logo 2")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_3.png", alt="Review logo 3")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_4.png", alt="Review logo 4")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_1.png", alt="Review logo 1")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_2.png", alt="Review logo 2")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_3.png", alt="Review logo 3")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_4.png", alt="Review logo 4")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_1.png", alt="Review logo 1")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_2.png", alt="Review logo 2")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_3.png", alt="Review logo 3")
            .slide_review
                a(href="#review_modal").modal
                    img.img-responsive(src="img/logo_review_4.png", alt="Review logo 4")
section.mode_of_operation_and_contacts#to_contact
    .container
        .row.align-items-center.justify-content-sm-center
            .col-md.col-sm-auto
                .info
                    img(src="img/clock_icon.png", alt="Clock icon")
                    .desc
                        | Режим работы:
                        br
                        | пн-пт. 9.00 - 18.00
            .col-md.col-sm-auto
                .info
                    img(src="img/map_icon.png", alt="Map icon")
                    .desc
                        | г. Минск,
                        br
                        | ул. Ботаническая, 10
            .col-md.col-sm-auto
                .info
                    i.fi.flaticon-technology
                    .desc
                        a(href="tel+375296952080") +375 (29) 695 20 80
                        a(href="tel+375296952080") +375 (29) 695 20 80
                        a(href="tel+375296952080") +375 (29) 695 20 80
section#map