section.thanks
    .tnk
        .txt
            .top_b
                h2.t_1.text-uppercase Спасибо
                .t_2.text-uppercase за вашу заявку
                .t_3
                    | Мы свяжемся с Вами
                    br
                    | в ближайшее время
            img(src="img/thanks_car.png")
            .bot_b


