footer
	.container
		a(href="index.html").logo
			img(src="img/logo.png" alt="footer logo")
		ul.list_social
			li
				a(href="#")
					.fa.fa-facebook-f
			li
				a(href="#")
					.fa.fa-twitter
			li
				a(href="#")
					.fa.fa-google-plus-g
			li
				a(href="#")
					.fa.fa-linkedin-in
			li
				a(href="#")
					.fa.fa-pinterest
		p
			| 87 Tennessee hwy., Alexandria, VA, USA, 22303
			br
			a(href="#") (555) 2346-789
			| ,
			a(href="#") (555) 2346-790
section.copyright
	.container
		p 2018 © iRepair. All Rights Reserved | Privacy Policy
a(href="#")#toTop
	.fa.fa-chevron-up