header
  .container
    .row.align-items-center.justify-content-center.justify-content-md-between
      .col-auto
        .top_left
          .mail
            .fa.fa-envelope
            a(href="mailto:#") iRepair@demolink.org
          .phone
            .fa.fa-mobile-alt
            a(href="tel:#") 555 2346-789
      .col-auto
        .top_right
          ul.list_social
            li
              a(href="#")
                .fa.fa-facebook-f
            li
              a(href="#")
                .fa.fa-twitter
            li
              a(href="#")
                .fa.fa-google-plus-g
            li
              a(href="#")
                .fa.fa-linkedin-in
            li
              a(href="#")
                .fa.fa-pinterest
.subheader
  .container
    .row.no-gutters.justify-content-lg-between.align-items-center.justify-content-center
      .col-auto
        a.logo(href="index.html")
          img(src="img/logo.png" alt="logo")
      .col-lg.col-12
        nav
          button.btn_collapse_menu.d-md-none
            .fa.fa-bars
            span Menu
          ul.menu
            li.dropdown_menu
              a(href="index.html") Home
              ul.submenu
                li
                  a(href="#") Submenu
                li
                  a(href="#") Submenu
            li
              a(href="aboutus.html") Отзывы
            li
              a(href="services.html") Services
            li.dropdown_menu
              a(href="news.html") Блог
              ul.submenu
                li
                  a(href="#") Submenu
                li
                  a(href="#") Submenu
            li
              a(href="contacts.html") Contacts
            li.dropdown_menu
              a(href="#") Pages
              ul.submenu
                li
                  a(href="404.html") 404

