.modal.modal-service#modal-service-1
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-2
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-3
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-4
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-5
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-6
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-7
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-8
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-service#modal-service-9
    .modal-content.modal-service-content
        button.modal-close &times;
        p.modal-service-desc Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
        a(href="#order-service").modal-link.read_more Заказать
.modal.modal-order-service#order-service
    .modal-content.modal-order-service-content
        button.modal-close &times;
        form.modal-order-service-form
            input.modal-order-service-inpt(name="forename", placeholder="Имя")
            input.modal-order-service-inpt(name="phone", placeholder="Телефон")
            input.modal-order-service-inpt(name="info", placeholder="Информация об устройтсве")
            textarea.modal-order-service-txtarea(name="message", placeholder="Описание проблемы")
            input.modal-order-service-btn.read_more(type="submit", value="Отправить")