.contact_and_map
	.container
		.row
			.col-12.col-md-4
				.contacts
					h3 Контакты
					p.ct
						| Выставочный зал: г. Минск.
						br
						| пр. Независимости, 143/1 (ст.Метро.Восток).
						br
						| Время работы выставочного зала:
						br
						| пн-пт с 10- 20.00, сб. 10 -18, вс 11 -18
					.email
						i.fa.fa-envelope
						a(href="mailto:divan.belarus@gmail.com") divan.belarus@gmail.com
					.phone 
						i.fa.fa-phone
						a(href="tel:+375333983030") +375 (33) 398-30-30
					p.company
						| ЧП "Мир Мобильных технологий"
						br
						| Свидетельство 190658169 выдано 11 октября 2005 г. 
						br
						| Администрацией Московского р-на г. Минска
						br
						| УНП 190658169
						br
						| 220025 Минск, ул. Слободская, 165
						br
						| Дата регистрации в Торговом реестре РБ: 27.01.2015
			.col
				#map
		.row.justify-content-between.row_menu_and_logo_bot
			.col.align-self-center
				.logo
					img(src="img/logo.png")
					h1
						span диваны
						|  в Минске
			.col-sm-7.align-self-center
				ul.menu
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Распродажа
					li
						a(href="#") Доставка
					li
						a(href="#") Отзывы
					li
						a(href="#") Шоу-рум
					li
						a(href="#") Контакты
		.row
			.col
				p.copy Copyright © 2018  Магазин мебели
footer
	.container
		.row.justify-content-center
			.col-auto
				.create_site
					img(src="img/logo_develop.png")
					a(href="#")
						| Разработка сайтов
						br
						| Продвижение и оптимизация

