header
    .container
        .row
            .col-xl-7.col-lg-6.col-md-4.col-12
                .time_consultation Онлайн консультации: с 9.00 - 21.00  Без выходных

            .col-auto
                .email
                    i.fa.fa-envelope
                    a(href="mailto:divan.belarus@gmail.com") divan.belarus@gmail.com
            .col-auto
                .phone
                    i.fa.fa-phone
                    a(href="tel:+375333983030") +375 (33) 398-30-30
.subheader
    .container
        .row.align-items-center
            .col
                a.logo(href="main.html")
                    img(src="img/logo.png")
                    h1
                        span диваны
                        |  в Минске
            .col-sm-7
                ul.menu
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Распродажа
                    li
                        a(href="#") Доставка
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Шоу-рум
                    li
                        a(href="#") Контакты
            .col-12.col-md
                .call_back
                    a.modalbox(href="#form_callback",rel="nofollow") Заказать звонок