.col-sm-12.col-md-4.col-lg-3.col-xl-3
                .sidebar
                    h3.text-center Каталог
                    .widjets
                        .widjet
                            .title
                                img(src="img/cat_1_sidebar.png")
                                span.cat_name Мягкая мебель
                            ul.list_subcat
                                li
                                    a(href="#") Угловые диваны
                                li
                                    a(href="#") Прямые диваны
                                li
                                    a(href="#") Аккордеон
                                li
                                    a(href="#") Эконом
                                li
                                    a(href="#") Офис
                        .widjet
                            .title
                                img(src="img/cat_2_sidebar.png")
                                span.cat_name Кухни
                            ul.list_subcat
                                li
                                    a(href="#") Угловые диваны
                                li
                                    a(href="#") Прямые диваны
                                li
                                    a(href="#") Обеденные группы
                        .widjet
                            .title
                                img(src="img/cat_3_sidebar.png")
                                span.cat_name Корпусная мебель
                            ul.list_subcat
                                li
                                    a(href="#") Стенки
                                li
                                    a(href="#") Спальные гарнитуры
                                li
                                    a(href="#") Прихожие
                                li
                                    a(href="#") Журнальные столики
                                li
                                    a(href="#") Комоды
                                li
                                    a(href="#") Кровати
                    a(href="#").stock(style="background-image: url('img/stock_sidebar.jpg')")
                        .content.text-center
                            span Акции
                            | этого месяца