include ../layouts/banner.pug
include ../layouts/breadcrumb.pug
.is_katalog
	.container
		.custom_title.text-center
			h2 Каталог мебели
		.cat.cat_1
			a(href="#").link_cat
				h3 Мягкая мебель
				img(src="img/arrow_round.png", alt="")
			.desc Мягкая мебель – это один из центральных предметов интерьера, который обуславливает атмосферу помещения, а также обеспечивает удобство пребывания.
			.variations.row
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 79px; height: 53px; background-image: url('img/subcategory_1_1.png')")
							.name Угловые диваны
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 91px; height: 54px; background-image: url('img/subcategory_1_2.png')")
							.name Прямые диваны
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 85px; height: 54px; background-image: url('img/subcategory_1_3.png')")
							.name Аккордеон
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 80px; height: 54px; background-image: url('img/subcategory_1_4.png')")
							.name Эконом
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 90px; height: 52px; background-image: url('img/subcategory_1_5.png')")
							.name Офис
		.cat.cat_2
			a(href="#").link_cat
				h3 Кухни
				img(src="img/arrow_round.png", alt="")
			.desc Благоустройству кухни придается особое значение. Причем основную функцию для создания комфортной атмосферы играет кухонная мебель.
			.variations.row
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 79px; height: 53px; background-image: url('img/subcategory_2_1.png')")
							.name Угловые диваны
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 68px; height: 53px; background-image: url('img/subcategory_2_2.png')")
							.name Стулья
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 79px; height: 42px; background-image: url('img/subcategory_2_3.png')")
							.name Обеденные группы
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 78px; height: 46px; background-image: url('img/subcategory_2_4.png')")
							.name Кухонные уголки
		.cat.cat_3
			a(href="#").link_cat
				h3 Корпусная мебель
				img(src="img/arrow_round.png", alt="")
			.desc Корпусная мебель - это основа любого современного интерьера.
			.variations.row
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 85px; height: 61px; background-image: url('img/subcategory_3_1.png')")
							.name Угловые диваны
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 61px; height: 61px; background-image: url('img/subcategory_3_2.png')")
							.name Прямые диваны
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 58px; height: 60px; background-image: url('img/subcategory_3_3.png')")
							.name Аккордеон
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 72px; height: 61px; background-image: url('img/subcategory_3_4.png')")
							.name Эконом
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 68px; height: 55px; background-image: url('img/subcategory_3_5.png')")
							.name Офис
				.col-auto
					a(href="#").variation
						.content
							.subcat_icon(style="width: 65px; height: 62px; background-image: url('img/subcategory_3_6.png')")
							.name Офис
		.add_info
			| Доставку изделий осуществляют партнеры-транспортные службы.
			br
			| Доставка производится как по г. Минску, так и по всей территории Республики Беларусь. Сроки доставки: от  1 до 5 рабочих дней. 
			br
			|Стоимость  услуг  варьируется от 20 руб. до 55 руб, в зависимости от расстояния и габаритов изделия *
		.PS * изделий, находящихся на Складе Поставщика.