.is_main
	.banner_slider
		.banner(style="background-image: url('img/main_slide_2.jpg')").text-center
			h2
				| Специальное предложение для вас 
				br
				span.text-uppercase диваны со скидкой
			.watch_btn.buy_btn
				a(href="#") Смотреть
		.banner(style="background-image: url('img/main_slide_1.jpg')").text-center
			h2
				| Специальное предложение для вас
				br
				span.text-uppercase диваны со скидкой
			.watch_btn.buy_btn
				a(href="#") Смотреть
	.container
		.categories
			.custom_title.text-center
				h2 Категории товаров
			.row
				.col.text-center
					.category.category_1
						.picture
							img(src="img/cat_3.jpg")
						a.link_cat(href="#")
							.txt Мягкая мебель
							img(src="img/arrow_round.png")
				.col.text-center
					.category.category_2
						.picture
							img(src="img/cat_2.jpg")
						a.link_cat(href="#")
							.txt Кухни
							img(src="img/arrow_round.png")
				.col.text-center
					.category.category_3
						.picture
							img(src="img/cat_1.jpg")
						a.link_cat(href="#")
							.txt Корпусная мебель
							img(src="img/arrow_round.png")
		.our_advantages
			.custom_title.text-center
				h2 Наши премущества
			.row
				.col.text-center
					.advantage
						.advantage_img
							img(src="img/lorry_advantages.png")
						.content
							span.text-uppercase Доставка
							|  по всей Беларуси от 1 до 5-ти дней
				.col.text-center
					.advantage
						.advantage_img
							img(src="img/sofa_advantages.png")
						.content
							span.text-uppercase Более 100
							|  наименований в наличии
				.col.text-center
					.advantage
						.advantage_img
							img(src="img/awards_advantages.png")
						.content
							span.text-uppercase Гарантия
							|  от 6 месяцев
	
		.row.stock_wrap_container
			.col
				img(src="img/stock_page.jpg")
				.stock_wrap
					.content_stock.text-center
						.title Акция
						.txt скидки на угловые диваны
						.proc %
				.clearfix
		.novelties_products
			.custom_title.text-center
				h2 Наши новинки
			.row.slides_products
				.col
					.product
						.sale Распродажа
						.pictures
							.thumbs
								img.center-block(src="img/sofa_corner_min.jpg")
								img.center-block(src="img/sofa_corner_min.jpg")
								img.center-block(src="img/sofa_corner_min.jpg")
								img.center-block(src="img/sofa_corner_min.jpg")
								img.center-block(src="img/sofa_corner_min.jpg")
								img.center-block(src="img/sofa_corner_min.jpg")
							a.preview(href="#")
								img.center-block(src="img/sofa_corner.jpg", alt="")
								img.center-block(src="img/sofa_corner.jpg", alt="")
								img.center-block(src="img/sofa_corner.jpg", alt="")
								img.center-block(src="img/sofa_corner.jpg", alt="")
								img.center-block(src="img/sofa_corner.jpg", alt="")
								img.center-block(src="img/sofa_corner.jpg", alt="")
						.desc
							.cat Диван угловой
							.name "Премьер"
							.params
								.param
									.title длина
									span.val 250 см
								.param
									.title глубина
									span.val 155 см
								.param
									.title высота
									span.val 250 см
							.price
								span.old 590 BYN
								span.new 499 BYN
							.buy_btn
								a(href="#") Купить
				.col
					.product
						.pictures
							.thumbs
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
							a.preview(href="#")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
						.desc
							.cat Диван 
							.name "Вента"
							.params
								.param
									.title длина
									span.val 250 см
								.param
									.title глубина
									span.val 155 см
								.param
									.title высота
									span.val 250 см
							.price
								span.old 780 BYN
								span.new 622 BYN
							.buy_btn
								a(href="#") Купить
				.col
					.product
						.pictures
							.thumbs
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
							a.preview(href="#")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
						.desc
							.cat Диван 
							.name "Вента"
							.params
								.param
									.title длина
									span.val 250 см
								.param
									.title глубина
									span.val 155 см
								.param
									.title высота
									span.val 250 см
							.price
								span.old 780 BYN
								span.new 622 BYN
							.buy_btn
								a(href="#") Купить
				.col
					.product
						.pictures
							.thumbs
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
							a.preview(href="#")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
						.desc
							.cat Диван 
							.name "Вента"
							.params
								.param
									.title длина
									span.val 250 см
								.param
									.title глубина
									span.val 155 см
								.param
									.title высота
									span.val 250 см
							.price
								span.old 780 BYN
								span.new 622 BYN
							.buy_btn
								a(href="#") Купить
				.col
					.product
						.pictures
							.thumbs
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
								img.center-block(src="img/sofa.jpg")
							a.preview(href="#")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
								img.center-block(src="img/sofa.jpg", alt="")
						.desc
							.cat Диван 
							.name "Вента"
							.params
								.param
									.title длина
									span.val 250 см
								.param
									.title глубина
									span.val 155 см
								.param
									.title высота
									span.val 250 см
							.price
								span.old 780 BYN
								span.new 622 BYN
							.buy_btn
								a(href="#") Купить
	.recall_block(style="background-image: url('img/bg_recall.jpg')")
		.container
			.custom_title.text-center
				h2 Отзывы клиентов
			.row
				.col
					.recall
						.picture
							img(src="img/people_recall_1.png")
						.name Светлана
						p.
							"Обратились в магазин по совету знакомого, они уже покупали у вас. Недорогая цена дивана, качество и красота - выше всех похвал! Купили набор мебели в гостиную и нарадоваться не можем! Молодцы!"
				.col
					.recall
						.picture
							img(src="img/people_recall_2.png")
						.name Виктор
						p.
							"Приобрели недорогой диванчик, кресло и банкетку с доставкой в Могилев. Доставили за 2 дня. Мебель красивая, качественная. Нам очень нравится! Спасибо!"
				.col
					.recall
						.picture
							img(src="img/people_recall_3.png")
						.name Мария
						p.
							“Была приятно удивлена внимательностью менеджеров - сервис на высоте! Заказывали диван Астра - это хороший и недорогой диван, диван отлично вписался в интерьер, да и цена привлекательная! Рекомендую!”
			.row
				.col.text-center
					.watch_all
						a(href="#") Смотреть все
	.our_certificates
		.container
			.custom_title.text-center
				h2 Наши сертификаты
			.row.text-center
				.col
					img(src="img/certificate.png", alt="Certificate 1")
				.col
					img(src="img/certificate.png", alt="Certificate 2")
				.col
					img(src="img/certificate.png", alt="Certificate 3")

