.page.single_product
    .container
        .row.justify-content-between
            include ../layouts/sidebar.pug
            .col-12.col-md-8.col-lg-8
                .main_content_single_product
                    .row
                        .col-12.col-lg-6
                            .pictures
                                .preview
                                    img(src="img/single_sofa_corner.jpg")
                                    img(src="img/single_sofa_corner.jpg")
                                    img(src="img/single_sofa_corner.jpg")
                                    img(src="img/single_sofa_corner.jpg")
                                    img(src="img/single_sofa_corner.jpg")
                                .thumbs
                                    img(src="img/single_sofa_corner_min.jpg")
                                    img(src="img/single_sofa_corner_min.jpg")
                                    img(src="img/single_sofa_corner_min.jpg")
                                    img(src="img/single_sofa_corner_min.jpg")
                                    img(src="img/single_sofa_corner_min.jpg")
                        .col-12.col-lg-6
                            h3 Диван угловой “Премьер”
                            .price
                                .new 499 руб
                                .old 590 руб
                            .short_desc
                                .attr.attr_1
                                    b Форма:
                                    span.val  угловой
                                .attr.attr_2
                                    b Каркас:
                                    span.val  мебельный щит,массив
                                .attr.attr_3
                                    b Обивка:
                                    span.val  Textile Rustic
                                .attr.attr_4
                                    b Обивка компаньен:
                                    span.val  White
                                .attr.attr_5
                                    b Цвет:
                                    span.val  белый
                                .attr.attr_6
                                    b Механизм трансформации
                                    span.val  дельфин
                                .attr.attr_7
                                    b Длинна:
                                    span.val  250 см
                                .attr.attr_8
                                    b Глубина:
                                    span.val  155 см
                                .attr.attr_9
                                    b Высота:
                                    span.val  90 см
                                .attr.attr_10
                                    b Длинна спального места:
                                    span.val  197 см
                                .attr.attr_11
                                    b Ширина спального места:
                                    span.val  140 см
                                .attr.attr_12
                                    b Гарантия:
                                    span.val  12 месяцев
                    .row
                        .col-12.col-lg-6
                            .add_info_1 Наличный, безналичный расчет., оплата по терминалу, оплата через систему ЕРИП
                            .add_info_2
                                | *По халве в рассрочку
                                img(src="img/cart_halva.png", alt="Halva")
                        .col-12.col-lg-6
                            .btns_buy
                                .buy_btn
                                    a(href="#") Купить
                                .buy_btn.one_click
                                    a.modalbox(href="#form_order",rel="nofollow") Купить в 1 клик
                            .PS *Гарантия самой низкой цены
                    .row
                        .col
                            .logn_desc
                                .title Описание товара
                                .content
                                    .row
                                        .col-12.col-sm-6
                                            .one_col
                                                .attr.attr_1
                                                    span Форма:
                                                    span.val  угловой
                                                .attr.attr_2
                                                    span Механизм трансформации:
                                                    span.val  дельфин
                                                .attr.attr_3
                                                    span Обивка
                                                    span.val  Textile Rustic
                                                .attr.attr_4
                                                    span Обивка компаньен
                                                    span.val  White
                                                .attr.attr_5
                                                    span Цвет
                                                    span.val  белый
                                                .attr.attr_6
                                                    span Каркас
                                                    span.val  мебельный щит,массив
                                                .attr.attr_7
                                                    span Комплектация
                                                    span.val  ящик для белья, столик
                                        .col-12.col-sm-6
                                            .two_col
                                                .attr.attr_8
                                                    span Длинна спального места
                                                    span.val  197 см
                                                .attr.attr_9
                                                    span Ширина спального места
                                                    span.val  140 см
                                                .attr.attr_10
                                                    span Высота спального места
                                                    span.val  41 см
                                                .attr.attr_11
                                                    span Длинна
                                                    span.val  250 см
                                                .attr.attr_12
                                                    span Глубина
                                                    span.val  155 см
                                                .attr.attr_13
                                                    span Высота
                                                    span.val  90 см
        .row
            .col
                .custom_title.title_popular_product.text-center
                    h2 Популярные товары
                .popular_products.slides_products.row
                    .col
                        .product
                            .sale Распродажа
                            .pictures
                                .thumbs
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                    img.center-block(src="img/sofa_corner_min.jpg")
                                a.preview(href="#")
                                    img.center-block(src="img/sofa_corner.jpg")
                                    img.center-block(src="img/sofa_corner.jpg")
                                    img.center-block(src="img/sofa_corner.jpg")
                                    img.center-block(src="img/sofa_corner.jpg")
                                    img.center-block(src="img/sofa_corner.jpg")
                                    img.center-block(src="img/sofa_corner.jpg")
                            .desc
                                .cat Диван угловой
                                .name "Премьер"
                                .params
                                    .param
                                        .title длина
                                        span.val 250 см
                                    .param
                                        .title глубина
                                        span.val 155 см
                                    .param
                                        .title высота
                                        span.val 250 см
                                .price
                                    span.old 590 BYN
                                    span.new 499 BYN
                                .buy_btn
                                    a(href="#") Купить
                    .col
                        .product
                            .pictures
                                .thumbs
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                a.preview(href="#")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                            .desc
                                .cat Диван
                                .name "Вента"
                                .params
                                    .param
                                        .title длина
                                        span.val 250 см X
                                    .param
                                        .title глубина
                                        span.val 155 см X
                                    .param
                                        .title высота
                                        span.val 250 см
                                .price
                                    span.old 780 BYN
                                    span.new 622 BYN
                                .buy_btn
                                    a(href="#") Купить
                    .col
                        .product
                            .pictures
                                .thumbs
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                a.preview(href="#")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                            .desc
                                .cat Диван
                                .name "Вента"
                                .params
                                    .param
                                        .title длина
                                        span.val 250 см X
                                    .param
                                        .title глубина
                                        span.val 155 см X
                                    .param
                                        .title высота
                                        span.val 250 см
                                .price
                                    span.old 780 BYN
                                    span.new 622 BYN
                                .buy_btn
                                    a(href="#") Купить
                    .col
                        .product
                            .pictures
                                .thumbs
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                a.preview(href="#")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                            .desc
                                .cat Диван
                                .name "Вента"
                                .params
                                    .param
                                        .title длина
                                        span.val 250 см X
                                    .param
                                        .title глубина
                                        span.val 155 см X
                                    .param
                                        .title высота
                                        span.val 250 см
                                .price
                                    span.old 780 BYN
                                    span.new 622 BYN
                                .buy_btn
                                    a(href="#") Купить
                    .col
                        .product
                            .pictures
                                .thumbs
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                a.preview(href="#")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                                    img.center-block(src="img/sofa.jpg")
                            .desc
                                .cat Диван
                                .name "Вента"
                                .params
                                    .param
                                        .title длина
                                        span.val 250 см X
                                    .param
                                        .title глубина
                                        span.val 155 см X
                                    .param
                                        .title высота
                                        span.val 250 см
                                .price
                                    span.old 780 BYN
                                    span.new 622 BYN
                                .buy_btn
                                    a(href="#") Купить

