- var breadcrumbs = ['Главная','Каталог'];
doctype html
html(lang="ru")
    include layouts/head.pug
    body
        include layouts/header.pug
        include layouts/breadcrumbs.pug
        include pages/catalog.pug
        include layouts/footer.pug
        include layouts/modalOrderCall.pug
        script(src="js/scripts.min.js")


