- var breadcrumbs = ['Главная','Каталог','Масла для коммерческой техники','Моторные масла'];
doctype html
html(lang="ru")
    include layouts/head.pug
    body
        include layouts/header.pug
        include layouts/breadcrumbs.pug
        include pages/category.pug
        include layouts/footer.pug
        include layouts/modalOrderCall.pug
        script(src="js/scripts.min.js")


