- var breadcrumbs = ['Главная','Каталог','Масла для коммерческой техники','Моторные масла','TITAN GT1 PRO FLEX 5W-30 (4L)'];
doctype html
html(lang="ru")
    include layouts/head.pug
    body
        include layouts/header.pug
        include layouts/breadcrumbs.pug
        include pages/single-product.pug
        include layouts/footer.pug
        include layouts/modalOrderCall.pug
        include layouts/modalGetConsultation.pug
        script(src="js/scripts.min.js")


