footer(style="background-image: url('../img/footer_bg.jpg')")
    .container
        .row
            .col-auto.d-none.d-md-block
                a.logo(href="/")
                    img(src="img/logo.png" alt="Logo")
            .col-sm.offset-sm-1.col-12.offset-0
                .contacts
                    b Контакты:
                    .phone_foot
                        a(href="tel:+375291244477") +375-29-124-44-77
                    .timework Время работы: Пн-Пт с 10-00 до 19-00
                    .mail
                        a(href="mailto:Info@hr-special.by") Info@hr-special.by
                .row_links
                    a(href="tg://resolve?domain=+375291244477")
                        i.fi.flaticon-telegram
                    a(href="viber://chat?number=+375291244477")
                        i.fi.flaticon-viber
                    a(href="skype:Info@hr-special.by?call")
                        i.fi.flaticon-sk
                .groupe_company
                    .title Группы компании:
                    .row_link_groups
                        a(href="https://www.linkedin.com/company/hr-special/")
                            i.fi.flaticon-linkedin
                        a(href="https://www.facebook.com/hr.special.by/")
                            i.fi.flaticon-facebook
                        a(href="https://vk.com/hr_special")
                            i.fi.flaticon-vk
                        a(href="https://t.me/HR_Special")
                            i.fi.flaticon-telegram
            .col-sm.col-12
                .txt
                    p © hr-solutions.by, 2018 Все права защищены
                    br
                    p
                        | Любое использование, либо копирование материалов
                        | или подборки материалов сайта, элементов дизайна и
                        | оформления допускается лишь с разрешения
                        | правообладателя и только со ссылкой на источник:
                        | hr-solutions.by
                    br
                    p
                        | ИП Богуславский Р.В.
                        br
                        | УНП №192987646
                        br
                        | выдан Минским горисполкомом 25.10.2017
            .col-sm-auto.col-12
                ul.menu_footer
                    li
                        a(href="#to_about_company" data-to) о компании
                    li
                        a(href="#to_service" data-to) услуги
                    li
                        a(href="#to_team" data-to) команда
                    li
                        a(href="#to_price" data-to) цены
                    li
                        a(href="#to_vacancy" data-to) вакансии