footer
	.container
		.row
			.col-sm-12
				h4 Stable
				.privacy © 2014 | 
					a(href="#") Privacy Policy
			.col-sm-12
					.designed Website designed by 
						a(href="#") TemplateMonster.com
a#to_top(href="#")
	i.fa.fa-chevron-up