.preloader
	.circle
mixin header(...items)
	div.header
		.container
			.row
				.col-sm-12
					header
						a(href="index.html")
							img.logo(src="img/logo.jpg", alt="Logo")
							h1 Stable
							.clearfix
			.row
				.col-sm-12
					nav
						ul.main-menu
							each item in items 
								li(class={active: item==page})
									if(item=='Home')
										a(href= 'index.html')= item
									else
										a(href= item+'.html')= item
			if(page=='Home')
				.row
					.col-lg-4.col-md-5.col-sm-7
						.blocks
							a.block-1(href="#")
								i.fa.fa-globe
								span Global Research
							a.block-2(href="#")
								i.fa.fa-lightbulb-o
								span Creative Ideas
							a.block-3(href="#")
								i.fa.fa-cog
								span New Services
							a.block-4(href="#")
								i.fa.fa-briefcase
								span Pro Management
							.clearfix
					.col-lg-5.col-md-6.col-sm-5
						h2 
							|Strong
							br
							|Stable
							br
							|Safe
						p 	
							|We help you run your business
							br
							|in a successful way
