.delivery_and_pay_with_footer(style="background: url('../img/Shipping_and_payment_img_1.png') 100% 50% no-repeat,url('../img/footer_bg.png') bottom left no-repeat")
    section.delivery_and_pay#to_delivery_and_pay
        .container
            h2 Доставка и оплата
            p
                | Мы доставляем  бесплатно курьером софосбувир (MPIVIROPACK) , даклатасвир ( Daclavirocyrl )  и Софосбувир +Ледипасвир ( MPIviropack )
                | в Минск , Гомель, Могилев, Витебск, Гродно, Брест, Борисов ,Жодино, Дзержинск, Смолевичи, Волковыск,Скидель ,Щучин,Слоним, Кобрин ,
                | Пинск , Лиду,  Молодечно, Барановичи, Слуцк, Оршу, Полоцк, Новополоцк, Бобруйск, Солигорск,  Светлогорск, Жлобин, Мозырь, Речицу
                | и другие города.
            p.text-uppercase
                | Срок доставки 1-2 дня с момента получения заказа.
            p По России почтой , наложенным платежом.
            p Способ оплаты:
            p
                | курьеру после получения лекарств и проверки на подлинность и целостность упаковки
                | либо по почте наложенным платежом
    footer#to_contacts
        .container
            .row.align-items-center.justify-content-sm-center.justify-content-md-between.justify-content-center
                .col-auto.col-sm-auto.col-lg-auto
                    a.logo.text-uppercase(href="/")
                        .txt.text-uppercase sofosbuvir
                .col-auto.col-md.col-sm-auto.col-lg-auto
                    .row_phones
                        .phone
                            b Россия:
                            |
                            a(href="+79031124995")
                                | +7 (903)
                                |
                                b 112 49 95
                        .phone_icons
                            a(href="https://api.whatsapp.com/send?phone=375257297057")
                                i.fi.flaticon-phone-receiver
                            a(href="viber://add?number=%2B375257297057")
                                i.fi.flaticon-call
                            a(href="tel:+375257297057")
                                i.fi.flaticon-call
                        .phone
                            b.d-md-none.d-inline Беларусь:
                            a(href="+375257297057")
                                | +375 (25)
                                |
                                b 729-70-57
                .col-auto.col-md.col-sm-auto.col-lg-auto
                    .btn_painted
                        a.modal(href="#form_order_call") Заказать звонок