header
    .container
        .row.align-items-center.justify-content-between
            .col-lg-auto.col-md-auto
                a.logo.text-uppercase.d-none.d-md-block(href="/")
                    .txt.text-uppercase sofosbuvir
            .col-lg-auto.col-md
                .row_phones
                    .phone
                        b Россия:
                        |
                        a(href="+79031124995")
                            | +7 (903)
                            |
                            b 112 49 95
                    .phone_icons
                        a(href="https://api.whatsapp.com/send?phone=375257297057")
                            i.fi.flaticon-phone-receiver
                        a(href="viber://add?number=%2B375257297057")
                            i.fi.flaticon-call
                        a(href="tel:+375257297057")
                            i.fi.flaticon-call
                    .phone
                        b.d-md-none.d-inline Беларусь:
                        a(href="+375257297057")
                            | +375 (25)
                            |
                            b 729-70-57
            .col-lg-auto.col-md.d-none.d-md-block
                .btn_painted
                    a.modal(href="#form_order_call") Заказать звонок