.modal_overlay#form_order_call
    .modal_wrapper
        .modal
            a(href="#").close &times;
            form
                .title
                    span оставьте свой номер
                    span и мы вам перезвоним
                    span в течение 5 минут
                .inpt_transparent
                    input(type="tel", placeholder="Введите телефон" name="phone")
                .btn_painted
                    input(type="submit", value="Заказать звонок")
                input(type="hidden", value="Заказ звонка" name="form_type")
                .PS * Мы не передаем данные третьим лицам
.modal_overlay#recall_preview
    .modal_wrapper
        .modal
            a(href="#").close &times;
            .recall
                img.img-responsive(src="img/recall_before_therapy_1.png" alt="Before therapy 1")
                img.img-responsive(src="img/recall_after_therapy_1.png" alt="Before therapy 1")
            .recall
                img.img-responsive(src="img/recall_before_therapy_1.png" alt="Before therapy 1")
                img.img-responsive(src="img/recall_after_therapy_1.png" alt="Before therapy 1")
            .recall
                img.img-responsive(src="img/recall_before_therapy_1.png" alt="Before therapy 1")
                img.img-responsive(src="img/recall_after_therapy_1.png" alt="Before therapy 1")
            .recall
                img.img-responsive(src="img/recall_before_therapy_1.png" alt="Before therapy 1")
                img.img-responsive(src="img/recall_after_therapy_1.png" alt="Before therapy 1")

