section.s-service-1c
    .container
        .row.justify-content-between
            .col-12.col-md-8
                .title
                    h2 Обслуживание 1С
                    h4 Комплексное обслуживание 1С: внедрение, сопровождение и доработка любых конфигураций
                p
                    | Мы предлагаем полный спектр профессиональных услуг по обслуживанию систем 1С:Предприятие в целях эффективного решения задач клиентов, обеспечения стабильности и быстродействия в работе баз данных.
                h5.title-list-marker Особенности нашего обслуживания 1С:
                ul.list-marker
                    li.list-marker-li Мы обслуживаем любые платформы и конфигурации 1С
                    li.list-marker-li Задачи клиента решаются опытными сертифицированными специалистами 1С
                    li.list-marker-li Обслуживание ведется удаленно, с возможностью выезда специалистов
                    li.list-marker-li Горячая линия поддержки работает круглосуточно
            .col-12.col-md-3.col-lg-2.text-center
                img.img-responsive(src="img/1c.png" alt="1c")
                a.modal-link.find-out-cost(href="#find-out-cost") Узнать стоимость
section.s-service-1c-include
    .container
        h2.text-center.s-service-1c-include-title Обслуживание 1C включает
        .sevice-include
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_1.png" alt="Service icon 1")
                .sevice-include-title
                    | Внедрение 1C
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_2.png" alt="Service icon 2")
                .sevice-include-title
                    | Доработка 1c
                    .sevice-include-wrap-info
                        img.sevice-include-icon-info(src="img/icon_notice.png" alt="Icon notice")
                        .sevice-include-info Услуги по доработке конфигурации, включая разработку индивидуальных или редактирование текущих документов и отчетов в 1С, предоставляются в зависимости от задач пользователей, специфики отраслей и особенностей учетных политик. Измененную после доработки базу можно перенести на другую платформу (при условии ведения работы в 1С 7.7) либо на улучшенную в плане функциональности конфигурацию 1С. При этом должен быть проведен тщательный анализ необходимости доработки.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_3.png" alt="Service icon 3")
                .sevice-include-title
                    | Настройка 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Сразу после внедрения 1С проводится настройка учетной политики и параметров учета. Для гарантии конфиденциальности информации и диверсификации полномочий между пользователями настраиваются права доступа. Неправильная настройка может стать причиной ошибок в учете и привести к дополнительным расходам, поэтому не нужно пытаться настроить что-то самостоятельно.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_4.png" alt="Service icon 4")
                .sevice-include-title
                    | Поддержка 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Все наши клиенты подписаны на информационно-техническую поддержку 1С. Это дает им возможность получать диски с обновленными релизами, учебными материалами для увеличения эффективности работы в 1С и прочие услуги. Каждому клиенту предоставляется закрепленная команда: архитектор, ведущий консультант, эксперт по технологическим вопросам, программист 1С.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_5.png" alt="Service icon 5")
                .sevice-include-title
                    | Обследование 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Для оценки и улучшения быстродействия системы учета есть возможность проведения обследования 1С. Оно предполагает аудит ведения учета, после проведения которого бывают обнаружены ошибки. Специалисты предоставляют помощь либо рекомендации по их исправлению. На этапе обследования также проводится анализ использования возможностей программы 1С. Результатом анализа является предоставление консультаций по настройке или доработке 1С.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_6.png" alt="Service icon 6")
                .sevice-include-title
                    | Исправление 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info В работе программы могут возникнуть сбои, чаще всего это происходит из-за некорректной фиксации изменений в 1С. Наиболее частыми являются ошибки при запуске, установке или обновлении 1С. Мы обеспечиваем комфортную работу в 1С благодаря оперативному выявлению неисправностей и их устранению.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_7.png" alt="Service icon 7")
                .sevice-include-title
                    | Тестирование 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Проводится тестирование структурной целостности базы, проверка ссылочной целостности. Это значительно минимизирует риск появления ошибок в 1С.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_8.png" alt="Service icon 8")
                .sevice-include-title
                    | Восстановление 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Восстановление программы проводится из раннее созданных резервных копий. Восстанавливается база 1С, повторно настраивается, проводится дальнейшее резервное копирование для возможности вновь восстановить данные при форс-мажорной ситуации.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_9.png" alt="Service icon 9")
                .sevice-include-title
                    | Обновление 1С
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Во избежание ошибок и для оптимизации трудовых затрат необходимо своевременно обновлять печатные формы, регламентированную и статистическую отчетность в 1С. Доставка релизов для обновлений производится на дисках ИТС-подписки. В обновлениях учтены изменения условий ведения деятельности, в том числе изменения в законодательной базе. Возможен также переход на более новую версию программы или обновление базы 1С с учетом предыдущих доработок.
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_10.png" alt="Service icon 10")
                .sevice-include-title
                    | Резервное копирование
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_11.png" alt="Service icon 11")
                .sevice-include-title
                    | Обучение
            .sevice-include-item
                img.sevice-include-img(src="img/service_icon_12.png" alt="Service icon 12")
                .sevice-include-title
                    | Оптимизация
                    .sevice-include-wrap-info
                        img(src="img/icon_notice.png" alt="Icon notice").sevice-include-icon-info
                        .sevice-include-info Оптимизация 1С является важным аспектом для комфортной работы в системе. Наши специалисты проводят необходимые проверки и устраняют препятствия для быстрой работы 1С.
section.s-guarantee-high-quality-service
    .container
        h2.s-guarantee-high-quality-service-title.text-center Гарантия качественного обслуживания 1С
        .guarantee
            .row
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_1.png" alt="quality")
                        .col
                            .guarantee-title Последовательное развитие системы 1C
                            .guarantee-desc Доработка системы осуществляется согласно утвержденной концепции и с акцепта Архитектора. Оперативные задачи решаются Консультантом и настройками.
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_2.png" alt="quality")
                        .col
                            .guarantee-title Система Канбан - результат в срок
                            .guarantee-desc Система борьбы с потерями обеспечивает своевременную постановку, выполнение и сдачу работ. Используется технология конвейера.
            .row
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_3.png" alt="quality")
                        .col
                            .guarantee-title Круглосуточная поддержка 24/7 - реакция 5 минут
                            .guarantee-desc Мы предоставляем гарантированное ежедневное круглосуточное обслуживание, наши специалисты всегда готовы оперативно решить возникающие задачи клиента.
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_4.png" alt="quality")
                        .col
                            .guarantee-title Стабильная команда
                            .guarantee-desc Каждый клиент получает закрепленную команду сертифицированных специалистов, в которую входит ведущий консультант, архитектор, программисты.

            .row
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_5.png" alt="quality")
                        .col
                            .guarantee-title Нагрузка распределяется автоматически
                            .guarantee-desc Система отслеживает загруженность сотрудников. Задачи распределяются между свободными исполнителями. Зависших задач не возникает.
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_6.png" alt="quality")
                        .col
                            .guarantee-title Система постановки и контроля выполнения задач
                            .guarantee-desc Наша система постановки и контроля исполнения задач, обеспечивает заказчика оперативной информацией о ходе работ.
            .row
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_7.png" alt="quality")
                        .col
                            .guarantee-title Минимизация доработок
                            .guarantee-desc Доработки 1С осуществляются только при необходимости, большинство задач решаются настройками, что снижает затраты клиента.
                .col-md.col-12.guarantee-item
                    .row
                        .col-auto
                            img.guarantee-img(src="img/quality_ssurance_8.png" alt="quality")
                        .col
                            .guarantee-title Оптимизация 1С
                            .guarantee-desc Наши специалисты проводят анализ и необходимые работы, направленные на повышение производительности системы 1С.
section.s-results-automation
    .container
        h2.s-results-automation-title Какие результаты вы получите после автоматизации склада?
        img.img-responsive.s-results-automation-img(src="img/stock.jpg" alt="Stock")
        .results-automation
            .row
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Увеличение скорости работы склада и оптимизация площади хранения.
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Систематичный контроль и анализ остатков, поступления, движения оборота и отгрузки товара.
            .row
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Возможность предоставлять услуги ответственного хранения – дополнительный доход для компании.
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Сокращение потерь предприятия: минимизация воровства, потерь от просроченных товаров.
            .row
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Экономия трудозатрат за счет сокращения ручного учета и формирования документации.
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Контроль персонала, сокращение расходов на его содержание.
            .row
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Снижение пересортицы на 99%.
                .col-md.col-12.results-automation-item
                    .row
                        .col-auto
                            img.results-automation-img(src="img/icon_checked.png" alt="Checked")
                        .col
                            .results-automation-desc Более эффективное использование складского оборудования.
section.s-how-we-work
    .container
        h2.s-how-we-work-title.text-center
            span.s-how-we-work-title-span Как мы работаем
        .how-we-work
            .row
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_1.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы делаем работу так, чтобы клиенты рекомендовали нас своим друзьям
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_2.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы строго соблюдаем правила конфиденциальности внутренней и внешней информации
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_3.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы ориентируемся на результат и соблюдение сроков – это ключевой показатель профессионализма
            .row
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_4.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы постоянно повышаем качество работы и уровень своих знаний
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_5.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы - команда, а это - залог нашего общего успеха
                .col-lg.col-12.how-we-work-item
                    .row
                        .col-auto
                            img.how-we-work-img(src="img/how_we_work_6.svg" alt="How we work")
                        .col
                            .how-we-work-desc Мы даем результат, за который получаем вознаграждение
section.s-our-clients
    .container
        h2.s-our-clients-title.text-center Наши клиенты — компании из самых разных отраслей
        .clients-list
            .row
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_1.svg" alt="Icon client 1")
                        .col
                            span Алкогольная продукция
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_2.svg" alt="Icon client 2")
                        .col
                            span Продукты питания
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_3.svg" alt="Icon client 3")
                        .col
                            span Электрооборудование
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_4.svg" alt="Icon client 4")
                        .col
                            span Обувь
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_5.svg" alt="Icon client 5")
                        .col
                            span Строительные материалы
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_6.svg" alt="Icon client 6")
                        .col
                            span Напольные покрытия
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_7.svg" alt="Icon client 7")
                        .col
                            span Межкомнатные двери
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_8.svg" alt="Icon client 8")
                        .col
                            span Запасные части
                .col-lg-4.col-sm-6.clients-list-item
                    .row.align-items-center
                        .col-auto
                            img.clients-list-img.img-responsive(src="img/our_clients_icon_9.svg" alt="Icon client 9")
                        .col
                            span Товары легкой промышленности