.block_with_main_slider
    .container.container_main_slider
        .main_slider
            .slide
                img(src="img/Mainslider/img_slide_1.jpg", alt="Main img 1")
            .slide
                img(src="img/Mainslider/img_slide_2.jpg", alt="Main img 2")
            .slide
                img(src="img/Mainslider/img_slide_3.jpg", alt="Main img 3")
            .slide
                img(src="img/Mainslider/img_slide_4.jpg", alt="Main img 4")
            .slide
                img(src="img/Mainslider/img_slide_5.jpg", alt="Main img 5")
            .slide
                img(src="img/Mainslider/img_slide_6.jpg", alt="Main img 6")
            .slide
                img(src="img/Mainslider/img_slide_7.jpg", alt="Main img 7")
            .slide
                img(src="img/Mainslider/img_slide_8.jpg", alt="Main img 8")
            .slide
                img(src="img/Mainslider/img_slide_9.jpg", alt="Main img 9")
            .slide
                img(src="img/Mainslider/img_slide_10.jpg", alt="Main img 10")
    .container
        .row
            .col-lg-offset-1.col-lg-5.col-md-offset-0
                p Основным направлением ювелирная мастерская выбрала изготовление предметов церковного обихода: евхаристические наборы, потиры, напрестольные и наперстные кресты, панагии, кадила и лампады, архиерейские жезлы, гребни, посохи, оклады для икон, мощевики и ковчеги.
            .col-lg-5
                p Особое внимание уделяется реставрационным работам церковной утвари. Изготовленные эксклюзивные изделия по собственным чертежам, либо эскизам заказчика, могут стать бесценным подарком и украшением любой коллекции.
        .row
            .col-lg-offset-1.col-lg-5.col-md-offset-0
                p Глубокое изучение древнерусского наследия и использование современных технологий, помогают не только повторять лучшие произведения прошлого, но и создавать новые.
            .col-lg-5
                p Работы мастерской сегодня можно встретить не только в разных уголках Республики Беларусь, но и далеко за ее пределами.
.wrap_main_content
    section.theark
        .container
            .col-sm-6.col-sm-push-6
                h2.text-uppercase.text-center ковчег для святых мощей
                p
                    |При изготовлении использовано: Дерево (американский орех), Серебро, золочение, литье, чеканка, камни, гравировка. Ковчег для хранения мощей святых можно увидеть далеко не в каждом храме, ведь это совершенно особая христианская реликвия, которая имеет особое значение для прихожан. Множество людей приезжает в храмы и монастыри где хранятся мощи святых, чтобы вознести свои молитвы с просьбами о здоровье, исцелении и наставлении на путь истинный.
                    br
                    |С давних времен в христианстве считается, что каждая молитва, идущая от чистого сердца, будет услышана. И многочисленные чудеса сотворенные мощами святых тому подтверждение.
                h3.text-uppercase варианты изготовления:
                .params
                     .param_1
                        img.img-responsive(src="img/Thearkslider/theark_param_img_1.jpg")
                     .param_2
                        img.img-responsive(src="img/Thearkslider/theark_param_img_2.jpg")
                     .param_3
                        img.img-responsive(src="img/Thearkslider/theark_param_img_3.jpg")
                     .param_4
                        img.img-responsive(src="img/Thearkslider/theark_param_img_4.jpg")
            .col-sm-6.col-sm-pull-6
                .theark_slider_param_1(data-nav="thumbs")
                    img(src="img/Thearkslider/theark_img_slide_p1_1.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p1_2.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p1_3.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p1_4.jpg")
                .theark_slider_param_2(data-nav="thumbs")
                    img(src="img/Thearkslider/theark_img_slide_p2_1.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_2.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_3.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_4.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_5.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_6.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p2_7.jpg")
                .theark_slider_param_3(data-nav="thumbs")
                    img(src="img/Thearkslider/theark_img_slide_p3_1.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p3_2.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p3_3.jpg")
                .theark_slider_param_4(data-nav="thumbs")
                    img(src="img/Thearkslider/theark_img_slide_p4_1.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p4_2.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p4_3.jpg")
                    img(src="img/Thearkslider/theark_img_slide_p4_4.jpg")
    section.souvenir
        .container
            .col-sm-6
                h2.text-uppercase.text-center сувениры
                p
                    | «Сувенир в честь 170 –летия Храма Равноапостольной Марии Магдалины»
                    br
                    | При изготовлении использовано: Серебро, камни, золочение, литье, чеканка, гравировка, живопись по горячей эмали. В августе 2017 года, учредителем мастерской, Благотворительным фондом имени Преподобной Ефросинии Полоцкой, преподнесены памятные подарки, изготовленные в нашей мастерской, Митрополиту Минскому и Заславскому Павлу, и Митрополиту Филарету, в честь 170-летия Храма Равноапостольной Марии Магдалины в городе Минске.
                h3.text-uppercase варианты изготовления:
                .params
                    .param_1
                        img.img-responsive(src="img/Souvenirslider/souvenir_param_img_1.jpg")
                    .param_2
                        img.img-responsive(src="img/Souvenirslider/souvenir_param_img_2.jpg")
                    .param_3
                        img.img-responsive(src="img/Souvenirslider/souvenir_param_img_3.jpg")
            .col-sm-6
                .souvenir_slider_param_1(data-nav="thumbs")
                    img(src="img/Souvenirslider/souvenir_img_slide_p1_1.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p1_2.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p1_3.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p1_4.jpg")
                .souvenir_slider_param_2(data-nav="thumbs")
                    img(src="img/Souvenirslider/souvenir_img_slide_p2_1.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p2_2.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p2_3.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p2_4.jpg")
                .souvenir_slider_param_3(data-nav="thumbs")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_1.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_2.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_3.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_4.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_5.jpg")
                    img(src="img/Souvenirslider/souvenir_img_slide_p3_6.jpg")
    section.icon_chalice
        .container
            .col-sm-7.col-sm-push-5
                h2.text-uppercase.text-center потир
                p
                    | При изготовлении использовано: Серебро, золочение, литье, чеканка, гравировка, живопись по горячей эмали.
                    br
                    | Потиры (от греческого «чаша, сосуд для питья») один из важнейших элементов православной культовой церковной утвари. В своих лучших образцах они являются не только атрибутами христианского таинства, но и высокохудожественными произведениями искусства.
                    br
                    | Церковный потир – это образ чаши, которую Господь Иисус Христос на тайной вечери преподнес своим ученикам со словами «Пейте от нее все, ибо сие есть Кровь Моя Нового Завета, за многих изливаемая во оставление грехов». (Мф. 26,27,28.)
            .col-sm-5.col-sm-pull-7
                img.img-responsive.center-block(src="img/icon_chalice.jpg")
    section.icon_salary
        .container
            .col-sm-7
                h2.text-center.text-uppercase Оклад иконы «Николай Чудотворец»
                p
                    |При изготовлении использовано: Серебро, золочение, литье, чеканка, гравировка.
                    br
                    |Оклады являлись одним из видов прикладного искусства и стали неотъемлемой чертой русской церкви. В религии сияющие ризы означают небесный свет, исходящий от иконы.
                    br
                    |Серебро означает чистоту одежд, а золото – божью благодать. Образа самых значительных икон состоят исключительно из драгоценных камней и жемчуга. Именно поэтому оклады и ризы стали изготавливаться из драгоценных металлов и камней.
            .col-sm-5
                img.img-responsive.center-block(src="img/icon_salary.jpg")