footer#to_contacts
	.container.text-center
		.under_line
			h2 Контакты
		.row
			.col-12.col-md
				.under_line
					h3 Телефон
				.phone
					a(href="+375296665415") +375 (29) 666-54-15
				.phone
					a(href="+375296665415") +375 (29) 666-54-15
			.col-12.col-md
				.under_line
					h3 Адрес
				address
					| ул. Тимирязева 10, оф. 100
					br
					| г. Минск, Республика
					br
					| Беларусь
			.col-12.col-md
				.under_line
					h3 Электронный адресс
				.mail
					a(href="mailto:bestcleaning@tut.by") bestcleaning@tut.by
		.copyright © 2017 Клининговая компания "Best Cleaning"
section.develop
	.container
		a(href="http://amtex.by/")
			img(src="img/logo_develop.png")
			| Разработка сайтов, продвижение и оптимизация

