header
    .container
        nav
            ul.menu
                li
                    a(href="#to_our_services") Услуги и цены
                li
                    a(href="#to_process_works") Процесс уборки
                li
                    a(href="#to_calculate") Калькулятор стоимости
                li
                    a(href="#to_executed_works") Наши работы
                li
                    a(href="#to_contacts") Контакты
            .btn_collapse
                span
                span
                span
