.modal_window#form_callback
    form
        .close &times;
        .title Оставьте заявку, чтобы заказать обратный звонок
        label(for="name_callback") Введите ваше имя:
        .input_type_1
            input#name_callback(type="text",placeholder="Имя")
        label(for="phone_callback") Введите ваш телефон:
        .input_type_1
            input#phone_callback(type="tel",placeholder="+375 ( - - )  - - -   - -   - -")
        .btn_type_2
            input(type="submit")
.modal_window#form_prevorder
    form
        .close &times;
        .title Отправить предварительный заказ на уборку
        label(for="name_order") Введите ваше имя:
        .input_type_1
            input#name_order(type="text",placeholder="Имя")
        label(for="tel_order") Введите ваш телефон:
        .input_type_1
            input#tel_order(type="tel",placeholder="+375 ( - - )  - - -   - -   - -")
        label(for="text_order") Введите ваши пожелания:
        textarea#text_order(rows="5")
        input(type="hidden" name="worktype")
        input(type="hidden" name="worktime")
        input(type="hidden" name="workdate")
        input(type="hidden" name="workregular")
        input(type="hidden" name="workpaymethod")
        input(type="hidden" name="worktopay")
        .btn_type_2
            input(type="submit")

