.widjettitle,
footer h2 {
  font-size: 18px;
  color: #a5adb8;
  padding-bottom: 10px;
  border-bottom: 1px solid #191c20;
  -webkit-box-shadow: 0 1px 0 0 #40474f;
  box-shadow: 0 1px 0 0 #40474f;
}
.flt:first-letter {
  color: #ae4b5d;
}
body {
  font-family: 'Arial', 'Sans-serif';
  font-size: 14px;
  background: url('../img/bg.jpg');
}
h1,
h2,
h3 {
  color: #a5adb8;
  font-weight: bold;
}
h4 {
  color: #282d33;
  font-size: 1.286em;
  font-weight: bold;
}
header {
  background: url('../img/bg_header.jpg');
}
header input:placeholder {
  color: #5b636e;
}
header input::-moz-placeholder {
  color: #5b636e;
}
header .container-header {
  padding: 13px 8px 15px 8px;
}
header .container-header .row {
  margin: 0;
}
header .container-header .header-title {
  display: inline-block;
  padding: 0;
}
header .container-header .header-title h1 {
  text-transform: uppercase;
  font-size: 2.143em;
  margin: 0 0 -9px 0;
}
header .container-header .header-title span {
  color: #656f7a;
  font-size: 0.857em;
  font-weight: 700;
}
header .container-header .form-searh {
  padding: 0;
  margin-top: 5px;
}
header .container-header .form-searh input,
header .container-header .form-searh button {
  border-radius: 4px;
  height: 34px;
}
header .container-header .form-searh input {
  border: 1px solid #875f66;
  width: 200px;
  padding-left: 9px;
  background: #24272d;
  -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: #5b636e;
}
header .container-header .form-searh button {
  background: #ae4b5d;
  border: none;
  width: 36px;
  color: #fff;
  margin-left: 8px;
}
.container-eaten-berry {
  border-top: 1px solid #42484e;
  border-bottom: 1px solid #3e474e;
  padding: 28px 35px;
  background: url('../img/bg_after_header.jpg') no-repeat;
}
.container-eaten-berry h2 {
  font-size: 2.143em;
  margin: 0 0 -1px 0;
}
.container-eaten-berry span {
  color: #282d33;
  font-weight: 700;
  font-size: 1.286em;
}
.container-eaten-berry h3 {
  margin: 10px 0 5px 0;
  font-weight: 700;
  font-size: 1.286em;
}
.container-eaten-berry p {
  color: #d9dcdf;
  max-width: 490px;
}
.container-menu {
  background: #95161f;
}
.container-menu .navbar-header {
  margin-right: 0;
}
.container-menu .navbar-header button {
  border: 1px solid #fff;
  margin-right: 30px;
}
.container-menu .navbar-header .icon-bar-color {
  background: #fff;
}
.container-menu ul li a {
  font-weight: 700;
  font-size: 1.143em;
  color: #fff;
  height: 36px;
  padding-top: 7px;
  margin-left: 20px;
}
.container-menu ul li a:hover,
.container-menu ul li a:focus {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}
.container-menu .nav-menu {
  padding: 0;
}
.container-menu .container-menu {
  padding-right: 0;
}
.container-breadcrubms {
  padding: 0;
  height: 26px;
}
.container-breadcrubms .breadcrumb {
  padding: 3px 23px;
  background: #f3f3f3;
  margin-bottom: 0;
}
.container-breadcrubms .breadcrumb a {
  color: #95161f;
  text-decoration: underline;
  font-size: 0.786em;
}
.container-breadcrubms .breadcrumb .active {
  text-decoration: none;
  color: #6b6f74;
  font-size: 0.786em;
}
.container-breadcrubms .breadcrumb > li + li:before {
  padding: 0;
  color: #6b6f74;
  content: "/\00a0";
}
.main-content a {
  color: #95161f;
  text-decoration: underline;
}
.container-main {
  padding: 19px 0 0 5px;
  background: #fff;
}
.container-main .contact {
  border: 1px solid #d8dbde;
  background: #f3f3f3;
  padding: 0 13px 35px 11px;
  width: 213px;
}
.container-main .contact h4 {
  margin-bottom: 18px;
}
.container-main .contact input[type="text"] {
  margin-bottom: 14px;
  border: 1px solid #fffcfc;
  padding: 8px;
  max-width: 185px;
  display: block;
  border-radius: 4px;
  color: #757575;
  background-color: #e3e4e5;
  -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.container-main .contact input[type="text"]:placeholder {
  color: #757575;
}
.container-main .contact input[type="text"]::-moz-placeholder {
  color: #757575;
}
.container-main .contact .custom-select {
  margin-bottom: 15px;
  position: relative;
}
.container-main .contact .custom-select i {
  color: #979da1;
  font-size: 24px;
  position: absolute;
  left: 156px;
  top: 5px;
  cursor: pointer;
  background-color: #e3e4e5;
}
.container-main .contact .custom-select ul {
  list-style: none;
  padding: 0;
}
.container-main .contact .custom-select .option {
  display: none;
  width: 185px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #a2a2a2;
  color: #757575;
  cursor: pointer;
  background-color: #e3e4e5;
}
.container-main .contact .custom-select .option:hover {
  background-color: #e3f0e6;
}
.container-main .contact .custom-select .option.active {
  display: block;
}
.container-main .contact .custom-select .option.active:hover {
  background-color: #e3e4e5;
}
.container-main .contact input[type="submit"] {
  margin-left: 5px;
  font-size: 1.143em;
  display: block;
  color: #fff;
  padding: 8px 16px;
  border: 5px solid #fff;
  background-image: -webkit-linear-gradient(90deg, #95161f 0%, #b0252e 100%);
  background-image: -ms-linear-gradient(90deg, #95161f 0%, #b0252e 100%);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.19);
}
.container-main .headline {
  width: 213px;
  margin-bottom: 20px;
}
.container-main .headline h4 {
  margin: 30px 0 8px 0;
}
.container-main .headline p {
  font-size: 0.857em;
  line-height: 1.667;
  color: #5c646e;
  padding-right: 8px;
}
.container-main .headline a {
  font-size: 0.857em;
}
.page {
  padding-right: 12px;
  padding-bottom: 60px;
}
.page h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.714em;
}
.page h2:first-child {
  margin-top: 0;
}
.page p {
  line-height: 1.429;
  color: #5c646e;
  margin-bottom: 0;
}
.page .list-img li {
  margin-top: 10px;
}
.page .list-img li img {
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.page .listsh2 {
  margin-bottom: 5px;
}
.page .list {
  color: #6b6f74;
}
.page .list h5 {
  color: #5c646e;
}
.page .list h5 span {
  border-radius: 3px;
  background-color: #dedede;
}
.page .list .one,
.page .list .two,
.page .list .three {
  margin-top: 10px;
}
.page .list .one ul li,
.page .list .two ul li,
.page .list .three ul li,
.page .list .one ol li,
.page .list .two ol li,
.page .list .three ol li {
  margin-top: 5px;
}
.page .list .one ul {
  list-style-type: disc;
  padding-left: 22px;
}
.page .list .two .unstyled {
  list-style: none;
  padding-left: 0;
}
.page .list .two .unstyled ul {
  list-style-type: disc;
}
.page .list .three ol {
  padding-left: 22px;
}
.page table {
  border-radius: 25px;
}
.page table th,
.page table td {
  border: 1px solid #fff;
  padding: 10px 16px;
}
.page table thead th {
  color: #fff;
  background: #9c4757;
}
.page table thead th:last-child {
  border-top-right-radius: 10px;
}
.page table thead th:first-child {
  border-top-left-radius: 10px;
}
.page table tbody td {
  color: #9da4af;
  background: #282d33;
}
.page table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
.page table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.pre-footer {
  margin: 0;
  background: #ae4b5d;
  height: 8px;
}
.table-cover {
  overflow: auto;
}
footer {
  padding: 30px 0 25px 0;
  color: #85898f;
  font-size: 0.857em;
  background: url('../img/bg_footer.jpg');
}
footer a {
  text-decoration: underline;
  color: #d08b98;
}
footer .widjet1 p {
  margin: 12px 0;
}
footer .widjet1 ul {
  padding-left: 30px;
  list-style-image: url('../img/time-list-style.png');
}
footer .widjet1 ul li {
  margin-bottom: 2px;
}
footer .widjet2 span {
  display: inline-block;
}
footer .widjet2 ul {
  list-style: none;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 4px;
}
footer .widjet2 ul li {
  margin-top: 5px;
}
footer .widjet2 ul li::before {
  margin-right: 14px;
  margin-bottom: 1px;
  content: '';
  display: inline-block;
  border-radius: 3px;
  width: 5px;
  height: 5px;
  background: #9c4757;
}
footer .widjet2 h3 {
  margin-top: 10px;
  font-size: 1em;
}
footer .widjet3 ul {
  margin-top: 15px;
  padding-left: 4px;
  list-style: none;
}
footer .widjet3 ul li {
  margin-top: 5px;
}
@media (max-width: 768px) {
  .info-eaten-berry .container-eaten-berry {
    background-size: cover;
  }
  #responsive-menu {
    margin-right: 0;
    padding: 15px;
  }
  .form-searh {
    text-align: left;
  }
}
