.wrap_top
	header.text-uppercase.text-center
		.container
			.row
				.col-sm-4.col-sm-push-4
					.logo
						img(src="img/logo.png")
						h1
							|Анфракс
							br
							span ювелирная мастерская
						.desc
							| изготовление, ремонт
							br
							| рестоврация
				.col-sm-4.col-sm-pull-4
					.phone_a_site.text-center
						.phone
							a(href="tel:+375445880988") +375(44)588-09-88
						.site
							a(href="info@anfraks.by") info@anfraks.by
				.col-sm-4
					a.btn_site_gold.order_call(href="#form_order_call") Заказать звонок
	section.jewelry_shop_desc
		.container
			.row
				.col-lg-6.col-md-12
					.slider3d
						ul.carousel
							.item
								img.img-responsive.center-block(src="img/3dslider/img_3dslide_1.png", alt="Img 1")
							.item
								img.img-responsive.center-block(src="img/3dslider/img_3dslide_2.png", alt="Img 2")
							.item
								img.img-responsive.center-block(src="img/3dslider/img_3dslide_3.png", alt="Img 3")
				.col-lg-6.col-md-12.text-uppercase
					h2 Ювелирная мастерская «Анфракс» основана на лучших традициях Православного искусства
					p Собственная производственная база и специалисты высокого уровня, обеспечивают создание уникальных образцов и авторских работ