section.banner_1(style="background-image: url('../img/banner_1_bg.jpg')")
    .container
        .txt
            h1
                span H
                span R
                |
                | Special
            h2 Экспертный подбор и оценка персонала
            h3 ДЛЯ ВСЕХ ВИДОВ БИЗНЕСА
            p *Закрываем вакансии каждый день
        .row_btn
            .btn_fill.purpure.dropdown
                a.dropdown_employer(href="#") Работодателю
                ul.employer
                    li
                        a(href="#to_service" data-to) Рекрутинг
                    li
                        a(href="#to_service" data-to) Хедхантинг
                    li
                        a(href="#to_service" data-to) Executive Search
                    li
                        a(href="#to_service" data-to) Тестирование кандидатов
                    li
                        a(href="#to_vacancy" data-to) Вакансии
            .btn_fill.red
                a.modal_link(href="#form_order_service") Заказать услуги
            .btn_fill.purpure.dropdown
                a.dropdown_aspirant(href="#") Соискателю
                .aspirant
                    .desc
                        | Загрузить резюме, и получить
                        | возможность найти работу
                        | своей мечты
                    form(action="#" method="post" enctype="multipart/form-data")
                        label
                            i.fi.flaticon-paper-clip-outline
                            .txt Прикрепить файл
                            input(type="file" id="file_aspirant_banner_1" name="file_aspirant" required accept=".pdf,.docx,.doc")
                        input(type="hidden" name="form_type" value="Соискатель")
                        .btn_transparent
                            input(type="submit" value="Отправить" name="form_send")
section.about_us#to_about_company
    .container
        .row
            .col-md-10.offset-md-1.offset-0
                .about
                    .txt
                        p
                            b
                                | H
                                span R
                                |
                                | Special
                            | - успешная команда, занимающаяся подбором
                            | и оценкой персонала в различных сферах бизнеса.
                        p
                            | Мы найдем
                            |
                            b лучших специалистов
                            |
                            | , которые идеально подойдут именно Вам.
                            | Наши кандидаты справятся с любыми задачами и станут надежной
                            | частью команды, многократно повысив прибыль Вашей Компании.
                        p
                            | Группы Компании с актуальной и полезной информацией:
                    .row_link_groups
                        a(href="https://www.linkedin.com/company/hr-special/")
                            i.fi.flaticon-linkedin
                        a(href="https://www.facebook.com/hr.special.by/")
                            i.fi.flaticon-facebook
                        a(href="https://vk.com/hr_special")
                            i.fi.flaticon-vk
                        a(href="https://t.me/HR_Special")
                            i.fi.flaticon-telegram
section.what_expect
    .container
        .row
            .col.offset-md-1.offset-0
                h2.custom_title Чего ожидать от работы с HR Special?
        .row.justify-content-between
            .col.offset-md-1.offset-0
                .expect
                    .wrap_img
                        img(src="img/expect_icon_1.png" alt="Expect iron 1")
                    .name
                        | ТЕХНИЧЕСКАЯ ГРАМОТНОСТЬ
                        | И СКОРОСТЬ ПОДБОРА
                    .desc
                        | Наш опыт и знания позволяют
                        | оперативно предоставлять Вам только
                        | релевантных специалистов.
            .col.offset-md-1.offset-0
                .expect
                    .wrap_img
                        img(src="img/expect_icon_2.png" alt="Expect icon 2")
                    .name
                        | ПОЛНОЕ
                        | СОПРОВОЖДЕНИЕ
                    .desc
                        | На всех этапах переговоров мы
                        | сопровождаем Ваше взаимодействие
                        | с кандидатом до принятия
                        | предложения о работе.
            .w-100
            .col.offset-md-1.offset-0
                .expect
                    .wrap_img
                        img(src="img/expect_icon_3.png" alt="Expect icon 3")
                    .name
                        | ГИБКАЯ ЦЕНОВАЯ
                        | ПОЛИТИКА
                    .desc
                        | Различные ценовые предложения,
                        | подходящие именно Вам.
            .col.offset-md-1.offset-0
                .expect
                    .wrap_img
                        img(src="img/expect_icon_4.png" alt="Expect icon 4")
                    .name
                        | ГАРАНТИЯ
                        | НА КАНДИДАТОВ
                    .desc
                        | При увольнении сотрудника в течение
                        | 4 месяцев бесплатно и оперативно
                        | ищем замену.
section.our_service#to_service(style="background-image: url('../img/our_service_bg.jpg')")
    .container
        h2.custom_title.c.text-center Наши услуги
        .row
            .col-md-5.offset-md-1.offset-0
                .service
                    .content
                        .row_img_name
                            img(src="img/our_service_icon_1.png" alt=" Our Serivce 1")
                            .name.custom_title.c Рекрутинг
                        .desc
                            | Глубокая экспертиза и знание рынка позволяют нам
                            | быстро и эффективно найти требуемых специалистов,
                            | с учетом самых жестких требований Заказчика.
                            | Наши кандидаты не только полностью соответствуют
                            | профессиональным и личностным критериям своей
                            | профессии, но и подходят именно Вашей
                            | корпоративной культуре.
            .col-md-5
                .service
                    .content
                        .row_img_name
                            img(src="img/our_service_icon_2.png" alt=" Our Serivce 2")
                            .name.custom_title.c Хедхантинг
                        .desc
                            | Если Вы знаете, кого именно хотите привлечь в компанию,
                            | но не знаете, как это сделать, мы сможем помочь.
                            | Привлекаем конкретных топ-менеджеров и узких
                            | специалистов, которые еще не задумывались о смене
                            | работы. Это филигранный процесс, который начинается
                            | с изучения биографии человека, его интересов
                            | и заканчивается в тот момент, когда сотрудник
                            | приходит к Вам.
            .col-md-5.offset-md-1.offset-0
                .service
                    .content
                        .row_img_name
                            img(src="img/our_service_icon_3.png" alt=" Our Serivce 3")
                            .name.custom_title.c Executive Search
                        .desc
                            | Топовые специалисты не ищут работу, их резюме и
                            | контакты не находятся в открытом доступе. Именно за
                            | таких сотрудников на рынке идет ожесточенная борьба.
                            | Для их поиска необходимо разрабатывать и применять
                            | индивидуальный подход. Executive Search позволяет
                            | нашей команде произвести точечный поиск для
                            | закрытия управленческих и узкоспециализированных
                            | профессионалов.
            .col-md-5
                .service
                    .content
                        .row_img_name
                            img(src="img/our_service_icon_4.png" alt=" Our Serivce 4")
                            .name.custom_title.c Тестирование кандидатов
                        .desc
                            | Методики оценки действующих сотрудников Вашей
                            | Компании и потенциальных кандидатов с помощью
                            | психометрических и когнитивных тестов. При помощи
                            | тестирования Вы получите всю необходимую
                            | информацию о специалисте. При этом большим
                            | преимуществом является наличие в структуре тестов
                            | шкал достоверности, позволяющих определить
                            | надежность результатов.
        .btn_fill.red
            a.modal_link(href="#form_order_service") Заказать услуги
section.why_we_the_best#to_price
    .container
        h2.text-center.c.custom_title Почему мы лучшие?
        .advantage_txt ПРЕИМУЩЕСТВА СОТРУДНИЧЕСТВА С HR SPECIAL
        .row.justify-content-center
            .col-lg.col-md-6.d-none.d-md-block
                .advantage
                    .title самостоятельный поиск
                    .txt.top
                        p
                            | Вы платите
                            |
                            b 903$
                            |
                            | в месяц:
                        p - 480$ зарплата менеджера по персоналу;
                        p - 168$ - налоговые отчисления;
                        p - размещение вакансий и доступ к базе резюме:
                        p LinkedIn - 90$, jobs.tut.by - 165$.
                    .txt.bot
                        ul
                            li
                                | Высокая загруженность менеджера по персоналу
                                | не позволит оперативно закрывать необходимое
                                | количество разноплановых вакансий.
                            li
                                | Временные затраты:
                                ul
                                    li - 80 часов на поиск специалиста начального уровня.
                                    li - 160 часов на поиск специалиста среднего уровня.
                                    li - 240 часов на поиск топ-специалиста.
                            li Отсутствие необходимой экспертизы и опыта.
                            li
                                | Если кандидат не прошел испытательный срок,
                                | необходимо повторно тратить время и деньги.
            .col-lg.col-md-6.d-none.d-md-block
                .advantage
                    .title кадровые агентства
                    .txt.top
                        p
                            | Вы платите от
                            |
                            b 10
                            |
                            | до
                            |
                            b 25%
                            |
                            | от годового дохода специалиста
                    .txt.bot
                        ul
                            li
                                | Вы не знаете, кто именно ищет Вам сотрудников.
                                | В большинстве кадровых агентств поиском
                                | специалистов занимаются вчерашние студенты,
                                | не имеющие соответствующего образования и опыта.
                            li
                                | Параллельное ведение одним и тем же
                                | сотрудником по поиску персонала большого
                                | количества проектов: еще большее снижение качества
                                | и скорости подбора кандидатов.
                            li
                                | Отсутствие индивидуального подхода к Клиентам.
            .col-lg.col-md-6.col
                .advantage.red
                    .title HR Special
                    .txt.top
                        p
                            | Вы платите от
                            |
                            b 8
                            |
                            | до
                            |
                            b 14%
                            |
                            | от годового дохода специалиста
                        p
                            | Либо фиксированная цена по согласованию
                            | (в зависимости от уровня позиции).
                    .txt.bot
                        ul
                            li
                                | Глубокая экспертиза и многолетний опыт в
                                | подборе персонала.
                            li
                                | Гибкая ценовая политика.
                            li Индивидуальный подход к каждому Клиенту.
                            li
                                | На всех этапах переговоров мы сопровождаем
                                | ваше взаимодействие с кандидатом, до принятия
                                | предложения о работе.
                            li
                                | Соответствующее высшее образование в области
                                | управления персоналом.
                            li
                                | При увольнении сотрудника в течение 4 месяцев
                                | бесплатно и оперативно ищем замену.
section.banner_2(style="background-image: url('../img/banner_2_bg.jpg')")
    .container
        .row.justify-content-between
            .col-auto
                .txt
                    p нужно срочно закрыть вакансию?
                    p 
                        span Оставьте заявку сейчас
                        span Начнем поиск кандидата в течение часа!
                .btn_fill.red
                    a.modal_link(href="#form_order_service") Заказать услуги
            .col-auto
                .custom_title
                    span H
                    span R
                    | 
                    | Special
section.our_team#to_team
    .container
        .row
            .col.offset-0.offset-md-1
                h2.custom_title Команда
        .slider_team
            .slide
                .row.no-gutters
                    .col-sm-auto.offset-lg-1.col-12
                        img.photo.img-responsive(src="img/team_people_photo_1.jpg" alt="Team people 1")
                        .row_contacts
                            a(href="https://www.linkedin.com/in/romanboguslavskij/")
                                i.fi.flaticon-linkedin
                            a(href="https://www.facebook.com/roman.boguslavskij")
                                i.fi.flaticon-facebook
                            a(href="skype:Boguslawski@hr-special.by?call")
                                i.fi.flaticon-sk
                            a(href="https://t.me/Roman_Boguslawski")
                                i.fi.flaticon-telegram
                            a(href="mailto:Boguslawski@hr-special.by")
                                i.fi.flaticon-team-mail
                    .col-sm.col-12
                        .name Богуславский Роман
                        .txt
                            p
                                b Образование:
                            p 2016-2018
                            p Бизнес-школа EMAS
                            .add_info
                                a(href="#") Executive MBA: Стратегический менеджмент
                                .content
                                    | -  Бизнес-аналитика в управлении компанией
                                    br
                                    | -  Стратегический менеджмент и мышление. Лидерство и мотивация персонала. Создание личного бренда руководителя
                                    | -  Корпоративное управление и риски. Юридическое обеспечение бизнеса
                                    br
                                    | -  Управление проектами
                                    br
                                    | -  HR-менеджмент. Управление человеческими ресурсами
                                    br
                                    | -  Финансовый менеджмент. Бюджетирование. Управленческий учёт
                                    br
                                    | -  Управление продажами. Построение отдела продаж. Ведение переговоров
                                    br
                                    | -  Личная эффективность. Тайм-менеджмент
                                    br
                                    | -  Бизнес-планирование
                                    br
                                    | -  Управление производством. Производство с быстрой реакцией (QRM)
                                    br
                                    | -  Стратегический менеджмент. Анализ и аудит рынка и компании
                                    br
                                    | -  Стратегический менеджмент. Стратегия компании
                                    br
                                    | -  Стратегический маркетинг. Маркетинг-менеджмент
                                    br
                                    | -  Стратегический менеджмент. Управление изменениями. Эффективная реализация решений
                                    br
                                    | -  Стратегический менеджмент. Управление корпоративной культурой
                                    br
                                    | -  Транспортная логистика международных грузоперевозок.
                                    br
                                    | -  Международный бизнес. Правила и нормы ЕС, ЕАЭС, ВТО
                                    br
                                    | -  Проектирование бизнес-процессов
                                    br
                                    | -  Управление знаниями. Самообучающаяся компания
                                    .back
                                        i.fi.flaticon-next
                            p 2015-2016
                            p Институт бизнеса и менеджмента технологий Белорусского государственного университета
                            p Факультет информационных технологий и управления 
                            p Управление персоналом
                            p 2005-2011 
                            p Минский инновационный университет 
                            p Факультет правоведения 
                            p Юрист со знанием экономики
                            p
                                b Опыт работы:
                            p - Управленческий опыт 3,5 года (начальник отдела, зам. начальника управления).
                            p - 10 лет в сфере машиностроения. Управление контроля качества.
                            p - Менеджер по персоналу в IT компании (банковское программное обеспечение, бизнес-приложения).
                    .col-12.offset-lg-1.col-xl-10.offset-md-0
                        .certificates
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_1.jpg" alt="Certificate 1 1")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_2.jpg" alt="Certificate 1 2")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_3.jpg" alt="Certificate 1 3")
                        .btn_transparent
                            a.watch_all(href="#") Смотреть всё
            .slide
                .row.no-gutters
                    .col-sm-auto.offset-lg-1.col-12
                        img.photo.img-responsive(src="img/team_people_photo_1.jpg" alt="Team people 1")
                        .row_contacts
                            a(href="https://www.linkedin.com/in/romanboguslavskij/")
                                i.fi.flaticon-linkedin
                            a(href="https://www.facebook.com/roman.boguslavskij")
                                i.fi.flaticon-facebook
                            a(href="skype:Info@hr-special.by?call")
                                i.fi.flaticon-vk
                            a(href="mailto:Info@hr-special.by")
                                i.fi.flaticon-team-mail
                    .col-sm.col-12
                        .name Богуславский Роман
                        .txt
                            p
                                b Образование:
                            p 2016-2018
                            p Бизнес-школа EMAS
                            .add_info
                                a(href="#") Executive MBA: Стратегический менеджмент
                                .content
                                    | -  Бизнес-аналитика в управлении компанией
                                    br
                                    | -  Стратегический менеджмент и мышление. Лидерство и мотивация персонала. Создание личного бренда руководителя
                                    | -  Корпоративное управление и риски. Юридическое обеспечение бизнеса
                                    br
                                    | -  Управление проектами
                                    br
                                    | -  HR-менеджмент. Управление человеческими ресурсами
                                    br
                                    | -  Финансовый менеджмент. Бюджетирование. Управленческий учёт
                                    br
                                    | -  Управление продажами. Построение отдела продаж. Ведение переговоров
                                    br
                                    | -  Личная эффективность. Тайм-менеджмент
                                    br
                                    | -  Бизнес-планирование
                                    br
                                    | -  Управление производством. Производство с быстрой реакцией (QRM)
                                    br
                                    | -  Стратегический менеджмент. Анализ и аудит рынка и компании
                                    br
                                    | -  Стратегический менеджмент. Стратегия компании
                                    br
                                    | -  Стратегический маркетинг. Маркетинг-менеджмент
                                    br
                                    | -  Стратегический менеджмент. Управление изменениями. Эффективная реализация решений
                                    br
                                    | -  Стратегический менеджмент. Управление корпоративной культурой
                                    br
                                    | -  Транспортная логистика международных грузоперевозок.
                                    br
                                    | -  Международный бизнес. Правила и нормы ЕС, ЕАЭС, ВТО
                                    br
                                    | -  Проектирование бизнес-процессов
                                    br
                                    | -  Управление знаниями. Самообучающаяся компания
                                    .back
                                        i.fi.flaticon-next
                            p 2015-2016
                            p Институт бизнеса и менеджмента технологий Белорусского государственного университета
                            p Факультет информационных технологий и управления 
                            p Управление персоналом
                            p 2005-2011 
                            p Минский инновационный университет 
                            p Факультет правоведения 
                            p Юрист со знанием экономики
                            p
                                b Опыт работы:
                            p - Управленческий опыт 3,5 года (начальник отдела, зам. начальника управления).
                            p - 10 лет в сфере машиностроения. Управление контроля качества.
                            p - Менеджер по персоналу в IT компании (банковское программное обеспечение, бизнес-приложения).
                    .col-12.offset-lg-1.col-xl-10.offset-md-0
                        .certificates
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_1.jpg" alt="Certificate 1 1")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_2.jpg" alt="Certificate 1 2")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_3.jpg" alt="Certificate 1 3")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_4.jpg" alt="Certificate 1 4")
                            a.modal_link(href="#certificate_preview")
                                img.img-responsive(src="img/certificate_1_4.jpg" alt="Certificate 1 4")
                        .btn_transparent
                            a.watch_all(href="#") Смотреть всё
            .slide
                .row.no-gutters
                    .col-sm-auto.offset-lg-1.col-12
                        img.photo.img-responsive(src="img/team_people_photo_1.jpg" alt="Team people 1")
                        .row_contacts
                            a(href="https://www.linkedin.com/in/romanboguslavskij/")
                                i.fi.flaticon-linkedin
                            a(href="https://www.facebook.com/roman.boguslavskij")
                                i.fi.flaticon-facebook
                            a(href="skype:Info@hr-special.by?call")
                                i.fi.flaticon-vk
                            a(href="mailto:Info@hr-special.by")
                                i.fi.flaticon-team-mail
                    .col-sm.col-12
                        .name Богуславский Роман
                        .txt
                            p
                                b Образование:
                            p 2016-2018
                            p Бизнес-школа EMAS
                            .add_info
                                a(href="#") Executive MBA: Стратегический менеджмент
                                .content
                                    | -  Бизнес-аналитика в управлении компанией
                                    br
                                    | -  Стратегический менеджмент и мышление. Лидерство и мотивация персонала. Создание личного бренда руководителя
                                    | -  Корпоративное управление и риски. Юридическое обеспечение бизнеса
                                    br
                                    | -  Управление проектами
                                    br
                                    | -  HR-менеджмент. Управление человеческими ресурсами
                                    br
                                    | -  Финансовый менеджмент. Бюджетирование. Управленческий учёт
                                    br
                                    | -  Управление продажами. Построение отдела продаж. Ведение переговоров
                                    br
                                    | -  Личная эффективность. Тайм-менеджмент
                                    br
                                    | -  Бизнес-планирование
                                    br
                                    | -  Управление производством. Производство с быстрой реакцией (QRM)
                                    br
                                    | -  Стратегический менеджмент. Анализ и аудит рынка и компании
                                    br
                                    | -  Стратегический менеджмент. Стратегия компании
                                    br
                                    | -  Стратегический маркетинг. Маркетинг-менеджмент
                                    br
                                    | -  Стратегический менеджмент. Управление изменениями. Эффективная реализация решений
                                    br
                                    | -  Стратегический менеджмент. Управление корпоративной культурой
                                    br
                                    | -  Транспортная логистика международных грузоперевозок.
                                    br
                                    | -  Международный бизнес. Правила и нормы ЕС, ЕАЭС, ВТО
                                    br
                                    | -  Проектирование бизнес-процессов
                                    br
                                    | -  Управление знаниями. Самообучающаяся компания
                                    .back
                                        i.fi.flaticon-next
                            p 2015-2016
                            p Институт бизнеса и менеджмента технологий Белорусского государственного университета
                            p Факультет информационных технологий и управления 
                            p Управление персоналом
                            p 2005-2011 
                            p Минский инновационный университет 
                            p Факультет правоведения 
                            p Юрист со знанием экономики
                            p
                                b Опыт работы:
                            p - Управленческий опыт 3,5 года (начальник отдела, зам. начальника управления).
                            p - 10 лет в сфере машиностроения. Управление контроля качества.
                            p - Менеджер по персоналу в IT компании (банковское программное обеспечение, бизнес-приложения).
                    .col-12.offset-lg-1.col-xl-10.offset-md-0
                        .certificates
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_1.jpg" alt="Certificate 1 1")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_2.jpg" alt="Certificate 1 2")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_3.jpg" alt="Certificate 1 3")
                            a.modal_link(href="#certificate_preview").active
                                img.img-responsive(src="img/certificate_1_4.jpg" alt="Certificate 1 4")
                            a.modal_link(href="#certificate_preview")
                                img.img-responsive(src="img/certificate_1_4.jpg" alt="Certificate 1 4")
                        .btn_transparent
                            a.watch_all(href="#") Смотреть всё
section.vacancy_we_close#to_vacancy
    .container
        h2.custom_title Основные вакансии, которые мы закрываем
        .vacancies
            .tabs
                .tab.active IT, Телеком
                .tab Топ менеджеры
                .tab Фармацевтика и медицина
                .tab Продажи и маркетинг
                .tab Административное направление
                .tab Ритейл
                .tab Логистика
                .tab Бухгалтерия и финансы
                .tab Юриспруденция
                .tab Управление персоналом
                .tab Машиностроение, промышленность
                .tab Другие специалисты
            .contents
                .content.active
                    .row.justify-content-lg-around.justify-content-md-between
                        .col-auto
                            .txt
                                b BACKEND:
                                br
                                | Java
                                br 
                                | PHP
                                br 
                                | Ruby
                                br 
                                | Python
                                br
                                | Ruby
                                br
                                | Go
                                br 
                                | .NET
                        .col-auto
                            .txt
                                b FRONTEND:
                                br
                                | JavaScript
                                br 
                                | IOS
                                br 
                                | Android
                                br 
                                | UX
                        .col-auto
                            .txt
                                b DELIVERY:
                                br
                                | Architect
                                br 
                                | DevOps
                                br 
                                | QA
                                br 
                                | Analist
                                br 
                                | Manager
                        .col-auto
                            .txt
                                b GAMEDEV:
                                br
                                | Unity
                                br 
                                | C++
                                br 
                                | Artist
                                br 
                                | Animator
                                br 
                                | Designer
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Генеральный Директор
                                br
                                | Заместитель Директора
                                br
                                | Заместитель директора по информационным технологиям
                                br
                                | Технический Директор
                                br
                                | Руководитель юридического отдела
                                br
                                | Финансовый Директор
                                br
                                | Коммерческий Директор
                        .col
                            .txt
                                | Руководитель отдела маркетинга
                                br
                                | Руководитель логистического комплекса
                                br
                                | Руководитель учебного центра
                                br
                                | Директор по развитию
                                br
                                | HR BP
                                br
                                | Управляющий гостиницей
                                br
                                | Руководитель службы логистики
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Marketing Manager
                                br
                                | Category Manager
                                br
                                | Area Sales Manager
                                br
                                | Project Manager
                                br
                                | Brand Manager
                                br
                                | KAM
                                br
                                | Business Controller
                                br
                                | Logistic manager
                                br
                                | Customer Service Manager
                                br
                                | Head of Medical Affairs
                        .col
                            .txt
                                | Purchasing specialist
                                br
                                | Account manager
                                br
                                | Медицинский представитель
                                br
                                | Медицинский советник
                                br
                                | Менеджер по продажам медицинских изделий
                                br
                                | Руководитель группы аптек
                                br
                                | Заведующий аптеки
                                br
                                | Менеджер по ВЭД
                                br
                                | Специалист по программе лояльности 
                                br
                                | Личный врач
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Руководитель отдела маркетинга
                                br
                                | Маркетолог
                                br
                                | Brand  manager
                                br
                                | Трейд - маркетолог
                                br
                                | Маркетер
                                br
                                | Дизайнер
                                br
                                | SMM менеджер
                                br
                                | Digital Marketing
                                br
                                | SEO специалист
                                br
                                | Иллюстратор
                                br
                                | Визуальный мерчендайзер
                                br
                                | Менеджер по продукту
                                br
                                | PR менеджер
                                br
                                | Координатор отдела маркетинга
                                br
                                | Аналитик
                                br
                                | Коммерческий Директор
                        .col
                            .txt
                                | Начальник отдела продаж
                                br
                                | Региональный менеджер
                                br
                                | Менеджер по продажам
                                br
                                | Супервайзер
                                br
                                | Менеджер по работе с клиентами
                                br
                                | Менеджер по работе с ключевыми клиентами
                                br
                                | Менеджер по развитию
                                br
                                | Менеджер по тендерным продажам
                                br
                                | Менеджер по продажам B2B
                                br
                                | Менеджер по продажам B2C
                                br
                                | Менеджер по работе с дистрибьюторами
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Секретарь
                                br
                                | Личный помощник
                                br
                                | Специалист по кадрам
                                br
                                | Оператор по обработке данных
                                br
                                | Специалист по документообороту
                                br
                                | Travel manager
                                br
                                | Оператор call-центра
                        .col
                            .txt
                                | Администратор
                                br
                                | Менеджер по организации учебного процесса
                                br
                                | Синхронный переводчик
                                br
                                | Переводчик
                                br
                                | Оператор call-центра
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Руководитель сети магазинов
                                br
                                | Директор магазина
                                br
                                | Менеджер по ассортименту
                                br
                                | Мерчендайзер
                                br
                                | Тайный покупатель
                        .col
                            .txt
                                | Визуальный мерчендайзер
                                br
                                | Продавец- консультант
                                br
                                | Региональный менеджер
                                br
                                | Заместитель Директора магазина
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Директор по логистике
                                br
                                | Специалист по транспортной логистике
                                br
                                | Менеджер по продажам логистических услуг
                                br
                                | Специалист по таможенному оформлению
                                br
                                | Менеджер по бронированию
                                br
                                | Водитель
                                br
                                | Руководители склада
                                br
                                | Начальник отдела продаж
                                br
                                | Менеджер по международным перевозкам
                                br
                                | Специалист по нормированию складских запасов
                                br
                                | Менеджер по развитию
                                br
                                | Эксперт по управлению качеством
                                br
                                | Логист
                        .col
                            .txt
                                | Координатор по железнодорожным операциям
                                br
                                | Специалист по организации перевозок
                                br
                                | Специалист по тендерам
                                br
                                | Специалист по складской логистике
                                br
                                | Экспедитор
                                br
                                | Специалист по работе с ключевыми клиентами
                                br
                                | Специалист по организации контейреных перевозок
                                br
                                | Менеджер проектов
                                br
                                | Менеджер проектов по негабаритным перевозкам
                                br
                                | Специалист по лизингу
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Финансовый Директор
                                br
                                | Главный бухгалтер
                                br
                                | Бухгалтер
                                br
                                | Бизнес -аналитик
                                br
                                | CRM  менеджер
                                br
                                | Финансовый аналитик,
                                br
                                | Внутренний аудитор
                                br
                                |  Экономист
                        .col
                            .txt
                                | Оценщик
                                br
                                | Специалист по управленческому учету
                                br
                                | Налоговый аудитор
                                br
                                | Инвестиционный аналитик
                                br
                                | Специалист по планированию Специалист по МСФО 
                                br
                                | Оператор 1С
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Начальник юридического отдела
                                br
                                | Начальник отдела взыскания задолженностей
                                br
                                | Главный юрисконсульт
                                br
                                | Юрисконсульт
                                br
                                | Помощник юриста
                        .col
                            .txt
                                | Юрисконсульт (претензионно-исковая работа)
                                br
                                | Специалист по работе с претензиями
                                br
                                | Специалист по взысканию дебиторской задолженности
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | HR BP
                                br
                                | HRG
                                br
                                | HRM
                                br
                                | Рекрутер
                                br
                                | HR admin
                                br
                                | Менеджер по внутренним коммуникациям
                                br
                                | Специалист по обучению
                                br
                                | Менеджер по развитию
                        .col
                            .txt
                                | Event manager
                                br
                                | HR аналитик
                                br
                                | Специалист по работе с иностранными сотрудниками
                                br
                                | Hr pr специалист
                                br
                                | Специалист по дистанционному обучению
                                br
                                | Менеджер по компенсациям и льготам
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col
                            .txt
                                | Начальник цеха
                                br
                                | Заместитель начальника цеха
                                br
                                | Начальник участка
                                br
                                | Мастер
                                br
                                | Старший мастер
                                br
                                | Начальник отдела контроля качества
                                br
                                | Мастер отдела контроля качества
                                br
                                | Инженер по качеству
                        .col
                            .txt
                                | Инженер по охране труда
                                br
                                | Инженер-технолог
                                br
                                | Инженер- конструктор
                                br
                                | Слесарь МСР
                                br
                                | Сварщик на машинах контактной сварки
                                br
                                | Электрик
                                br
                                | Маляр
                                br
                                | Литейщики пластмасс
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
                .content
                    .row.justify-content-around
                        .col-md-auto.col.text-center
                            .txt
                                | Быстро и качественно подберем для Вас специалиста!
                    .btn_fill.red
                        a.modal_link(href="#form_order_service") Заказать услуги
section.banner_3(style="background-image: url('../img/banner_3_bg.jpg')")
    .container
        h2.custom_title.text-center.c Остались вопросы по подбору и оценке персонала?
        .txt
            p Оставьте заявку
            p и наш специалист свяжется с Вами
        form(action="#" method="post")
            .inpt_transparent
                input(type="text" placeholder="Введите ваше имя" name="name")
            .inpt_transparent
                input(type="tel" placeholder="Введите Ваш телефон" name="phone" required)
            .btn_fill.purpure
                input(type="submit" value="Оставить заявку" name="form_send")
            input(type="hidden" value="Вопросы по подбору и оценке персонала" name="form_type")


