footer
	.container
		.row.align-items-center.justify-content-lg-around
			.col
				h3 подписаться на рассылку новостей
				p Оформите подписку, и мы будем держать Вас в курсе
			.col-md-auto
				form
					.inpt
						.icon-mail
						input(type="text" placeholder="Ваш почтовый ящик")
					.btn.w170.blue
						input(type="submit")
		hr
		.row.justify-content-center
			.col-md-2.col-sm-6.col-12
				a.logo(href="/")
					img(src="img/logo.png" alt="logo")
			.col-md-4.col-sm-6.col-auto
				.contacts
					h4 Контакты
					.location
						.icon-round-location
						span
							| Минский р-н, п.Опытный,
							br
							| ул.Центральная, д.1Б
					.mail
						.icon-round-mail
						a(href="mailto:mail@delvin.by") mail@delvin.by
					.phones
						.icon-round-phone
						.phone
							a(href="tel:+375172651599") +375 (17) 265-15-99
							br
							a(href="tel:+375172653524") +375 (17) 265-35-24
							br
							a(href="tel:+375447032000") +375 (44) 703-20-00
							br
							a(href="tel:+375296255003") +375 (29) 625-50-03
					.time
						.icon-round-time
						span Пн. -Пт.: 8.00 -18.00
			.col-md-4.col-sm-6.col-12
				.catalog-list
					h4 Каталог
					ul
						li
							a(href="#") Индустриальные масла
						li
							a(href="#") Масла для коммерческого транспорта
						li
							a(href="#") Пластичные смазки
						li
							a(href="#") CASSIDA
						li
							a(href="#") Антифризы
			.col-md-2.col-sm-6.col-12
				ul.foot-menu
					li
						a(href="#") О компании
					li
						a(href="#") новости
					li
						a(href="#") каталог
					li
						a(href="#") статьи
					li
						a(href="#") Доставка

