header
    .container
        .row.align-items-center.justify-content-xl-between.justify-content-center
            .col-auto
                a(href="/").logo
                    img(src="img/logo.png" alt="Logo")
            .col-auto.d-none.d-md-block
                .location
                    .icon-round-location
                    span
                        | Минский р-н, п.Опытный,
                        br
                        | ул.Центральная, д.1Б
            .col-auto.d-none.d-md-block
                .mail
                    .icon-round-mail
                    a(href="mailto:mail@delvin.by") mail@delvin.by
            .col-auto
                .phones
                    .icon-round-phone
                    .phone
                        a(href="tel:+375172651599") +375 (17) 265-15-99
                        br
                        a(href="tel:+375447032000") +375 (44) 703-20-00
            .col-auto
                .download-catalog
                    .icon-download
                    a(href="#") Скачать каталоги
            .col-auto
                .btn.transparent.w170
                    a(href="#order-call").modal-link Заказать звонок
nav
    .container
        .row.align-items-center
            .col-auto.d-block.d-md-none.order-md-0.order-2
                button.btn-collapse-menu
                    span
                    span
                    span
            .col-12.col-md.order-md-0.order-3
                ul.menu
                    li
                        a(href="#") О компании
                    li
                        a(href="#") новости
                    li
                        a(href="#") каталог
                    li
                        a(href="#") статьи
                    li
                        a(href="#") Доставка
                    li
                        a(href="#") Контакты
            .col.col-md-auto.order-md-0.order-1
                .search
                    .icon-search
                    form
                        input(type="search" placeholder="Поиск...")

