.modal-overlay
	.modal#order-call
		button.modal-close &times;
		.title
			span оставьте свой номер
			br
			span и мы вам перезвоним
			br
			span в течение 5 минут
		form
			.inpt.w250.gray
				input(type="tel" placeholder="Введите телефон")
			.btn.w250.blue
				input(type="submit" placeholder="Заказать звонок")
		.PS * Мы не передаем данные третьим лицам