.modal-overlay
	.modal#get-consultation
		button.modal-close &times;
		.title
			span Оставьте свои данные
			br
			span Наш менеджер Вас проконсультирует
		form
			.inpt.gray
				input(type="text" placeholder="Введите имя")
			.inpt.gray
				input(type="tel" placeholder="Введите телефон")
			.btn.blue
				input(type="submit" placeholder="Заказать звонок")
			input(type="hidden" name="name_product")
		.PS * Мы не передаем данные третьим лицам