section.p404.text-center
  .container
    h1 404
    h2 The page not found.
    a(href="index.html").read_more Visit home page
    h4 Unfortunately the page you were looking for could not be found. Maybe search can help.
    form
      .inpt_white
        input(type="search" placeholder="Search")

