section.main_slider
  .slide(style="background-image: url('../img/slider-bg-new.jpg')")
    .container
      .content
        h2 We Take Care Of
        h1 Your Phone!
        a(href="#") see our services
  .slide(style="background-image: url('../img/home-slider-2.jpg')")
    .container
      .content
        h2 We Take Care Of
        h1 Your Phone!
        a(href="#") see our services
  .slide(style="background-image: url('../img/home-slider-3.jpg')")
    .container
      .content
        h2 We Take Care Of
        h1 Your Phone!
        a(href="#") see our services
section.welcome
  .left_side
    .container
      .row
        .col-lg-6.offset-lg-5.offset-md-2.col-md-10.col-12.offset-0
          h3 WELCOME
          h4 to iRepaire
          h6 We Fix Everything
          p We can assure you that we have seen it all! From smartphones that have been run over by a car, to cellphones that have taken a dive in a pool, we are prepared to face anything that comes our way. Every IRepair technician goes through an intensive training process, and we maintain an environment of constant learning, so no device is too new, no technology too complicated. We love people and cell phones. So, you always get the best service and the best price. We are locally owned and operated with master level techs at each location. From charging ports to glass only repairs to antennas and speakers, we repair the most.
          a(href="#").read_more Read More
  .right_side(style="background-image: url('../img/welcome.jpg')")
section.why_us
  .left_side(style="background-image: url('../img/why-us.jpg')")
  .right_side
    .container
      .row
        .col-lg-6.offset-lg-1.offset-md-1.col-md-10.col-12.offset-0
          h3 WHY CHOOSE US
          .why_we_list
            .row.no-gutters.why
              .col-auto
                .fa.fa-star
              .col
                h4 Quality Guarantee
                p we provide our clients with a six months warranty because we are confident in our quality.
            .row.no-gutters.why
              .col-auto
                .fa.fa-user
              .col
                h4 Customer Support
                p we have 24/7 customer support so you could ask any question and book an appointment with our expert.
            .row.no-gutters.why
              .col-auto
                .fa.fa-shopping-bag
              .col
                h4 Low Price Quarantee
                p we provide our clients with fair prices so everyone could afford a cellphone repair.
section.testimonals
  .left_side
    .container
      .row
        .col-lg-5.offset-lg-6.offset-md-2.col-md-10.col-12.offset-0
          h3 TESTIMONIALS
          .testimonals_slider
            .slide
              p We have a medium sized hedge fund company, which faced the problem of the data being stored locally and separately… The virtualization solutions that the Arnatera company offered
              .name William Hague
            .slide
              p We have a medium sized hedge fund company, which faced the problem of the data being stored locally and separately… The virtualization solutions that the Arnatera company offered
              .name William Hague
            .slide
              p We have a medium sized hedge fund company, which faced the problem of the data being stored locally and separately… The virtualization solutions that the Arnatera company offered Arnatera company offered
              .name William Hague
  .right_slide
    img(src="img/testi-img.png" alt="Testi")
section.proffestial_fast(style="background-image: url('../img/fast-bg-new.png')")
  .container
    .row
      .col-lg-10.col-12
        h2 Professional & Fast
        h1 
          | REPAIR WITH
          | 
          br
          | 
          | WARRANTY
        a(href="#").read_more More info
section.what_we_repair
  .container
    .row
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-mobile-alt
          .col
            h4
              a(href="#") Smartphone Repair
            p We fix all smartphone models, make a diagnostic and replace all non-working parts at record terms.
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-tablet-alt
          .col
            h4
              a(href="#") Tablet Repair
            p We aim to take the hassle out of tablet repairs, and soften the blow of having a damaged or defective tablet.
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-desktop
          .col
            h4
              a(href="#") Computer Repair
            p Computer not powering on? Sometimes, if this occurs, the issue is with the main board of your computer.
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-laptop
          .col
            h4
              a(href="#") Laptop Repair
            p Drop your laptop? On all laptops that have been physically damaged, the screen is one of the most fragile components.
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-gamepad
          .col
            h4
              a(href="#") Console Repair
            p If your Playstation isn't accepting discs, or one is trapped inside, then we can either repair or replace the entire disc drive unit.
      .col-md-4.service
        .row.no-gutters
          .col-3
            .fa.fa-eject
          .col
            h4
              a(href="#") Electronics Repair
            p We also specialize in a variety of electronic gadgets. We challenge to fix any electronic device.
section.latest_news
  .left_side(style="background-image: url('../img/news.jpg')")
  .right_side
    .container
      .row
        .col-lg-6.offset-lg-1.offset-md-1.col-md-10.col-12.offset-0
          h3 LATEST NEWS
          .news
            .new
              h4
                a(href="#") How To Clean Up A Virus
              p If your PC gets infected by a kind of virus or malware it can prove to be more than frustrating. Getting rid of Malware isn’t exactly easy and in many (probably most) cases professional help may be required. First things first though! Lets be honest…
              time
                a(href="#") 10 Aug 2016
            .new
              h4
                a(href="#") Computer security checks
              p If you have a iPhone or any other smart phone you must likely have a four digit lock code on your phone that requires a four digit password in order to enter the phone, this is a form of computer password protection security, consider adding…
              time
                a(href="#") 10 Aug 2016
            a(href="#").read_more Read More
section.our_clients
  .container
    .client
      .row.align-items-center.justify-content-center
        .col-auto
          img.img-responsive(src="img/client-img.jpg" alt="Client")
        .col-xl-6.col-lg-5.col-12
          .desc
            h4 May 1, 2017
            p I highly recommend this place . Friendly, courteous service, fast and reasonably priced. These guys know what they are doing! My smartphone is working perfect now! Thank you!
        .col-lg.col-auto
          a(href="#").read_more More Info
    .brands
      a(href="#")
        img(src="img/brands-1.jpg" align="Brand 1")
      a(href="#")
        img(src="img/brands-2.jpg" align="Brand 1")
      a(href="#")
        img(src="img/brands-3.jpg" align="Brand 1")
      a(href="#")
        img(src="img/brands-4.jpg" align="Brand 1")
      a(href="#")
        img(src="img/brands-5.jpg" align="Brand 1")
section.get_in_touch(style="background-image: url('../img/contact-bg.jpg')")
  .container
    .row
      .col-12.offset-0.offset-md-6.col-md-6
        h3 GET IN TOUCH
        form(action="#" method="post")
          .inpt_white
            .fa.fa-user
            input(type="text" placeholder="Your Name" name="name")
          .inpt_white
            .fa.fa-envelope
            input(type="text" placeholder="Your e-mail" name="mail")
          .inpt_white
            .fa.fa-phone
            input(type="text" placeholder="Your phone" name="phone" required)
          .inpt_white
            .fa.fa-leaf
            textarea(placeholder="Your Message" rows="10" name="message")
          input.read_more(type="submit" value="Send")




