section.news
  .container
    .list_news
      .new
        img.img-responsive(src="img/news-1.jpg" alt="News 1")
        h4
          a(href="#") How To Clean Up A Virus
        p If your PC gets infected by a kind of virus or malware it can prove to be more than frustrating. Getting rid of Malware isn’t…
        .row.justify-content-between.align-items-center
          .col-auto
            a(href="#").read_more Read More
          .col-auto.align-content-center
            ul.list_social
              li
                a(href="#")
                  .fa.fa-facebook-f
              li
                a(href="#")
                  .fa.fa-twitter
              li
                a(href="#")
                  .fa.fa-google-plus-g
              li
                a(href="#")
                  .fa.fa-linkedin-in
              li
                a(href="#")
                  .fa.fa-pinterest
        .posted
          a(href="#")
            time 10 Aug 2016 by
          a(href="#")
            .by admin
          a(href="#").comments
            .fa.fa-comment
            |
            | 0 comment(s)
      .new
        img.img-responsive(src="img/news-2.jpg" alt="News 1")
        h4
          a(href="#") Computer security checks
        p If you have a iPhone or any other smart phone you must likely have a four digit lock code on your phone that requires a…
        .row.justify-content-between.align-items-center
          .col-auto
            a(href="#").read_more Read More
          .col-auto.align-content-center
            ul.list_social
              li
                a(href="#")
                  .fa.fa-facebook-f
              li
                a(href="#")
                  .fa.fa-twitter
              li
                a(href="#")
                  .fa.fa-google-plus-g
              li
                a(href="#")
                  .fa.fa-linkedin-in
              li
                a(href="#")
                  .fa.fa-pinterest
        .posted
          a(href="#")
            time 10 Aug 2016 by
          a(href="#")
            .by admin
          a(href="#").comments
            .fa.fa-comment
            |
            | 0 comment(s)
      .new
        img.img-responsive(src="img/news-3.jpg" alt="News 1")
        h4
          a(href="#") Laptop vs Tablets
        p Are you finding it hard to pick from a laptop or a tablet? Both have similar features but are so different when you look at…
        .row.justify-content-between.align-items-center
          .col-auto
            a(href="#").read_more Read More
          .col-auto.align-content-center
            ul.list_social
              li
                a(href="#")
                  .fa.fa-facebook-f
              li
                a(href="#")
                  .fa.fa-twitter
              li
                a(href="#")
                  .fa.fa-google-plus-g
              li
                a(href="#")
                  .fa.fa-linkedin-in
              li
                a(href="#")
                  .fa.fa-pinterest
        .posted
          a(href="#")
            time 10 Aug 2016 by
          a(href="#")
            .by admin
          a(href="#").comments
            .fa.fa-comment
            |
            | 0 comment(s)

