section.title_services
	.container
		h2.text-center We repair a wide range of electronic devices, for a variety of issues.
section.our_services(style="background-image: url('../img/serv-img.jpg')")
	.container
		.row
			.col.offset-lg-7.offset-md-6.offset-0
				h2 OUR SERVICES
				p We can assure you that we have seen it all! From smartphones that have been run over by a car, to cellphones that have taken a dive in a pool, we are prepared to face anything that comes our way. Every IRepair technician goes through an intensive training process, and we maintain an environment of constant learning, so no device is too new, no technology too complicated.
				p We love people and cell phones. So, you always get the best service and the best price. We are locally owned and operated with master level techs at each location. From charging ports to glass only repairs to antennas and speakers, we repair the most.
section.what_we_repair
	.container.text-center
		.row
			.col-12.col-md
				a.modal-link(href="#modal-service-1")
					img.img-responsive(src="img/serv-1.jpg" alt="Serv 1")
				h4 
					a.modal-link(href="#modal-service-1") Smartphone Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-2")
					img.img-responsive(src="img/serv-2.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-2") Tablet Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-3")
					img.img-responsive(src="img/serv-3.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-3") Computer Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
		.row
			.col-12.col-md
				a.modal-link(href="#modal-service-4")
					img.img-responsive(src="img/serv-1.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-4") Smartphone Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-5")
					img.img-responsive(src="img/serv-2.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-5") Tablet Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-6")
					img.img-responsive(src="img/serv-3.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-6") Computer Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r
		.row
			.col-12.col-md
				a.modal-link(href="#modal-service-7")
					img.img-responsive(src="img/serv-1.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-7") Smartphone Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-8")
					img.img-responsive(src="img/serv-2.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-8") Tablet Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’re
			.col-12.col-md
				a.modal-link(href="#modal-service-9")
					img.img-responsive(src="img/serv-3.jpg" alt="Serv 1")
				h4
					a.modal-link(href="#modal-service-9") Computer Repair
				p Except standard services we offer additional ones which can be made urgently Data Recovery – Need important data that you’r