@font-face {
    font-family: 'Mido Medium';
    src: url('../fonts/Mido-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Mido-Medium.woff') format('woff'), url('../fonts/Mido-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('../fonts/Lucida-Sans.ttf');
}

@font-face {
    font-family: 'Charis Sil';
    src: url('../fonts/CharisSILR.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Charis Sil';
    src: url('../fonts/CharisSILB.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Charis Sil';
    src: url('../fonts/charis_sil_italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('../fonts/lucida-sans-italic.TTF');
    font-style: italic;
}

@font-face {
    font-family: 'Lucida Sans';
    src: url('../fonts/Lucida_Sans_Demibold.ttf');
    font-weight: bold;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a:hover,
a:visited,
a:active,
a:focus,
a {
    text-decoration: none;
}





/*Header*/

header {
    background-image: url('../img/header_bg.jpg');
    border-bottom: 1px solid #dfecf2;
    -webkit-box-shadow: 0 2px 2px 0 #abbbc2;
    box-shadow: 0 2px 2px 0 #abbbc2;
    padding-top: 35px;
    padding-bottom: 68px;
    position: relative;
    z-index: 20;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-family: 'Mido Medium', 'Sans-serif';
    display: inline-block;
}

h2 {
    font-family: 'Charis Sil', 'Sans-serif';
    font-weight: bold;
    color: #504f4f;
    font-size: 25px;
}

h3 {
    font-family: 'Charis Sil', 'Sans-serif';
    font-style: italic;
    color: #7da0b3;
    font-size: 24px;
    margin: 0 0 80px 0;
}

h4 {
    font-family: 'Charis Sil', 'Sans-serif';
    color: #456474;
    font-weight: bold;
    font-size: 17px;
}

.product .info ul li,
.product .info p {
    font-family: 'Lucida Sans', 'Sans-serif';
    color: #505050;
    font-size: 14px;
}

a,
.phone p {
    font-family: 'Charis Sil', 'Sans-serif';
}

header a {
    color: #62889a;
    font-size: 15px;
    text-transform: uppercase;
    padding: 13px 19px 11px 17px;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3dae6), to(#a9bfd2));
    background: linear-gradient(#c3dae6, #a9bfd2);
    background: -webkit-linear-gradient(#c3dae6, #a9bfd2);
    border-left: 1px solid #a9bfd2;
    border-top: 1px solid #a9bfd2;
    border-right: 1px solid #a9bfd2;
    display: inline-block;
}

.phone span {
    color: #a5a5a5;
}

.phone p {
    color: #504f4f;
    font-size: 18px;
    margin: 15px 0 0 0;
}

.logo {
    display: inline-block;
}

.phone {
    float: right;
}

.clear {
    clear: both;
}

hr {
    margin: 10px 0 0 0;
    color: #e7e7e2;
    border-bottom: 1px solid #ffffff;
}

.product {
    margin-top: 42px;
}

.product img {
    border: 1px solid #cccccc;
    padding: 10px 10px;
    background: #ffffff;
    width: 100%;
}

.product-img {
    display: inline-block;
    float: left;
}

.product .shadow {
    margin-top: -8px;
    background: url(../img/shadow_product.png) no-repeat center top;
    height: 10px;
    width: 100%;
    opacity: 0.33;
}

.product .info {
    max-width: 288px;
    display: inline-block;
    padding-left: 25px;
}

.product .info ul {
    list-style-type: square;
    margin-top: 0;
    margin-bottom: 38px;
}

.product .info ul {
    padding-left: 15px;
}

.product .info p {
    line-height: 25px;
}

.product .info ul li {
    margin-top: 8px;
}

.product .info ul li:first-child {
    margin-top: 0;
}

.shadow-header {
    position: relative;
    z-index: 10;
    background: url(../img/shadow_header.png) no-repeat center;
    height: 10px;
    opacity: 0.33;
    margin-top: -4px;
}





/* Main */

section {
    margin-top: -8px;
    padding: 40px 0;
    background: #c9dce6;
    border-bottom: 1px solid #dfecf2;
    -webkit-box-shadow: 0 2px 3px 0 #abbbc2;
    box-shadow: 0 2px 3px 0 #abbbc2;
    position: relative;
    z-index: 5;
}

#carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

#carousel .slide {
    padding: 6px 6px;
    border: 1px solid #cccccc;
    background: #ffffff;
}

#next {
    margin-left: 14px;
    display: block;
}

#prev {
    margin-right: 14px;
    display: block;
}

.content-footer {
    background: #d7e7ef;
    padding: 65px 0 120px 0;
    border-bottom: 1px solid #dfecf2;
    -webkit-box-shadow: 0 2px 2px 0 #abbbc2;
    box-shadow: 0 2px 2px 0 #abbbc2;
    position: relative;
    z-index: 4;
}

.widjets-product {
    display: -webkit-box;
    -webkit-box-pack: justify;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.widjet {
    width: 290px;
}

.widjet h4 {
    margin: 0 0 0 7px;
}

.widjet .header {
    display: -webkit-box;
    -webkit-box-pack: justify;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widjets-product p {
    font-family: 'Lucida Sans';
    color: #505050;
    font-size: 13px;
    line-height: 20px;
}

.posts {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.post {
    max-width: 290px;
}

.widjets-posts {
    position: relative;
    background: #c9dce6;
    max-width: 625px;
    padding: 10px 13px 18px 10px;
}

.widjets-posts span {
    font-family: 'Lucida Sans', 'Sans-serif';
    font-size: 50px;
    color: #456474;
    position: absolute;
}

.widjets-posts p {
    font-family: 'Lucida Sans', 'Sans-serif';
    font-style: italic;
    color: #456474;
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    margin-bottom: 7px;
}

.widjets-posts a {
    font-family: 'Lucida Sans', 'Sans-serif';
    font-weight: bold;
    color: #456474;
    font-size: 12px;
    padding-left: 20px;
}

.widjets-posts h4 {
    margin: 0 0 16px 0;
}



.widjets-form {
    width: 290px;
    padding-top: 5px;
}

.widjets-postsform {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flexitems
}

.widjets-form .contact {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
}

input[type="submit"] {
    padding: 9px;
    font-family: 'Charis Sil', 'Sans-serif';
    color: #62889a;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3dae6), to(#a9bfd2));
    background: linear-gradient(#c3dae6, #a9bfd2);
    font-size: 13px;
    border: 1px solid #b4c8d9;
    margin-left: -5px;
}

input[type="text"] {
    padding: 12px 9px 10px 9px;
    font-family: 'Charis Sil', 'Sans-serif';
    font-size: 11px;
    color: #7a7a7a;
    width: 190px;
    border: 1px solid #b4c8d9;
}

form {
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.widjets-form .contact p {
    display: inline-block;
    margin: 10px 0 10px 15px;
}

.widjets-form .contact p,
.widjets-form .contact a {
    font-family: 'Lucida Sans', 'Sans-serif';
    font-size: 12px;
    color: #505050;
}





/*Footer*/

footer {
    position: relative;
    z-index: 3;
    background: #c9dce6;
}

footer p {
    display: inline-block;
    color: #505050;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Sans-serif';
}

footer .social-icons {
    float: right;
}