footer#to_contacts
	.container
		.custom_title.text-center
			h2 Контакты
		.row.align-items-center.justify-content-xl-between
			.col-auto
				a.logo(href="#")
					img(src="img/logo.png", alt="Logo")
				h1.d-none Стенды
			.col-12.col-xl-auto.col-sm
				ul.menu
					li
						a(href="#to_main") Главная
					li
						a(href="#to_product") Продукция
					li
						a(href="#to_production") Производство
					li
						a(href="#to_stock") Акции
					li
						a(href="#to_delivery") Доставка
					li
						a(href="#to_contacts") Контакты
				.btn_collapse_menu.d-block.d-md-none
					span
					span
					span
			.col-auto
				.phone
					i.fi.flaticon-technology
					a(href="tel:+375293003030") +375 (29) 300-30-30
			.w-100.d-none.d-lg-block
			.col
				.order_call
					a(href="#form_order_call").modal Заказать звонок
		.row.text-center
			.col
				.copy Copyright © 2018 Стенды
			.col
				a.delivery(href="http://amtex.by/") Разработка компании Amtex