header
	.container
		.row.align-items-center.justify-content-xl-between
			.col-auto
				a.logo(href="#")
					img(src="img/logo.png", alt="Logo")
				h1.d-none Стенды
			.col-12.col-md-auto.order-5.order-md-0
				ul.menu
					li
						a(href="#to_main") Главная
					li
						a(href="#to_product") Продукция
					li
						a(href="#to_production") Производство
					li
						a(href="#to_stock") Акции
					li
						a(href="#to_delivery") Доставка
					li
						a(href="#to_contacts") Контакты
			.col.col-sm-auto
				.phone
					i.fi.flaticon-technology
					a(href="tel:+375293003030") +375 (29) 300-30-30
			.w-100.d-none.d-lg-block
			.col.d-none.d-md-block
				.order_call
					a.modal(href="#form_order_call") Заказать звонок
			.col.d-block.d-md-none
				.row.align-items-center.justify-content-end.flex-nowrap
					.col-auto
						.order_call_mobile
							a.modal(href="#form_order_call")
								i.fi.flaticon-phone-receiver
					.col-auto
						.btn_collapse_menu
							span
							span
							span

