-var page = "404 Not Found"
doctype html
html(lang="ru")
  include layouts/head.pug
  body
    include layouts/header.pug
    include layouts/breadcrumbs.pug
    include pages/404.pug
    include layouts/footer.pug
    script(src="js/scripts.min.js")

