-var page = "Contacts"
doctype html
html(lang="ru")
  include layouts/head.pug
  body
    include layouts/header.pug
    include layouts/breadcrumbs.pug
    include pages/contacts.pug
    include layouts/footer.pug
    script(src="js/scripts.min.js")