doctype html
html(lang="ru")
    include layouts/head.pug
    body.isHome
        include layouts/header.pug
        include pages/main.pug
        include layouts/footer.pug
        script(src="js/scripts.min.js")


