-var page = "Services"
doctype html
html(lang="ru")
  include layouts/head.pug
  body
    include layouts/header.pug
    include layouts/breadcrumbs.pug
    include pages/services.pug
    include layouts/footer.pug
    include layouts/modal-services.pug
    script(src="js/scripts.min.js")

