@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/Qanelas-Regular.eot');
  src: url('../fonts/Qanelas-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Regular.woff') format('woff'), url('../fonts/Qanelas-Regular.woff2') format('woff2'), url('../fonts/Qanelas-Regular.ttf') format('truetype'), url('../fonts/Qanelas-Regular.svg#Qanelas') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/Qanelas-Medium.eot');
  src: url('../fonts/Qanelas-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Medium.woff') format('woff'), url('../fonts/Qanelas-Medium.woff2') format('woff2'), url('../fonts/Qanelas-Medium.ttf') format('truetype'), url('../fonts/Qanelas-Medium.svg#Qanelas') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/Qanelas-SemiBold.eot');
  src: url('../fonts/Qanelas-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-SemiBold.woff') format('woff'), url('../fonts/Qanelas-SemiBold.woff2') format('woff2'), url('../fonts/Qanelas-SemiBold.ttf') format('truetype'), url('../fonts/Qanelas-SemiBold.svg#Qanelas') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Qanelas';
  src: url('../fonts/Qanelas-Bold.eot');
  src: url('../fonts/Qanelas-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Qanelas-Bold.woff') format('woff'), url('../fonts/Qanelas-Bold.woff2') format('woff2'), url('../fonts/Qanelas-Bold.ttf') format('truetype'), url('../fonts/Qanelas-Bold.svg#Qanelas') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.woff2') format('woff2'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-SemiBold.eot');
  src: url('../fonts/ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-SemiBold.woff') format('woff'), url('../fonts/ProximaNova-SemiBold.woff2') format('woff2'), url('../fonts/ProximaNova-SemiBold.ttf') format('truetype'), url('../fonts/ProximaNova-SemiBold.svg#ProximaNova') format('svg');
  font-weight: 600;
  font-style: normal;
}
body {
  font: 16px Qanelas, sans-serif;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  color: #2f2f2f;
  overflow-x: hidden;
  opacity: 1;
}
h1 {
  font-size: 44px;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  font-size: 30px ;
  margin-bottom: 25px;
}
.inverse-darken {
  background: #000d02;
  color: #fff;
  padding-bottom: 45px;
}
.inverse {
  background: #001603;
  color: #fff;
  padding-bottom: 45px;
}
.order_btn {
  background: #00c317;
  border-radius: 8px;
  display: inline-block;
}
.order_btn a {
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 45px;
  display: block;
  color: #fff;
  font-size: 22px;
}
.calculate_cost_btn {
  background: #00c317;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 45px;
  display: block;
  color: #fff;
  font-size: 22px;
  outline: none;
  border: none;
  margin-top: 40px;
}
.list_site {
  margin: 20px 0 50px;
  list-style: none;
  padding: 0;
}
.list_site li {
  font-weight: 500;
  position: relative;
  padding-left: 15px;
}
.list_site li:before {
  content: '';
  width: 9px;
  height: 9px;
  display: inline-block;
  background: #00c317;
  border-radius: 50%;
  margin-right: 7px;
  top: 8px;
  left: 0;
  position: absolute;
}
.form_calculate {
  border-radius: 5px;
  border: 2px solid #00c317;
  padding: 15px 25px 25px;
}
.form_calculate .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form_calculate .title {
  font-size: 20px;
  font-weight: 600;
}
.form_calculate label {
  font-weight: normal;
}
.form_calculate .selectize-control.single .selectize-input.input-active {
  background: transparent;
}
.form_calculate .selectize-control.single .selectize-input:after {
  border-color: #fff transparent transparent transparent;
}
.form_calculate .selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #fff transparent;
}
.form_calculate input[type="text"],
.form_calculate input[type="tel"],
.form_calculate .selectize-input {
  border-radius: 8px;
  border: 2px solid #00c317;
  background: transparent;
  color: #fff;
}
.form_calculate .selectize-input {
  padding: 12px;
}
.form_calculate input[type="text"],
.form_calculate input[type="tel"] {
  padding: 20px 12px;
}
.form_calculate input[type="submit"] {
  width: 100%;
}
.form_leave_number .title {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px;
}
.form_leave_number .title span {
  color: #00c317;
}
.form_leave_number input[type="tel"],
.form_leave_number input[type="text"] {
  outline: none;
  border-radius: 8px;
  border: 2px solid #00c317;
  background: transparent;
  padding: 6px 12px;
  width: 100%;
  margin-bottom: 20px;
}
.form_leave_number input[type="submit"] {
  margin-top: 0;
  width: 100%;
  padding-bottom: 7px;
  font-size: 20px;
}
.overlay-dark {
  background: rgba(0, 0, 0, 0.92);
  padding-bottom: 45px;
}
.overlay-light {
  background: rgba(255, 255, 255, 0.92);
  padding-bottom: 65px;
}
.phone,
.mail {
  display: inline-block;
}
.phone a,
.mail a {
  font-weight: bold;
}
.phone .fa,
.mail .fa {
  color: #00c317;
  margin-right: 10px;
}
.phone {
  margin-right: 60px;
}
.phone .fa {
  font-size: 30px;
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
}
.mail .fa {
  font-size: 20.5px;
}
.phone a {
  font-size: 17px;
}
.mail a {
  font-size: 18px;
}
#form_order {
  display: none;
  margin: 0 5%;
  max-width: 500px;
}
header {
  background: url('../img/bg_top.png') 50% / cover no-repeat;
  padding: 15px 0 160px;
}
header .contact {
  margin-bottom: 100px;
}
header .phone a,
header .mail a {
  color: #303030;
}
section.why_required_plan {
  padding-bottom: 30px;
}
section.why_required_plan p {
  font: 300 24px ProximaNova, sans-serif;
}
section.why_required_plan p a {
  font-weight: 500;
  color: #00c317;
  text-decoration: none;
}
section.why_required_plan h3 {
  font: 600 28px ProximaNova, sans-serif;
  margin-bottom: 35px;
}
section.why_required_plan .required_for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.why_required_plan .block {
  width: 18%;
}
section.why_required_plan .block .title {
  margin-top: 7px;
}
section.attention p {
  font-weight: bold;
  font-size: 18px;
}
section.attention .special_offer {
  font-size: 22px;
}
section.attention .special_offer .value {
  color: #ff5a00;
}
section.attention .PS {
  margin: 20px 0 25px;
}
section.order_develop_plan p {
  margin-bottom: 30px;
}
section.order_develop_plan img {
  margin-bottom: 15px;
}
section.order_develop_plan .order_btn {
  margin-top: 30px;
}
section.demands {
  padding-bottom: 45px;
}
section.demands h2 {
  margin-bottom: 40px;
}
section.demands .demands_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section.demands .block {
  border-radius: 50%;
  width: 165px;
  height: 165px;
  padding-bottom: 0;
  padding: 30px 20px;
  margin-bottom: 9px;
}
section.demands .block p {
  margin-top: 10px;
  line-height: 1;
  font-size: 13px;
}
section.turnkey_value {
  color: #fff;
}
section.turnkey_value .evacuation_plan_paper {
  background: url('../img/bg_center_1.jpg') 0 / cover no-repeat;
}
section.turnkey_value .evacuation_plan_lamination {
  background: url('../img/bg_center_2.jpg') 0 / cover no-repeat;
}
section.turnkey_value .photoluminescent_evacuation_plan,
section.turnkey_value .evacuation_plan_lamination .overlay-dark {
  padding-bottom: 110px;
}
section.turnkey_value p {
  font-size: 28px;
  line-height: 1.3;
  margin: 20px 0 40px;
}
section.turnkey_value .list_site {
  margin: 0 0 10px;
}
section.turnkey_value .list_site li {
  font-weight: 400;
  padding-left: 25px;
}
section.turnkey_value .list_site li:before {
  width: 15px;
  height: 15px;
}
section.turnkey_value .list_site a {
  color: #00c317;
  text-decoration: none;
}
section.turnkey_value .evacuation_plan_paper .list_site li {
  font-size: 20px;
}
section.turnkey_value .evacuation_plan_plastic .list_site li {
  font-size: 20px;
}
section.turnkey_value .photoluminescent_evacuation_plan .list_site li {
  font-size: 19px;
}
section.turnkey_value .evacuation_plan_lamination .list_site li {
  font-size: 23px;
}
section.content_plan_evacuation {
  background: url('../img/bg_center_3.jpg') 0 / cover no-repeat;
}
section.content_plan_evacuation .title {
  color: #00c317;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
section.content_plan_evacuation ol {
  padding-left: 17px;
}
section.content_plan_evacuation ol li {
  font-weight: 500;
  margin-bottom: 15px;
}
section.get_advice {
  padding-bottom: 35px;
}
section.get_advice p a {
  color: #00c317;
  text-decoration: none;
  padding-right: 15%;
}
footer {
  padding-top: 20px;
}
footer.inverse-darken {
  padding-bottom: 0;
  background: #000;
}
footer .contact {
  margin-bottom: 20px;
}
footer .phone a,
footer .mail a {
  color: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  .order_btn {
    width: 100%;
    text-align: center;
  }
  .order_btn a {
    font-size: 19px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .inverse-darken {
    padding-bottom: 20px;
  }
  section.turnkey_value .photoluminescent_evacuation_plan,
  section.turnkey_value .evacuation_plan_lamination .overlay-dark {
    padding-bottom: 30px;
  }
  .form_calculate .title {
    font-size: 13px;
  }
  .form_calculate label,
  .form_calculate .selectize-input {
    font-size: 10px;
  }
  .form_calculate .selectize-input {
    padding: 8px 8px;
  }
  .form_calculate input[type="text"],
  .form_calculate input[type="tel"] {
    padding: 14px 8px;
  }
  header .contact {
    text-align: center;
    margin-bottom: 20px;
  }
  .phone a {
    font-size: 13px;
  }
  .mail a {
    font-size: 14px;
  }
  .phone {
    margin-right: 30px;
  }
  .phone .fa {
    font-size: 22px;
  }
  .mail .fa {
    font-size: 15px;
  }
  header {
    padding-bottom: 30px;
    position: relative;
    background: url('../img/bg_top_mobile.jpg') 0 / cover no-repeat;
    color: #fff;
  }
  header .phone a,
  header .mail a {
    color: #fff;
  }
  header .list_site {
    margin-bottom: 30px;
  }
  header .content {
    width: 65%;
    margin: 0 auto;
  }
  header .list_site li {
    font-size: 13.3px;
  }
  header:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.92);
    top: 0;
  }
  section.why_required_plan .block .title {
    font-size: 14px;
  }
  section.why_required_plan .required_for {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  section.why_required_plan .block {
    width: 40%;
  }
  section.why_required_plan p {
    font-size: 13px;
  }
  section.why_required_plan h3 {
    font-size: 16px;
  }
  section.attention .special_offer {
    font-size: 16px;
    font-weight: bold;
  }
  section.attention p {
    font-size: 14px;
    font-weight: normal;
  }
  section.order_develop_plan p {
    font-size: 12px;
  }
  section.order_develop_plan .order_btn {
    margin-top: 15px;
  }
  section.demands h2 {
    font-size: 11.44px;
  }
  section.demands .demands_blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section.demands .block {
    width: 125px;
    height: 125px;
    padding: 15px;
  }
  section.demands .block p {
    font-size: 10px;
  }
  section.demands h2 {
    margin-bottom: 20px;
  }
  section.turnkey_value h2 {
    margin-bottom: 0;
  }
  section.turnkey_value img {
    margin-bottom: 30px;
  }
  section.turnkey_value .evacuation_plan_lamination .list_site li,
  section.turnkey_value .evacuation_plan_paper .list_site li,
  section.turnkey_value .evacuation_plan_plastic .list_site li,
  section.turnkey_value .photoluminescent_evacuation_plan .list_site li {
    font-size: 13px;
  }
  section.turnkey_value .list_site li:before {
    width: 8px;
    height: 8px;
  }
  section.turnkey_value .list_site li {
    padding-left: 15px;
  }
  section.turnkey_value p {
    font-size: 18px;
    margin: 10px 0;
  }
  .form_calculate input[type="submit"] {
    font-size: 12px;
    margin-top: 20px;
    padding: 8px 0;
  }
  section.attention .PS {
    font-size: 11px;
    margin: 15px 0 20px;
  }
  section.attention h2 {
    margin-bottom: 10px;
  }
  .reverse_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  section.get_advice p {
    font-size: 12px;
  }
  section.get_advice form .title {
    font-size: 12px;
    padding: 0 16%;
  }
  section.get_advice form input[type="submit"] {
    font-size: 19px;
  }
  section.get_advice form input[type="tel"] {
    font-size: 15px;
  }
  footer .copyright {
    font-size: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 23px;
  }
  .phone a {
    font-size: 15px;
  }
  .mail a {
    font-size: 16px;
  }
  .phone .fa {
    font-size: 26px;
  }
  .mail .fa {
    font-size: 18px;
  }
  header .list_site li {
    font-size: 15px;
  }
  section.why_required_plan p {
    font-size: 16px;
  }
  .order_btn a {
    font-size: 15px;
  }
  section.why_required_plan .block .title {
    font-size: 14px;
  }
  section.why_required_plan h3 {
    font-size: 20px;
  }
  section.attention .special_offer {
    font-size: 16px;
  }
  section.attention h2 {
    font-size: 19px;
  }
  section.attention p {
    font-size: 14px;
  }
  section.attention .PS {
    font-size: 11px;
  }
  section.order_develop_plan p {
    font-size: 14px;
  }
  section.demands .demands_blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section.demands .block {
    width: 125px;
    height: 125px;
    padding: 15px;
  }
  section.demands .block p {
    font-size: 10px;
  }
  section.turnkey_value .evacuation_plan_paper .list_site li {
    font-size: 16px;
  }
  section.turnkey_value .evacuation_plan_plastic .list_site li {
    font-size: 13px;
  }
  section.turnkey_value .list_site li:before {
    width: 9px;
    height: 9px;
  }
  section.turnkey_value .evacuation_plan_lamination .list_site li {
    font-size: 14px;
  }
  section.turnkey_value .photoluminescent_evacuation_plan .list_site li {
    font-size: 12px;
  }
  .form_calculate .title {
    font-size: 13px;
  }
  .form_calculate label,
  .form_calculate input,
  .form_calculate .selectize-input {
    font-size: 10px;
  }
  .form_calculate .calculate_cost_btn {
    font-size: 15px;
    margin-top: 30px;
  }
  .form_calculate input[type="text"],
  .form_calculate input[type="tel"] {
    padding: 16px 9px;
  }
  .form_calculate .selectize-input {
    padding: 9px 9px;
  }
  section.content_plan_evacuation .title {
    font-size: 14px;
  }
  section.content_plan_evacuation ol li {
    font-size: 12px;
  }
  section.get_advice p {
    font-size: 12px;
  }
  section.get_advice form .title {
    font-size: 12px;
  }
  section.get_advice form input[type="tel"] {
    font-size: 10px;
  }
  section.get_advice form input[type="submit"] {
    font-size: 13px;
  }
  footer .phone a,
  footer .mail a {
    font-size: 14px;
  }
  footer .copyright {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .form_calculate input[type="submit"] {
    font-size: 10px;
  }
}
