footer.footer-site
    .container
        ul.footer-site-menu
            li.footer-site-menu-li
                a.footer-site-menu-link(href="#") Поддержка клиентов
            li.footer-site-menu-li
                a.footer-site-menu-link(href="#") О компании
            li.footer-site-menu-li
                a.footer-site-menu-link(href="#") Полезная информация
            li.footer-site-menu-li
                a.footer-site-menu-link(href="#") Контакты
