header.header-site
    .container
        .row.align-items-center.justify-content-md-end
            .col-md-auto.col-12.order-4.order-md-0
                ul.header-menu
                    li.header-menu-li
                        a.header-menu-link(href="#") О компании
                    li.header-menu-li
                        a.header-menu-link(href="#") Решения
                    li.header-menu-li
                        a.header-menu-link(href="#") Продукты
                    li.header-menu-li
                        a.header-menu-link(href="#") Технологии
                    li.header-menu-li
                        a.header-menu-link(href="#") Услуги
                    li.header-menu-li
                        a.header-menu-link(href="#") Отзывы
                    li.header-menu-li
                        a.header-menu-link(href="#") Офисы
            .col.d-none.d-xl-block
            .col-auto.skype.order-1.order-md-0
                    img.icon-skype(src="img/icon_skype.png" alt="Icon skype")
                    a.tel-skype(href="skype:+375257402263?call") Skype-звонок
            .col-auto.tel.order-2.order-md-0
                    a.tel-viber(href="viber://add?number:+375257402263") +375 25 740-22-63(Viber)
            .col.d-md-none.d-block.order-3.order-md-0
                button.btn-collapse-menu
                    span.inner-line
                    span.inner-line
                    span.inner-line

