head
    meta(charset="utf-8")
    base(href="/")
    title Title
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(property="og:image" content="path/to/image.jpg")
    link(rel="shortcut icon", href="img/favicon/favicon.ico" type="image/x-icon")
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
    meta(name="theme-color" content="#000")
    link(rel="stylesheet" href="css/main.min.css")