.modal-overlay
    .modal#find-out-cost
        button.modal-close &times;
        h3.title Укажите ваши данные
        form
            input(type="tel" placeholder="Телефон")
            input(type="text" placeholder="Имя")
            input(type="submit" value="Узнать")