.isAbout
	section.about_us
		.container
			h2 About Us
			.row
				.col-sm-3
					img.img-responsive(src="img/about_us_1.jpg")
				.col-sm-9
					p Livamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo luctus liberoret. Praesenter faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequa.
					p Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdumertolo mokiju werto nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet. Huisque viverra nulla nunc, eu ultrices libero ultricies eget. Ohasellus accumsajusto vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet ertolomino kolinomi holo.
	section.what_me_offer
		.container
			h2 What We Offer
			.row
				.col-sm-4
					.block
						.row
							.col-sm-4.col-md-3
								.date_day 1
							.col-sm-8.col-md-9
								.desc
									.title
										a(href="#") Lorem Ipsumen
									p Curabitur vel lorem sit amet nulla corper fermentum In vitae varius augue, eu ctetur ligulaam dui eroserty. Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla eu 
				.col-sm-4
					.block
						.row
							.col-sm-4.col-md-3
								.date_day 2
							.col-sm-8.col-md-9
								.desc
									.title
										a(href="#")  Ipsumen Dertol
									p Trabitur vel lorem sit amet nulla corper fermentum In vitae varius augue, eu ctetur ligulaam dui eroserty. Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla
				.col-sm-4
					.block
						.row
							.col-sm-4.col-md-3
								.date_day 3
							.col-sm-8.col-md-9
								.desc
									.title
										a(href="#") Setorem Osumen
									p Nurabitur vel lorem sit amet nulla corper fermentum In vitae varius augue, eu ctetur ligulaam dui eroserty. Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tincidunta eu sodales
	section.our_staff
		.container
			h2 Our Staff
			.row
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_1.jpg", alt="Our Staff 1")
					.name
						a(href="#") Sharon Brown
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_2.jpg", alt="Our Staff 2")
					.name
						a(href="#") Mark Carter
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_3.jpg", alt="Our Staff 3")
					.name
						a(href="#") Sandra Smith
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_4.jpg", alt="Our Staff 4")
					.name
						a(href="#") Tim Jons
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_5.jpg", alt="Our Staff 5")
					.name
						a(href="#") Richard Wright
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-xs-6.col-sm-4.col-md-2
					img.img-responsive(src="img/our_staff_6.jpg", alt="Our Staff 6")
					.name
						a(href="#") Kevin Steawart
					p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
