.isBlog
	section.blog
		.container
			h2 Our Blog
			.block_b
				.row
					.col-sm-12.col-md-1.text-center
						.date_day 2
						.date_month July
						.date_year 2014
					.col-sm-12.col-md-3
						img.img-responsive(src="img/our_blog_1.jpg",alt="Our Blog 1")
					.col-sm-10.col-md-8
						.row
							.col-xs-9.col-sm-10
								.title Livamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum.
								.posted Posted by 
									a.author(href="#") Admin
							.col-xs-3.col-sm-2
								a.comments(href="#")
									i.fa.fa-comments
									.count 3
						p
							|Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdumertolo mokiju werto
							br
							| nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet. Huisque viverra nulla nunc, eu ultrices libero ultricies eget. Ohasellus accumsajusto vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet ertolomino kolinomi holo.
						.more
							a(href="#") more
			.block_b
				.row
					.col-sm-12.col-md-1.text-center
						.date_day 5
						.date_month July
						.date_year 2014
					.col-sm-12.col-md-3
						img.img-responsive(src="img/our_blog_2.jpg",alt="Our Blog 2")
					.col-sm-10.col-md-8
						.row
							.col-xs-9.col-sm-10
								.title Deliquam nibh ante, egestas id dictum. Phasellus erat nisl, auctor vel velit sed, pharetra.
								.posted Posted by 
									a.author(href="#") Admin
							.col-xs-3.col-sm-2
								a.comments(href="#")
									i.fa.fa-comments
									.count 1
						p
							|Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdumertolo mokiju werto
							br
							| nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet. Huisque viverra nulla nunc, eu ultrices libero ultricies eget. Ohasellus accumsajusto vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet ertolomino kolinomi holo.
						.more
							a(href="#") more
			.block_b
				.row
					.col-sm-12.col-md-1.text-center
						.date_day 12
						.date_month July
						.date_year 2014
					.col-sm-12.col-md-3
						img.img-responsive(src="img/our_blog_3.jpg",alt="Our Blog 3")
					.col-sm-10.col-md-8
						.row
							.col-xs-9.col-sm-10
								.title Ellus erat nisl, auctor vel velit sed, pharetraiue rhoncliquam nibh ante, egestas id dictuy.
								.posted Posted by 
									a.author(href="#") Admin
							.col-xs-3.col-sm-2
								a.comments(href="#")
									i.fa.fa-comments
									.count 2
						p
							|Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdumertolo mokiju werto
							br
							| nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet. Huisque viverra nulla nunc, eu ultrices libero ultricies eget. Ohasellus accumsajusto vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet ertolomino kolinomi holo.
						.more
							a(href="#") more
			.block_b
				.row
					.col-sm-12.col-md-1.text-center
						.date_day 22
						.date_month July
						.date_year 2014
					.col-sm-12.col-md-3
						img.img-responsive(src="img/our_blog_4.jpg",alt="Our Blog 4")
					.col-sm-10.col-md-8
						.row
							.col-xs-9.col-sm-10
								.title Mamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictumo.
								.posted Posted by 
									a.author(href="#") Admin
							.col-xs-3.col-sm-2
								a.comments(href="#")
									i.fa.fa-comments
									.count 0
						p
							|Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdumertolo mokiju werto
							br
							| nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet. Huisque viverra nulla nunc, eu ultrices libero ultricies eget. Ohasellus accumsajusto vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet ertolomino kolinomi holo.
						.more
							a(href="#") more

