.isContacts
	section.contacts
		.container
			h2 Contacts
			#map
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
			.row
				.col-sm-4
					.block_adress
						h2 Adress:
						p
							| 138 Atlantis Ln
							br
							| Kingsport
							br
							| Illinois121164
				.col-sm-4
					.block_phone
						h2 Phone:
						.phone
							a(href="tel:+18005596580") +1 504 889 9898
						.phone
							a(href="tel:+15048899898") +1 504 889 9898
				.col-sm-4
					.block_mail
						h2 E-mail:
						.mail
							a(href="mailto:mail@demolink.org") mail@demolink.org
						.download
							a(href="#") Download
				.col-sm-12
					.block_miscellaneous
						h2 Miscellaneous information:
						p  24/7 support is available for all 
							a(href="#") premium themes.
						p If you have problems with customization of freebies, ask guys from 
							a(href="#") TemplateTuning 
							|to help you.
						p Aliquam nibh ante, egestas id dictum a, commodo luctus liberoret. Praesenter faucibus malesuada faucibus. Donec laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur orci sed nulla facilisis consequa.
				.col-sm-12
					form
						.row
							.col-sm-4
								input(type="text",placeholder="Name:")
							.col-sm-4
								input(type="mail",placeholder="E-mail:",required)
							.col-sm-4
								input(type="tel",placeholder="Phone:",required)
							.col-sm-12
								textarea(rows="10",placeholder="Message")
							.col-sm-12.text-right
								input(type="submit",value="Send E-mail")
		