.isMain
	div.about
		.container
			.row
				.col-md-3.col-sm-4
					.years
						.count 10
						.desc
							|Years Of
							br
							|Experience
				.col-md-3.col-sm-4
					.sucs_project
						.count 30
						.desc
							|Successful
							br
							|Projects
				.col-md-3.col-sm-4
					.partner_project
						.count 20
						.desc
							|Partner
							br
							|Projects
				.col-md-3.col-sm-4
					.support
						.time 24/7
						.desc
							|Online
							br
							|Technical
							br
							|Support
						button.btn_supp Click Here
	section.welcome
		.container
			.row
				.col-sm-12.text-center
					h2 Welcome
					p.txt_1
						|Read more about the 
						a(href="#") freebie 
						| here.
						br
						|Go to TemplateMonster.com and find more 
						a(href="#") goodies 
						|freebie of this kind
					p.txt_2 Curabitur vel lorem sit amet nulla ullamcorper fermentum. In vitae varius augue, eu consectetur ligula. Etiam dui eros, laoreet site amet est vel, commodo venenatis eros. Fusce adipiscing quam id risus sagittis, non consequat lacus interdum.nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan
	section.advantages_and_testimonals
		.container
			.row
				.col-sm-7
					h2 Our Advantages
					.advantage.advantage_1
						.row
							.col-sm-4
								img.img-responsive(src="img/our_advantages_1.jpg", alt="Our Advanced 1")
							.col-sm-8
								h3 Experience
								p Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert varius augue, eu consectetur ligulaam dui eros dertoli.
								p Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales vertomin
								.more
									a(href="#") More
					.advantage.advantage_2
						.row
							.col-sm-4
								img.img-responsive(src="img/our_advantages_2.jpg", alt="Our Advanced 2")
							.col-sm-8
								h3 Marketing
								p Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae varius augue, eu consectetur ligulaam dui eroserty.
								p Fusce adipiscing quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales vertomin
								.more
									a(href="#") More
				.col-sm-4.col-md-offset-0.col-lg-offset-1
					h2 Testimonials
					.testimonal.testimonal_1
						p “Curabitur vel lorem sit amet nulla erero fermentum. In vitae varius auguectetu ligula. Etiam dui eros, laoreet site am est vel commodo venenatisipiscing... ” quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet massa.Vestibulum nec metus feugiat, congue erat quis, venenatis nisi.
						a.author(href="#") Liza Jons
					.testimonal.testimonal_2
						p “Burabitur vel lorem sit amet nulla erero fermentum. In vitae varius auguectetu ligula. Etiam dui eros, laoreet site am ast vel commodo venenatisipiscino... ” quam id risus sagittis, non consequat lacus interdum. Proin ut tinciduntol nulla, eu sodales arcu. Quisque viverra nulla nunc, eu ultrices libero ultricies eget. Phasellus accumsan justo vitae feugiat placerat. Praesent vel ultrices velit. Suspendisse risus justo, lacinia vitae eleifend sed, cursus sit amet massa.Vestibulum nec metus feugiat, congue erat quis, venenatis nisi.
						a.author(href="#") Mark Brown
	section.widjets
		.container
			.row
				.col-sm-7.col-md-5
					.widjet_1
						h3 About Company
						img.img-responsive(src="img/about_company_1.jpg", alt="About Company")
						p Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert arius augue, eu consectetur
						p Eligulaam dui eros dertolisce dertolo adipiscing quam id risus sagittis
						p Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert rius augue, eu consectetur larem dui eros dertolisce dertolo
						.clearfix
				.col-sm-5.col-md-4
					.widjte_2
							h3 Solutions
							ul.list-site
								li
									a(href="#") Vivamus at magna non nunc tristique 
								li
									a(href="#") Aliquam nibh ante, egestas id
								li
									a(href="#") Ommodo luctus libero
								li
									a(href="#") Faucibus malesuada faucibusonec Laoreet 
								li
									a(href="#") metus id laoreet
								li
									a(href="#") Jalesuadaorem ipsum dolor sit ame
				.col-sm-12.col-md-3
					.widjet_3
						h3 Contact info
						.street 8901 Marmora Road, Glasgow, D04 89GR
						.number
							a(href="tel:+18001239876") +1 (800) 123 9876
						.mail
							a(href="mailto:info@demolink.org") info@demolink.org
						.site
							a(href="www.demolink.org") www.demolink.org
