.isServices
	section.featured_services
		.container
			h2 Featured Services
			.row
				.col-sm-4.col-md-2
					.title
						a(href="#") Vivamus at magna
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-sm-4.col-md-2
					.title
						a(href="#") Integer convallis
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-sm-4.col-md-2
					.title
						a(href="#") Desato limo dew
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-sm-4.col-md-2
					.title
						a(href="#") Vestibulum volutpa
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-sm-4.col-md-2
					.title
						a(href="#") Еestibu dertolo
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
				.col-sm-4.col-md-2
					.title
						a(href="#") Nolutpaersa fert
						p Curabitur vel lorem sitmet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur ligulaam dui eros dertolisce dertoloing quam id risus sagittis
	section.services_we_work_plan
		.container
			.row
				.col-sm-7.col-md-5.col-lg-3
					h2 Services List
					ul.list-site
						li
							a(href="#") Vivamus at magna non nunc tristique 
						li
							a(href="#") Aliquam nibh ante, egestas id
						li
							a(href="#") Ommodo luctus libero
						li
							a(href="#") Faucibus malesuada faucibusonec Laoreet 
						li
							a(href="#") metus id laoreet
						li
							a(href="#") alesuadaorem ipsum dolor sit ame
						li
							a(href="#") Konsectetur adipiscing elitert
						li
							a(href="#") Tliquam nibh ante, egestas idi
						li
							a(href="#") Ammodo luctus liberom
						li
							a(href="#") Noaucibus malesuada faucibonecy 
				.col-sm-5.col-md-7.col-md-offset-0.col-lg-4.col-lg-offset-1
					h2 How We Work
					.block_hww
						.row
							.col-md-4.col-lg-6
								img.img-responsive(src="img/how_we_work_1.jpg", alt="How We Work 1")
							.col-lg-6
								.title
									a(href="#") Aliquam nibh ante
								p Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae dert varius augue eu consectetur ligulaam dui
					.block_hww
						.row
							.col-md-4.col-lg-6
								img.img-responsive(src="img/how_we_work_2.jpg", alt="How We Work 2")
							.col-lg-6
								.title 
									a(href="#") Olquam nibh ante
								p Trabitur vel lorem sit amet nulla ullamcorper fermentum In vitae varius augue, eu consectetur ligulaam dui eroserty. 
				.col-sm-9.col-md-9.col-md-offset-0.col-lg-3.col-lg-offset-1
					h2 Business Plan
					.block_bp
						.title
							a(href="#")  Ipsumen Dertol
						p Trabitur vel lorem sit amet nulla corper fermentum In vitae varius augue, eu ctetur ligulaam dui eroserty. Fusce adipiscing quam id risus sagittis, non consequat lacus 
						.more
							a(href="#") more
					.block_bp
						.title
							a(href="#")  Setorem Osumen
						p Nurabitur vel lorem sit amet nulla corper fermentum In vitae varius augue, eu ctetur ligulaam dui eroserty. Fusce adipiscing quam id risus sagittis, non consequat lacus
						.more
							a(href="#") more
	section.methods
		.container
			h2 Methods
			.row
				.col-md-4
					.row
						.col-md-6
							img.img-responsive(src="img/methods_1.jpg", alt="Methods 1")
						.col-md-6
							p.ft Curabitur vel lorem sit amet nulla ullamcorper fermentum In vitae
							p Eligulaam dui eros rtolisce dertolo adipiscing quam id
						.col-md-12
							p Curabitur vel lorem sit amet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur larem dui eros 
				.col-md-4
					.row
						.col-md-6
							img.img-responsive(src="img/methods_2.jpg", alt="Methods 2")
						.col-md-6
							p.ft Lurabitur vel lorem sit amet nulla ullamcorper fermentum In vitae 
							p Eligulaam dui eros rtolisce dertolo adipiscing ua i isus
						.col-md-12
							p Kurabitur vel lorem sit amet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur larem dui eros
				.col-md-4
					.row
						.col-md-6
							img.img-responsive(src="img/methods_3.jpg", alt="Methods 3")
						.col-md-6
							p.ft Ourabitur vel lorem sit amet nulla ullamcorper fermentum In vitae 
							p Eligulaam dui eros rtolisce dertolo adipiscing quam 
						.col-md-12
							p Turabitur vel lorem sit amet nulla ullamcorper mentum In vitae dert rius augue, eu consectetur larem dui eros 