.page-about
    .container
        .row
            .col-lg-auto
                h2.underline О компании
                img.img-responsive(src="img/about_company.png" alt="About")
            .col
                p
                    b.blue ООО «Дэлвин»
                    |
                    | является официальным дистрибьютором смазочных материалов концерна «FUCHS»
                    | в Республике Беларусь. Компания предлагает весь спектр масел и смазок «FUCHS» для коммерческого
                    | транспорта, дорожно-строительной техники и всех видов промышленности.
                p
                    | Один из факторов надежной работы оборудования – правильные смазочные материалы.
                    br
                    | Поэтому, мы всегда открыты для вопросов по подбору и применению продукции FUCHS.
                    br
                    | Если необходимо – проведем обучение механиков.
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.
                p
                    | В тесном сотрудничестве со своими заказчиками группа компаний FUCHS разрабатывает комплексные
                    | инновационные и индивидуальные решения для самых различных областей применения. Производимые
                    | группой компаний FUCHS смазочные материалы известны своими высокими характеристиками,
                    | экологичностью, безопасностью и надежностью, эффективностью применения и экономичностью.
                    br
                    | Продукция группы компаний FUCHS основана на принципе: технология, которая окупается.
                p С продукцией нашей компании Вы можете ознакомиться в каталоге
                .btn.w170.transparent
                    a.drop-right-link(href="#") Перейти в каталог
section.our-advantages
    .container
        .advantages
            .advantage
                .wrap-icon
                    .icon-oil
                p
                    | Грамотный подбор
                    | необходимых
                    | смазочных материалов
            .advantage
                .wrap-icon
                    .icon-truck
                p
                    | Доставка по всей
                    | Беларуси
            .advantage
                .wrap-icon
                    .icon-smartphone
                p
                    | Техническая
                    | консультация и
                    | поддержка
            .advantage
                .wrap-icon
                    .icon-rating
                p
                    | Цены сопоставимы
                    | качеству продукта