.articles
    .container
        h2.underline Статьи
        .articles-list
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
            .row.article
                .col-lg-4
                    img.img-responsive(src="img/article_1.jpg" alt="Article")
                .col.desc
                    time 20 Марта 2018
                    .author Александр Иванов
                    a.title(href="#") Как выбирают моторное масло эксперты?
                    p
                        | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого
                        | желания, но и покупая дешевые масла есть риск экономии на качестве. Не качественные смазки способны значительно
                        | сократить время рабочего ресурса техники. Таким...
                    a.more(href="#") Подробнее...
        .paginations
            ul.pagination
                li
                    a.current(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") ›
