.catalog
    section.production-category
        .container
            .categories
                .category
                    img.img-responsive(src="img/oil_type_1.jpg" alt="Oil")
                    a(href="#").title.drop-down-link Индустриальные масла
                    ul.sub-category
                        li
                            a.drop-right-link(href="#") Вакуумные масла
                        li
                            a.drop-right-link(href="#") Гидравлические масла
                        li
                            a.drop-right-link(href="#") Циркуляционные масла
                        li
                            a.drop-right-link(href="#") Масла для направляющих скольжения
                        li
                            a.drop-right-link(href="#") Масла для газовых двигателей
                        li
                            a.drop-right-link(href="#") Компрессорные масла
                        li
                            a.drop-right-link(href="#") Масла-теплоносители
                        li
                            a.drop-right-link(href="#") Холодильные масла
                        li
                            a.drop-right-link(href="#") Электроизоляционные масла
                        li
                            a.drop-right-link(href="#") Масла для пневмоинструмента
                        li
                            a.drop-right-link(href="#") Масла для газовых компрессоров
                        li
                            a.drop-right-link(href="#") Редукторные масла
                .category
                    img.img-responsive(src="img/oil_type_2.jpg" alt="Oil")
                    a(href="#").title.drop-down-link
                        | Масла для
                        | коммерческой техники
                    ul.sub-category
                        li
                            a.drop-right-link(href="#") Моторные масла
                        li
                            a.drop-right-link(href="#") Антифризы
                        li
                            a.drop-right-link(href="#") Трансмиссионные масла
                        li
                            a.drop-right-link(href="#") Тормозные жидкости
                        li
                            a.drop-right-link(href="#") Универсальные тракторные масла
                        li
                            a.drop-right-link(href="#") Масла для авто-трансмиссий и гидросистем
                .category
                    img.img-responsive(src="img/oil_type_3.jpg" alt="Oil")
                    a(href="#").title.drop-down-link Пластичные смазки
                    ul.sub-category
                        li
                            a.drop-right-link(href="#") Многоцелевые смазки
                        li
                            a.drop-right-link(href="#") Специальные смазки
                .category
                    img.img-responsive(src="img/oil_type_4.jpg" alt="Oil")
                    a(href="#").title.drop-down-link
                        | cassida
                        | (пищевые смазки)
                .category
                    img.img-responsive(src="img/oil_type_5.jpg" alt="Oil")
                    a(href="#").title.drop-down-link Антифризы
    .container
        p
            | Масло Fuchs во многом обуславливает качество и эффективность любого двигателя внутреннего сгорания, независимо от того, какого он типа и где используется. Истинным
            | ценителям немецкого качества мы предлагаем широкий ассортимент масел для моторов от компании Fuchs.Специалисты знают: перед приобретением смазки для двигателя
            | необходимо внимательно изучить его особенности и режимы работы. Дизельные двигатели отличаются от бензиновых более высоким температурным режимом. Кроме того,
            | сернистые элементы дизтоплива образуют с маслом агрессивные соединения, что снижает ресурс силового агрегата. У нас вы можете купить масло Fuchs с соответствующими
            | добавками, специально разработанное и для дизелей, и для бензиновых моторов.Отдельно мы предлагаем масла для легковых, грузовых автомобилей, а также для тракторов.
            | Это обусловлено продолжительностью нагрузки на силовой агрегат, ее спецификой и установленными экологическими нормами.