.page-category
    .container
        .row
            .col-12.col-md-auto
                aside
                    h4 Категории
                    ul.categories
                        li
                            .wrap-link
                                a(href="#") Индустриальные масла
                                button.drop
                        li.parent.active
                            .wrap-link
                                a(href="#") Масла для коммерческой техники
                                button.drop.drop-down
                            ul.sub-categories
                                li.active
                                    a(href="#") Моторные масла
                                li
                                    a(href="#") Антифризы
                                li
                                    a(href="#") Трансмиссионные масла
                                li
                                    a(href="#") Тормозные жидкости
                                li
                                    a(href="#") Универсальные тракторные масла
                                li
                                    a(href="#") Масла для авто-трансмиссий и гидросистем

                        li
                            .wrap-link
                                a(href="#") Пластичные смазки
                                button.drop
                        li
                            .wrap-link
                                a(href="#") CASSIDA
                                button.drop
                        li
                            .wrap-link
                                a(href="#") Антифриз
                                button.drop
            .col.offset-lg-1
                h2.underline Моторные масла
                .row
                    .col
                        ul.products-list
                            li
                                a.name(href="#") Fuchs Titan Supersyn LL 0W40
                            li
                                a.name(href="#") Fuchs Titan SYN MC 10W40
                            li
                                a.name(href="#") Fuchs Titan Supersyn 5W40
                            li
                                a.name(href="#") Fuchs Titan GT1 5W40
                            li
                                a.name(href="#") Fuchs Titan GT1 Pro C4 5W30
                            li
                                a.name(href="#") Fuchs Titan GT 1 Pro C3 5W30
                    .col
                        ul.products-list
                            li
                                a.name(href="#") Fuchs Titan GT 1 Pro Flex 5W30
                            li
                                a.name(href="#") Fuchs Titan Supersyn Longlife Plus 0W30
                            li
                                a.name(href="#") Fuchs Titan Supersyn LL 0W40
                            li
                                a.name(href="#") Fuchs Titan Supersyn LL 0W40
                            li
                                a.name(href="#") Fuchs Titan Supersyn LL 0W40
                            li
                                a.name(href="#") Fuchs Titan Supersyn LL 0W40
