section.contacts
    .container
        .row
            .col-md-5.col
                h2.underline Контакты
                img.img-responsive(src="img/contacts.png" alt="Contacts")
            .col-12.col-md
                p Общество с ограниченной ответственностью «ДЭЛВИН»
                p Адрес: 223058, Минский р-н, п.Опытный, ул.Центральная, д.1Б
                p Тел./факс: +375 (17) 265-15-99,
                p +375 (17) 265-35-24, +375 (44) 703-20-00, +375 (29) 625-50-03
                p УНП 291416041
                p E-mail: tav@delvin.by
                p Время работы: с 8.00 -18.00, выходные: Сб, Вс.
#map
section.feedback
    .container
        h3 Обратная связь
        form
            .row-btn
                .inpt
                    input(type="text" placeholder="Ваш имя")
                .inpt
                    input(type="text" placeholder="E-mail")
            textarea(placeholder="Сообщение")
            .btn.w170.accent
                input(type="submit" value="Отправить")