section.delivery
    .container
        .row.align-items-center
            .col-md-7
                h2.underline Доставка
                p
                    | Компания «Дэлвин» осуществляет бесплатную доставку по Республике Беларусь
                    | в течение суток, если товар есть в наличии.
                p.thin
                    | Вам будет достаточно найти необходимое масло в нашем каталоге, заказать его, и наши
                    | специалисты свяжутся с Вами, чтобы обсудить условия применения и критерии
                    | работоспособности продуктов до их применения и удостовериться, что выбранный вами
                    | продукт идеально подходит к вашим условиями применения. После этого Вам останется
                    | только немного подождать и подходящее масло будет доставлено.
                .btn.w170.transparent
                    a.drop-right-link(href="#") Перейти в каталог
            .col.offset-md-1
                img.img-responsive(src="img/delivery.jpg" alt="Delivery")
section.banner-2
    .container
        h2 Подбор масла и смазочных материалов
        h4 для снижения затрат клиента
        p Если Вы не нашли необходимые Вам позиции, обращайтесь к нашим специалистам
        form
            .inpt.w190
                input(type="tel" placeholder="Ваш телефон")
            .btn.accent.w170
                input(type="submit" value="Заказать звонок")