section.banner-1(style="background-image: url('../img/banner_1.jpg')")
    .container
        .content
            h1
                span.accent СМАЗОЧНЫЕ
                |
                | МАТЕРИАЛЫ
            h2 И ТЕХНОЛОГИЧЕСКИЕ ЖИДКОСТИ
            .wrap-img
                img(src="img/blob.png" alt="Blob")
            .wrap-btn
                .btn.w200.accent
                    a.drop-right-link(href="#") Смотреть каталог
section.lubricants
    .container
        .lubricants-brands
            .brand
                img(src="img/lubricants_brand_1.png" alt="Brand")
            .brand
                img(src="img/lubricants_brand_2.png" alt="Brand")
            .brand
                img(src="img/lubricants_brand_3.png" alt="Brand")
section.production-category
    .container
        .categories
            .category
                img.img-responsive(src="img/oil_type_1.jpg" alt="Oil")
                a(href="#").title.drop-right-link Индустриальные масла
            .category
                img.img-responsive(src="img/oil_type_2.jpg" alt="Oil")
                a(href="#").title.drop-right-link
                    | Масла для
                    | коммерческой техники
            .category
                img.img-responsive(src="img/oil_type_3.jpg" alt="Oil")
                a(href="#").title.drop-right-link Пластичные смазки
            .category
                img.img-responsive(src="img/oil_type_4.jpg" alt="Oil")
                a(href="#").title.drop-right-link
                    | cassida
                    | (пищевые смазки)
            .category
                img.img-responsive(src="img/oil_type_5.jpg" alt="Oil")
                a(href="#").title.drop-right-link Антифризы
section.about-company
    .container
        .row
            .col-md-4.col-12
                h2.underline О компании
            .col
                p
                    span.blue ООО «Дэлвин»
                    |
                    | является официальным дистрибьютором смазочных материалов концерна «FUCHS»
                    | в Республике Беларусь. Компания предлагает весь спектр масел и смазок «FUCHS» для коммерческого
                    | транспорта, дорожно-строительной техники и всех видов промышленности.
                a.blue(href="#") Подробнее...
section.our-advantages
    .container
        .advantages
            .advantage
                .wrap-icon
                    .icon-oil
                p
                    | Грамотный подбор
                    | необходимых
                    | смазочных материалов
            .advantage
                .wrap-icon
                    .icon-truck
                p
                    | Доставка по всей
                    | Беларуси
            .advantage
                .wrap-icon
                    .icon-smartphone
                p
                    | Техническая
                    | консультация и
                    | поддержка
            .advantage
                .wrap-icon
                    .icon-rating
                p
                    | Цены сопоставимы
                    | качеству продукта
section.monitoring-motor-hydraulic-oils
    .container
        h2.underline.text-center Мониторинг моторных и гидравлических масел
        p
            | Наше сотрудничество с конечным потребителем не заканчивается на поставке необходимого смазочного материала.
            br
            | По Вашему желанию мы предоставляет техническое сопровождение продукта программой мониторинга.
        a.blue(href="#") Подробнее...
        .stage-work
            .work
                .wrap-icon
                    .icon-oil-bak
                .title
                    | Запрос на проведение
                    | анализа
                p
                    | потребитель направляет
                    | запрос к нам на проведение
                    | анализа масла
            .work
                .wrap-icon
                    .icon-flask
                .title
                    | поступление пробы
                    | в лабораторию
                p
                    | поступление пробы
                    | в лабораторию для
                    | подробного анализа
            .work
                .wrap-icon
                    .icon-blood-analysis
                .title
                    | диагностика
                    | в лаборатории
                p
                    | лаборатория проверяет
                    | соответствие показателей
                    | нормам, анализирует
            .work
                .wrap-icon
                    .icon-bar-graph
                .title
                    | выдача протокола
                    | с результатами
                p
                    | выдается протокол с
                    | результатами анализа,
                    | выводами и рекомендациями
section.banner-2
    .container
        h2 Подбор масла и смазочных материалов
        h4 для снижения затрат клиента
        p Если Вы не нашли необходимые Вам позиции, обращайтесь к нашим специалистам
        form
            .inpt.w190
                input(type="tel" placeholder="Ваш телефон")
            .btn.accent.w170
                input(type="submit" value="Заказать звонок")
section.last-news
    .container
        h2.underline Новости
        .news
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
        .btn.transparent.w170
            a(href="#").drop-right-link Все новости
#map