.page-monitoring
    .container
        h2.underline Мониторинг моторных и гидравлических масел
        .row
            .col-lg-auto
                img.img-responsive(src="img/monitoring.png" alt="Monitoring")
            .col
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.
                p
                    | FUCHS — это основанная в Германии глобальная группа компаний, которая уже в течении более чем
                    | 85 лет занимается разработкой, производством и сбытом смазочных материалов практически для всех
                    | областей применения и отраслей промышленности. В составе группы FUCHS насчитывается около
                    | 60 компаний и почти 5000 сотрудников по всему миру, а сама группа FUCHS является лидирующим
                    | независимым поставщиком смазочных материалов.