.news
    .container
        h2.underline Новости
        .news-list
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_1.jpg" alt="News")
                .col.desc
                    time 19 Февраля 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | То, что два различных масла, отвечают всем необходимым Спецификациям, не обязательно должно означать, что
                        | эти два масла имеют одинаковое качество. Это происходит потому, что в Спецификациях установлен минимум
                        | требований, предъявляемых к смазочному материалу. Высококачественные масла часто бывают с гораздо более
                        | лучшими, качественными характеристиками, чем того требуют Спецификации...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_2.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_3.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_1.jpg" alt="News")
                .col.desc
                    time 19 Февраля 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | То, что два различных масла, отвечают всем необходимым Спецификациям, не обязательно должно означать, что
                        | эти два масла имеют одинаковое качество. Это происходит потому, что в Спецификациях установлен минимум
                        | требований, предъявляемых к смазочному материалу. Высококачественные масла часто бывают с гораздо более
                        | лучшими, качественными характеристиками, чем того требуют Спецификации...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_2.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_3.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_1.jpg" alt="News")
                .col.desc
                    time 19 Февраля 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | То, что два различных масла, отвечают всем необходимым Спецификациям, не обязательно должно означать, что
                        | эти два масла имеют одинаковое качество. Это происходит потому, что в Спецификациях установлен минимум
                        | требований, предъявляемых к смазочному материалу. Высококачественные масла часто бывают с гораздо более
                        | лучшими, качественными характеристиками, чем того требуют Спецификации...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_2.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
            .row.new
                .col-lg-4
                    img.img-responsive(src="img/news_3.jpg" alt="News")
                .col.desc
                    time 02 Марта 2018
                    a.title(href="#") Высококачественные моторные масла
                    p
                        | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS.
                        | Группа компаний FUCHS достигает выдающихся результатов вследствие темпов инновации, которые превышают...
                    .btn.w170.transparent
                        a.drop-right-link(href="#") Подробнее
        .paginations
            ul.pagination
                li
                    a.current(href="#") 1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") ›
