.page-single-news
    .container
        h2.underline FUCHS: инновационное предприятие
        .wrap-img
            img.img-responsive(src="img/single_news.jpg" alt="Single News")
        time 02 Марта 2018
        p
            | Высокий уровень инноваций является ключевой движущей силой в бизнес-модели группы компаний FUCHS. Группа компаний FUCHS достигает
            | выдающихся результатов вследствие темпов инновации, которые превышают средние по отрасли, и высокой степени специализации. Нашей целью
            | является непрерывное развитие потенциала смазочных материалов; другими словами, повышение эффективности применения, а также увеличение
            | жизненного цикла продуктов, разработка многофункциональных смазочных материалов и инновационных продуктов в соответствии с новыми
            | техническими и нормативными требованиями в дополнение к улучшению энергоэффективности, технологических процессов и показателей
            | экономичности. Одновременно с этим мы привержены целям экологически устойчивого ведения бизнеса и стремимся разрабатывать решения
            | для смазывания, которые способствуют сохранению окружающей среды и природных ресурсов.
        p
            | Поэтому в группе компаний FUCHS особое внимание уделяется научно-исследовательским работам. В настоящее время в компании реализуется
            | свыше 600 научно-исследовательских проектов для оценки потенциала новых технологий, таких как нанотехнологии и технологии применения
            | минимального количества смазки. В данных проектах занято приблизительно 400 инженеров и ученых, работающих в 25 лабораториях по всему
            | миру. Примерно 10% сотрудников лабораторий заняты в области научно-технических исследований и разработок, при этом группа компаний FUCHS
            | постоянно инвестирует средства в дальнейшее расширение своих технических и кадровых возможностей. Ультрасовременный Технологический
            | центр в головном офисе в г. Мангейм осуществляет координацию международной сети экспертов, обеспечивает накопление экспертных знаний и
            | поддерживает передачу знаний относительно глобальных требований.
        a.more.blue(href="#") Вернуться к новостям
section.last-news
    .container
        h2.underline Последние новости
        .news
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
            .new
                img(src="img/last_news_1.jpg" alt="News")
                .desc
                    time 19 Февраля 2018
                    .name Высококачественные моторные масла
                    p В настоящее время становится все сложнее и дороже разрабатывать новые моторные...
                    a.more(href="#") Подробнее
        .btn.transparent.w170
            a(href="#").drop-right-link Все новости