.page-single-article
    .container
        h2.underline Как выбирают моторное масло эксперты?
        .wrap-img
            img.img-responsive(src="img/single_article.jpg" alt="Single News")
        time 02 Марта 2018
        .author Александр Иванов
        p
            | Выбор лучшего моторного масла для своей техники – задача не из простых. Переплачивать за бренд нет никакого желания, но и покупая дешевые масла есть риск экономии
            | на качестве. Не качественные смазки способны значительно сократить время рабочего ресурса техники. Таким образом, когда нам предстоит выбор и покупка моторного масла
            | мы всегда стараемся найти золотую середину между краткосрочной и долгосрочной экономией, что усложняется отсутствием данных.В результате, мы вынуждены верить
            | продавцам и механикам, которые зачастую бывают не вполне честны с нами ввиду разных причин: начиная с личной партнерской выгоды и заканчивая замаскированной
            | не компетентностью.
        p
            | В результате, мы вынуждены верить продавцам и механикам, которые зачастую бывают не вполне честны с нами ввиду разных причин: начиная с личной партнерской выгоды
            | и заканчивая замаскированной не компетентностью. Однако, это не значит, что у покупателя не остается возможности оградить себя и свою технику от заведомо менее
            | качественных смазочных материалов. Есть универсальные показатели, по которым ориентируются все профи. или даже "гуру" рынка смазочных материалов.
            | Как известно, компании добывающие и перерабатывающие собственную нефть из своих же месторождений производят масла принципиально высшего качества.
        p
            | Производители масел постоянно корректируют технологический процесс и подстраивают производственные ньюаесы под сырье, которое получили, но это негативно
            | сказывается на стоимости производства, а следовательно остужает желание производителей повышать качественные характеристики. Даже суперкорпорации уровня
            | EXXON-MOBIL вынуждены признать преимущество компаний способных обеспечить весь цикл  производства, несмотря на достойные показатели собственной продукции.
        a.more.blue(href="#") Вернуться в статьи