.page-single-product
    .container
        .row
            .col-12.col-md-auto
                aside
                    h4 Категории
                    ul.categories
                        li
                            .wrap-link
                                a(href="#") Индустриальные масла
                                button.drop
                        li.parent.active
                            .wrap-link
                                a(href="#") Масла для коммерческой техники
                                button.drop.drop-down
                            ul.sub-categories
                                li.active
                                    a(href="#") Моторные масла
                                li
                                    a(href="#") Антифризы
                                li
                                    a(href="#") Трансмиссионные масла
                                li
                                    a(href="#") Тормозные жидкости
                                li
                                    a(href="#") Универсальные тракторные масла
                                li
                                    a(href="#") Масла для авто-трансмиссий и гидросистем

                        li
                            .wrap-link
                                a(href="#") Пластичные смазки
                                button.drop
                        li
                            .wrap-link
                                a(href="#") CASSIDA
                                button.drop
                        li
                            .wrap-link
                                a(href="#") Антифриз
                                button.drop
            .col.offset-lg-1.single-product
                h3 TITAN GT1 PRO FLEX 5W-30 (4L)
                .row
                    .col-12.col-lg
                        .wrap-img
                            img.img-responsive(src="img/product_1.jpg" alt="Product 1")
                    .col-12.col-lg
                        .cat Моторное масло
                        .name TITAN GT1 PRO FLEX 5W-30 (4L)
                        .btn.w200.blue
                            a(href="#get-consultation").modal-link Получить консультацию
                        .row
                            .col
                                a(href="#").download
                                    .icon-technical-description
                                    .download-text
                                        | Скачать техническое
                                        | описание (TDS)
                            .col
                                a(href="#").download
                                    .icon-pass-quality
                                    .download-text
                                        | Скачать Паспорт
                                        | качества (MSDS)
                        .description
                            .title Описание
                            p
                                | Моторное масло премиум-класса для легковых автомобилей и лёгких
                                | грузовиков нового поколения с уменьшенным расходом топлива, низкой
                                | токсичностью выхлопа и увеличенными сервисными интервалами.
                                | Моторное масло TITAN GT1 PRO FLEX 5W-30 обеспечивает нормальную работу
                                | турбонагнетателей и систем обработки выхлопных газов, и для этого имеет
                                | пониженное содержание серы и фосфора, а также низкую зольность.
                                | Имеет хорошие пусковые свойства и облегчает холодный пуск двигателя,
                                | а благодаря низкой летучести гарантирует минимальный расход на угар.
                                | TITAN GT1 PRO FLEX 5W-30 является универсальным сервисным продуктом
                                | для обслуживания автомобилей с бензиновыми и дизельными двигателями.
                                | Продукт полностью совместим с другими моторными маслами.
                .characteristics
                    .title Характеристики
                    .characteristic
                        .characteristic-name Состав масла
                        .characteristic-val Синтетическое
                    .characteristic
                        .characteristic-name Вязкость
                        .characteristic-val 5W-30
                    .characteristic
                        .characteristic-name Тип двигателя
                        .characteristic-val бензиновый, дизельный
                    .characteristic
                        .characteristic-name Спецификации и допуски
                        .characteristic-val
                            | ACEA C3, A3/B4; API SN; Dexos 2; BMW LONGLIFE-04; MB-APPROVAL 229.51;
                            | VW 502 00/505 00/505 01; FORD M2C917-A; GM-LL-A-025; GM-LL-B-025
                    .characteristic
                        .characteristic-name Объем
                        .characteristic-val 4 л


