section.sub_header#to_main
    .container
        .row.no-gutters.justify-content-center
            .col-md-6.col-12
                h2
                    .r_1 Изготовим
                        span.blue  стенды
                    br
                    .r_2 любой формы и конструкции
                .free_check_out.text-uppercase
                    | бесплатный выезд
                    br
                    | специалиста-консультанта в день обращения
                .services
                    .service.text-center
                        img(src="img/service_icon_1.png" , alt="Service icon 1")
                        .txt
                            | Любые
                            | размеры  и варианты
                            | исполнения
                    .service.text-center
                        img(src="img/service_icon_2.png" , alt="Service icon 2")
                        .txt
                            | Подбор
                            | изображений на
                            | любую тематику
                    .service.text-center
                        img(src="img/service_icon_3.png" , alt="Service icon 3")
                        .txt
                            | Разработка
                            | вашего уникального
                            | дизайна
            .col-lg-6.col-xl-auto.col-auto.col-md-6
                .form_bg.text-center
                    form(action="mail.php", method="post")
                        .title.text-uppercase Оставьте заявку
                        .sub_title
                            | и получите бесплатную
                            | консультацию
                        .inpt_white
                            input(type="text", placeholder="Имя", name="name")
                        .inpt_white
                            input(type="tel", required, placeholder="Номер телефона", name="phone")
                        .btn_pained.blue
                            input(type="submit", value="Получить консультацию")
                        input(type="hidden", value="Получить консультацию", name="form_type")
                    .PS
                        | *мы не передаем Вашу персональную
                        | информацию третьим лицам
section.banner_1
    .container
        .row.align-items-center.justify-content-center
            .col-sm-auto.col-12
                .window_bg
                    .content.text-center
                        .title.text-uppercase
                            | Собственное
                            | производство
                        .desc
                            | лучшая цена и быстрый
                            | срок изготовления
                        a.look(href="#to_production") Смотреть &raquo;
            .col
                form.banner(action="mail.php", method="post").text-center
                    .title Оставьте свой номер – мы вам перезвоним
                    .row_btn
                        .inpt_white
                            input(type="tel", name="phone", required, placeholder="Номер телефона")
                        .btn_transparent
                            input(type="submit", value="Заказать звонок")
                    .PS *мы не передаем Вашу персональную информацию третьим лицам
                    input(type="hidden", name="form_type" value="Оставьте свой номер – мы вам перезвоним")
section.stand_fire_safety#to_product
    .container
        .custom_title.text-center
            h2 Стенды по пожарной безопасности
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/fire_safety_stands_1.jpg", alt="Fire safety stand 1")
                .col.col-xl-8
                    .desc
                        .title Стенд по пожарной безопасности 1
                        .row.row_with_PS
                            .col-xl-6.col-lg
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  35 р. 60 к.
                                .size
                                    b Размеры:
                                    |  400 х 770 мм.
                            .col-auto
                                .PS
                                    | Возможно комплектование
                                    | листовками с необходимой
                                    | информацией - всегда в наличии.
                                    br
                                    b Цена за 1
                                    |  шт.
                                    b  1,4 р.
                        .performance
                            b Исполнение:
                            br
                            | - 4 кармана для листов формата А4;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 28 р. 48 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд по пожарной безопасности 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/fire_safety_stands_2.jpg", alt="Fire safety stand 2")
                .col.col-xl-8
                    .desc
                        .title Стенд по пожарной безопасности 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  40 р.
                            .col
                                .size
                                    b Размеры:
                                    |  490 х 770 мм.
                        .performance
                            b Исполнение:
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 36 р.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд по пожарной безопасности 2")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/fire_safety_stands_3.jpg", alt="Fire safety stand 3")
                .col.col-xl-8
                    .desc
                        .title Стенд по пожарной безопасности 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  161 р. 33 к.
                            .col
                                .size
                                    b Размеры:
                                    |  1200 х 2100 мм.
                        .performance
                            b Исполнение:
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (5 мм).
                        .add При заказе более 5 шт. Цена: 129 р. 70 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд по пожарной безопасности 3")
section.banner_2
    .container
        .row.align-items-center.justify-content-xl-around.justify-content-center
            .col-auto
                .questions
                    | Остались
                    br
                    | вопросы?
            .col.col-xl-auto
                form.banner(action="mail.php", method="post").text-center
                    .title Оставьте свой номер – мы вам перезвоним
                    .row_btn
                        .inpt_white
                            input(type="tel", name="phone", required, placeholder="Номер телефона")
                        .btn_transparent
                            input(type="submit", value="Заказать звонок")
                    .PS *мы не передаем Вашу персональную информацию третьим лицам
                    input(type="hidden", name="form_type" value="Оставьте свой номер – мы вам перезвоним")
section.stand_kindergarten
    .container
        .custom_title.text-center
            h2 Стенды для детского сада
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_kindergarten_1.jpg", alt="Stand kindergarten 1")
                .col.col-xl-8
                    .desc
                        .title Стенд для детского сада 1
                        .row
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  19 р. 33 к.
                            .col
                                .size
                                    b Размеры:
                                    |  500 х 500 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 1 карман для листа формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 15 р. 47 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд для школы 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_kindergarten_2.jpg", alt="Stand kindergarten 2")
                .col.col-xl-8
                    .desc
                        .title Стенд для детского сада 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  85 р.
                            .col
                                .size
                                    b Размеры:
                                    |  850 х 900 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 4 кармана для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 68 р.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone" required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type", value="Стенд для школы 2")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_kindergarten_3.jpg", alt="Stand kindergarten 3")
                .col.col-xl-8
                    .desc
                        .title Стенд для детского сада 3
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  98 р. 53 к.
                            .col
                                .size
                                    b Размеры:
                                    |  800 х 1200 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 5 карманов для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 78 р. 83 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд для школы 3")
section.stand_for_school
    .container
        .custom_title.text-center
            h2 Стенды для школ
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_for_school_1.jpg", alt="Stand for school 1")
                .col.col-xl-8
                    .desc
                        .title Стенд для школы 1
                        .row
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  48 р. 60 к.
                            .col
                                .size
                                    b Размеры:
                                    |  490 х 770 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 9 карманов для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 38 р. 80 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд для школы 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_for_school_2.jpg", alt="Stand for school 2")
                .col.col-xl-8
                    .desc
                        .title Стенд для школы 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  81 р. 87
                            .col
                                .size
                                    b Размеры:
                                    |  800 х 900 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 6 карманов для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 65 р. 49 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд для школы 2")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stands_for_school_3.jpg", alt="Stand for school 3")
                .col.col-xl-8
                    .desc
                        .title Стенд для школы 3
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  112 р. 80 к.
                            .col
                                .size
                                    b Размеры:
                                    |  800 х 1200 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 6 карманов для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 90 р. 24 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд для школы 3")
section.banner_3#to_stock
    .container
        .row.align-items-center.justify-content-center
            .col-auto
                .stock
                    | Акция -20%
            .col.col-lg-8.col-xl
                form.banner(action="mail.php", method="post").text-center
                    .title
                        | Закажите два стенда одной категории и получите
                        | 20% скидку на все последующие
                    .row_btn
                        .inpt_white
                            input(type="tel", name="phone", required, placeholder="Номер телефона")
                        .btn_transparent
                            input(type="submit", value="Заказать звонок")
                    .PS *мы не передаем Вашу персональную информацию третьим лицам
                    input(type="hidden", name="form_type" value="Закажите два стенда и получите 20% скидку на все последующие")
section.stand_consumer_corner
    .container
        .custom_title.text-center
            h2 Уголок потребителя
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/customer_corner_1.jpg", alt="Customer corner 1")
                .col.col-xl-8
                    .desc
                        .title Уголок потебителя 1
                        .row
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  35 р. 60 к.
                            .col
                                .size
                                    b Размеры:
                                    |  500 х 800 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 4 кармана для листов формата А4;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 28 р. 48 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Уголок потебителя 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/customer_corner_2.jpg", alt="Customer corner 2")
                .col.col-xl-8
                    .desc
                        .title Уголок потебителя 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  40 р. 33 к.
                            .col
                                .size
                                    b Размеры:
                                    |  500 х 800 мм.
                        .performance
                            b Исполнение:
                            br
                            | - З кармана для листов формата А4, 1 объемный карман формата
                            br
                            | А5 либо А4;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 32 р. 27 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Уголок потебителя 2")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/customer_corner_3.jpg", alt="Customer corner 3")
                .col.col-xl-8
                    .desc
                        .title Уголок потебителя 3
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  70 р. 47 к.
                            .col
                                .size
                                    b Размеры:
                                    |  790 х 840 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 5 карманов для листов формата А4,1 объемный карман формата
                            br
                            | А5 либо А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 56 р. 37 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Уголок потебителя 3")
section.stand_information
    .container
        .custom_title.text-center
            h2 стенды информация
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stand_information_1.jpg", alt="Stand information 1")
                .col.col-xl-8
                    .desc
                        .title Стенд информация 1
                        .row
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  35 р. 60 к.
                            .col
                                .size
                                    b Размеры:
                                    |  500 х 800 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 4 кармана для листов формата А4;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 28 р. 48 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд информация 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stand_information_2.jpg", alt="Stand information 2")
                .col.col-xl-8
                    .desc
                        .title Стенд информация 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  51 р.
                            .col
                                .size
                                    b Размеры:
                                    |  790 х 840 мм.
                        .performance
                            b Исполнение:
                            br
                            | - З кармана для листов формата А4, 1 объемный карман формата
                            br
                            | А5 либо А4;
                            br
                            | - пластик ПВХ (З мм).
                        .add При заказе более 5 шт. Цена: 40 р. 80 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд информация 2")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stand_information_3.jpg", alt="Stand information 3")
                .col.col-xl-8
                    .desc
                        .title Стенд информация 3
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  80 р. 60 к.
                            .col
                                .size
                                    b Размеры:
                                    |  840 х 1040 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 5 карманов для листов формата А4,1 объемный карман формата
                            br
                            | А5 либо А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 56 р.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд информация 3")
section.banner_4
    .container
        form.banner(action="mail.php", method="post").text-center
            .title
                | Оставьте заявку и получите бесплатную консультацию
            .row_btn
                .inpt_white
                    input(type="text", name="name", placeholder="Имя")
                .inpt_white
                    input(type="tel", name="phone", required, placeholder="Номер телефона")
                .btn_pained.blue
                    input(type="submit", value="Получить консультацию")
            .PS *мы не передаем Вашу персональную информацию третьим лицам
            input(type="hidden", name="form_type" value="Оставьте заявку и получите бесплатную консультацию")
section.stand_ot_and_tb
    .container
        .custom_title.text-center
            h2 стенды по ОТ и ТБ
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stand_ot_and_tb_1.jpg", alt="Stand ot and tb 1")
                .col.col-xl-8
                    .desc
                        .title Стенд по ОТ и ТБ 1
                        .row
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  37 р. 87 к.
                            .col
                                .size
                                    b Размеры:
                                    |  600 х 900 мм.
                        .performance
                            b Исполнение:
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (З мм) с бортиками (объемный) и подвесами.
                        .add При заказе более 5 шт. Цена: 30 р. 29 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд по ОТ и ТБ 1")
        .stand
            .row.no-gutters.align-items-center
                .col-sm-5.col-md-auto
                    .picture
                        img.img-responsive(src="img/stand_ot_and_tb_2.jpg", alt="Stand ot and tb 2")
                .col.col-xl-8
                    .desc
                        .title Стенд по ОТ и ТБ 2
                        .row.align-items-center
                            .col-xl-4
                                .price
                                    span.txt
                                        b Цена:
                                    span.val  107 р. 40 к.
                            .col
                                .size
                                    b Размеры:
                                    |  1100 х 1300 мм.
                        .performance
                            b Исполнение:
                            br
                            | - 1 карман для листов формата А4;
                            br
                            | - полноцветная печать на самоклеющейся пленке под ламинацией;
                            br
                            | - пластик ПВХ (4 мм).
                        .add При заказе более 5 шт. Цена: 85 р. 92 к.
                        form(action="mail.php", method="post")
                            .inpt_white
                                input(type="tel", name="phone", required, placeholder="Номер телефона")
                            .btn_pained.accent
                                input(type="submit", value="Заказать")
                            input(type="hidden", name="form_type" value="Стенд по ОТ и ТБ 2")
        +stand("stand_ot_and_tb_3","Stand OT and TB 3","Стенд по ОТ и ТБ 3","79 р. 07 к.","1000 х 1200 мм.","63 р. 25 к.",["- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (4 мм)."])
section.stand_medical_establishment
    .container
        .custom_title.text-center
            h2 стенды для медицинских учреждений
        +stand("stand_medical_establishment_1","Stand medical establishment 1","Стенд для медицинских учреждений 1","79 р. 07 к.","900 х 900 мм.","63 р. 25 к.",["- 6 карманов для листов формата А4;","- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (4 мм)."])
        +stand("stand_medical_establishment_2","Stand medical establishment 2","Стенд для медицинских учреждений 2","150 р. 27 к.","980 х 1600 мм.","120 р. 21 к.",["- 4 кармана для листов формата А4;","- 1 карман 1000 х 700;","- пластик ПВХ (5 мм)."])
        +stand("stand_medical_establishment_3","Stand medical establishment 3","Стенд для медицинских учреждений 3","258 р. 27 к.","1400 х 2035 мм.","206 р. 61 к.",["- карманы для вкладышей формата 50 х 60, 50 х 250, 50 х 150;","- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (5 мм)."])
section.banner_5
    .container
        .row
            .col.d-none.d-lg-block
                .left_procents
                    span.proc_1 %
                    span.val 10
                    span.proc_2 %
            .col-lg-5.col-xl-6
                .title.text-center
                    | Постоянным
                    | клиентам скидка
                    | 10%
                .btn_transparent
                    a.modal(href="#form_become_customer") Стать клиентом
section.stand_production
    .container
        .custom_title.text-center
            h2 стенды для производств
        +stand("stand_production_1","Stand production 1","Стенд для производств 1","54 р.","600 х 850 мм.","28 р. 80 к.",["- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (З мм)."])
        +stand("stand_production_2","Stand production 2","Стенд для производств 2","54 р.","600 х 850 мм.","28 р. 80 к.",["- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (З мм)."])
        +stand("stand_production_3","Stand production 3","Стенд для производств 3","54 р.","600 х 850 мм.","28 р. 80 к.",["- полноцветная печать на самоклеющейся пленке под ламинацией;","- пластик ПВХ (З мм)."])
section.stand_standart_size
    .container
        .custom_title.text-center
            h2 стенды по стандартным размерам
        .row.justify-content-center.no-gutters
            .col-auto.order-1.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_1.jpg", alt="Stand standart size 1")
                    .desc
                        | Размер:
                        |
                        b 250*500
                        br
                        | Цена:
                        |
                        b 13р.73к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 10р.99к.
            .col-auto.order-2.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_2.jpg", alt="Stand standart size 2")
                    .desc
                        | Размер:
                        |
                        b 540*500
                        br
                        | Цена:
                        |
                        b 25р.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 20р.
            .col-auto.order-5.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_3.jpg", alt="Stand standart size 3")
                    .desc
                        | Размер:
                        |
                        b 800*500
                        br
                        | Цена:
                        |
                        b 38р.60к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 22р.28к.
            .w-100.d-none.d-lg-block
            .col-auto.order-3.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_4.jpg", alt="Stand standart size 4")
                    .desc
                        | Размер:
                        |
                        b 540*830
                        br
                        | Цена:
                        |
                        b 35р.60к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 28р.48к.
            .col-auto.order-6.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_5.jpg", alt="Stand standart size 5")
                    .desc
                        | Размер:
                        |
                        b 800*830
                        br
                        | Цена:
                        |
                        b 61р.67к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 49р.33к.
            .col-auto.order-8.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_6.jpg", alt="Stand standart size 6")
                    .desc
                        | Размер:
                        |
                        b 1070*830
                        br
                        | Цена:
                        |
                        b 80р.60к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 64р.48к.
            .w-100.d-none.d-lg-block
            .col-auto.order-7.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_7.jpg", alt="Stand standart size 7")
                    .desc
                        | Размер:
                        |
                        b 880*830
                        br
                        | Цена:
                        |
                        b 64р.67к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 51р.73к.
            .col-auto.order-9.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_8.jpg", alt="Stand standart size 8")
                    .desc
                        | Размер:
                        |
                        b 1330*830
                        br
                        | Цена:
                        |
                        b 101р.20к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 80р.96к.
            .col-auto.order-4.order-md-0
                .stand_standart
                    img(src="img/stand_standart_size_9.jpg", alt="Stand standart size 9")
                    .desc
                        | Размер:
                        |
                        b 360*700
                        br
                        | Цена:
                        |
                        b 48р.47к.
                        br
                        i При заказе более 5 шт.
                            br
                            | Цена: 38р.77к.
section.banner_6
    .container
        form.banner(action="mail.php", method="post").text-center
            .title
                span.text-uppercase Цены на изготовление стендов
                br
                span по индивидуальным размерам уточняйте у менеджера
            .sub_title.text-uppercase Оставьте заявку и узнайте стоимость стенда
            .row_btn
                .inpt_white
                    input(type="text", name="size", required, placeholder="Размер стенда")
                .inpt_white
                    input(type="text", name="pocket", required, placeholder="Количество карманов")
                .inpt_white
                    input(type="text", name="construction", required, placeholder="Конструкция")
            .row_btn
                .inpt_white
                    input(type="tel", name="phone", placeholder="Телефон")
                .btn_transparent
                    input(type="submit", value="Узнать стоимость")
            .PS *мы не передаем Вашу персональную информацию третьим лицам
            input(type="hidden", name="form_type" value="Оставьте заявку и узнайте стоимость стенда")
section.classification
    .container
        .custom_title.text-center
            h2 Классификация
        .row.justify-content-center
            .col-lg-auto.col-md-4.col-sm-6.col-auto
                .classific
                    .title С карманами
                    img.img-responsive(src="img/classification_1.jpg", alt="Classification 1")
            .col-lg-auto.col-md-4.col-sm-6.col-auto
                .classific
                    .title С перекидными системами
                    img.img-responsive(src="img/classification_2.jpg", alt="Classification 2")
            .col-lg-auto.col-md-4.col-sm-6.col-auto
                .classific
                    .title напольные (мобильные)
                    img.img-responsive(src="img/classification_3.jpg", alt="Classification 3")
            .w-100
            .col-lg-auto
                .classific
                    .title С подсветкой
                    img.img-responsive(src="img/classification_4.jpg", alt="Classification 4")
section.production#to_production
    .container
        .custom_title.text-center
            h2 Производство
        .slider_production
            .slide
                img.img-responsive(src="img/production_1.jpg", alt="Production 1")
            .slide
                img.img-responsive(src="img/production_2.jpg", alt="Production 2")
            .slide
                img.img-responsive(src="img/production_3.jpg", alt="Production 3")
            .slide
                img.img-responsive(src="img/production_3.jpg", alt="Production 4")
section.banner_3
    .container
        .row.align-items-center.justify-content-center
            .col-auto
                .stock
                    | Акция -20%
            .col.col-lg-8.col-xl
                form.banner(action="mail.php", method="post").text-center
                    .title
                        | Закажите два стенда одной категории и получите
                        | 20% скидку на все последующие
                    .row_btn
                        .inpt_white
                            input(type="tel", name="phone", required, placeholder="Номер телефона")
                        .btn_transparent
                            input(type="submit", value="Заказать звонок")
                    .PS *мы не передаем Вашу персональную информацию третьим лицам
                    input(type="hidden", name="form_type" value="Закажите два стенда и получите 20% скидку на все последующие")
section.shipping_and_payment#to_delivery
    .container
        .delivery
            h2 Доставка и оплата
            ol
                li
                    | Доставка по Минску
                    |
                    b.text-uppercase бесплатно.
                li
                    | Доставка по РБ осуществляется
                    |
                    b.text-uppercase бесплатно
                    |
                    | при стоимости
                    | заказа свыше 100 бел.руб.
                li
                    | Доставка осуществляется после оплаты заказа на расчетный счет
                    | поставщика, либо наличными курьеру при доставке заказа.
                li
                    | Доставим заказ в
                    |
                    b.text-uppercase
                    |
                    |удобное для Вас время и место.
                li
                    | Время и место доставки предварительно согласовывается.
            .wrap_img.d-none.d-md-block
                img(src="img/car_delivery.png", alt="Car delivery")