header
    .container
        .row
            .col-sm-12.col-md-3
                .logo(href="index.html",alt="Logo")
                    a(href="index.html")
                        img(src="img/logo.jpg")
                        h1
                            | пожарная
                            br
                            | безопасность
                            br
                            | «под ключ»
            .col-sm-12.col-md-3.hidden-sm.hidden-xs
               .adress
                   i.fa.fa-map-marker
                   | ул. Ольшевского, 22
               .email
                   a(href="mailto:info@nefox.by")
                       i.fa.fa-envelope-o
                       | Email : info@nefox.by
            .col-sm-12.col-md-3
               .phone
                   a(href="tel:+375291011919")
                       i.fa.fa-phone
                       |+375 29 101-19-19
               .clock
                   i.fa.fa-clock-o
                   | Пн-Пт с 8.30 до 17.30
            .col-sm-12.col-md-3
                .order_btn_call
                    a.btn-site-blue(href="#form_order_call",rel="nofollow") Заказать звонок









