section.firea_larm
    .container
        .row
            .col-sm-12
                h2
                    span Пожарная
                    br
                    span сигнализация
                p
                    | Монтаж и техническое
                    br
                    | обслуживание пожарной
                    br
                    | сигнализации
                .send.order_btn_call
                    a.btn-site-blue(href="#form_order_call",rel="nofollow") Отправить заявку
    .what_provide
        .container
            .provides
                .provide
                    img(src="img/worker.png", alt="Worker")
                    .desc
                        | Бесплатный выезд
                        br
                        | специалиста для
                        br
                        | клнсультации
                    .clearfix
                .provide
                    img(src="img/guarantee.png", alt="Guarantee")
                    .desc
                        | Год гарантии
                        br
                        | на монтаж
                        br
                        | системы
                    .clearfix
                .provide
                    img(src="img/document.png", alt="Document")
                    .desc
                        | Исполнительная
                        br
                        | документация на
                        br
                        | систему
                    .clearfix
section.our_services
    .container
        h2 наши услуги
        .services
            .service
                img.img-responsive(src="img/service_1.png", alt="Service 1")
                p
                    | РЕМОНТ
                    br
                    | ПОЖАРНОЙ
                    br
                    | СИГНАЛИЗАЦИИ
            .service
                img.img-responsive(src="img/service_2.png", alt="Service 2")
                p
                    | РЕМОНТ
                    br
                    | ПОЖАРНОЙ
                    br
                    | СИГНАЛИЗАЦИИ
            .service
                img.img-responsive(src="img/service_3.png", alt="Service 3")
                p
                    | РЕМОНТ
                    br
                    | ПОЖАРНОЙ
                    br
                    | СИГНАЛИЗАЦИИ
            .service
                img.img-responsive(src="img/service_4.png", alt="Service 4")
                p
                    | РЕМОНТ
                    br
                    | ПОЖАРНОЙ
                    br
                    | СИГНАЛИЗАЦИИ
            .service
                img.img-responsive(src="img/service_5.png", alt="Service 5")
                p
                    | РЕМОНТ
                    br
                    | ПОЖАРНОЙ
                    br
                    | СИГНАЛИЗАЦИИ
    section.need_help
        .container
            h2
                | Нужна помощь
                br
                | в подборе оборудования?
            .title.text-uppercase
                | Оставьте контактные данные,
                br
                b мы свяжемся с вами в течение 10 минут.
                br
                | Наши специалисты ответят
                br
                | на все Ваши вопросы!
            form(data-form-type="Помощь в подборе оборудования")
                input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
                input.btn-site-yellow(type="submit",value="Получить консультацию")
section.our_works
    .container
        h2.text-center.text-uppercase Наши работы
        .works.text-center
            .row
                .col-sm-3
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
                .col-sm-3.hidden-xs
                    img.img-responsive(src="img/our_works.png",alt="Our Work 1")
                    p
                        | ИТАР-ТАСС
                        br
                        | Система оповещения
                        br
                        | 3-го типа
section.fire_alarm_installation
    .container
        h2.text-uppercase.text-center Монтаж пожарной сигнализации
        .title.text-uppercase.text-center Наша компания оказывает весь спект услуг  в области систем пожарной сигнализации в  Минске и Республике Беларусь под ключ:
        ul.list-site.text-uppercase
            .row
                .col-sm-6
                    li Подбор систем сигнализации
                    li Проектирование
                    li Монтаж  пожарной сигнализации
                .col-sm-6
                    li Наладка
                    li Техническое обслуживание пожарной сигнализации
        .need_set.text-uppercase.text-center Необходимо установить пожарную сигнализацию?
        .call.text-center
            span Звоните по телефонам - мы поможем!
            .phone
                a(href="tel:+375291011919")
                    i.fa.fa-phone
                    | +375 29 101-19-19
section.special_offer
    .container.text-center
        h2.text-uppercase Спецпредложение
        .service.text-uppercase Монтаж пожарной сигнализации за 983 руб.
        .desc.text-uppercase
            | спецпредложение действует ТОЛЬКО ДО конца месяца!!!
            br
            | Успей заказать по самой выгодной цене!!!
        form(data-form-type="Специальное предложение, Монтаж пожарной сигнализации")
            input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
            input.btn-site-yellow(type="submit",value="Заказать")
        .PS.text-uppercase.hidden-xs * спецпредложение действует только при оплате до конца месяца
section.repairs_fire_alarm
    .container
        h2.text-uppercase.text-center Ремонт пожарной сигнализации
        .desc.text-center Наша компания осуществляет ремонт пожарной сигнализации в Минске. Мы обслуживаем жилые и коммерческие строительные объекты, здания промышленных предприятий, торговые и складские помещения. Специалисты нашей компании готовые оперативно выехать на объект на месте проверить и заменить вышедший из строя узел системы пожарной безопасности с последующей проверкой работоспособности.
        .add_copmlex.text-center.text-uppercase
            | В комплекс ремонтных работ по восстановлению
            br
            | работоспособности пожарной системы входит:
        ul.list-site.text-uppercase
            .row
                .col-sm-6
                    li наладка работы датчиков;
                    li демонтаж и настройка извещателей;
                    li замена вышедших из строя узлов пожарной сигнализации;
                .col-sm-6
                    li ремонт оборудования;
                    li программирование и работа системы.
section.package_proposal
    .container.text-center
        h2.text-uppercase Воспользуйтесь пакетным предложением
        .desc.text-uppercase
            | При заказе 3-х и более услуг в нашей компании получите
            br
            span скидку 20% на ВСЕ!!!
            br
            | Мы готовы выслать к вам специалиста для определения объемов работ и стоимости. Это бесплатно.
        form(data-form-type="Пакетное предложение")
            input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
            input.btn-site-yellow(type="submit",value="Заказать")
        .PS.text-uppercase * спецпредложение действует только при оплате до конца месяца
section.fire_alarm_design
    .container
        h2.text-uppercase.text-center Проектирование пожарной сигнализации
        .company.text-center.text-uppercase
            | Компания ООО "НЭФОКС ПЛЮС" поможет вам с проектированием
            br
            | пожарной сигнализации  в Минске и Республике Беларусь
            br
            | в самые короткие сроки.
        .factor.text-center.text-uppercase ФАКТОРЫ, ВЛИЯЮЩИЕ НА ПРОЕКТИРОВАНИЕ ПОЖАРНОЙ СИГНАЛИЗАЦИИ и ЭТАПЫ ПРОЕКТИРОВОЧНЫХ РАБОТ
        p.text-center В первую очередь специалистами проводится оценка существующей системы пожарной безопасности или всех индивидуальных особенностей помещения, в котором требуется установка. Клиентам обеспечивается:
        ul.list-site.text-uppercase
            li концепция по пожарной безопасности;
            li необходимый перечень заданий по обеспечению пожарной безопасности;
            li выявление рисков по угрозе здоровью и жизни людей, находящихся на объекте, ценному имуществу;
            li составление отчета о соответствии помещения нормам пожарной безопасности;
            li оформление предварительных технических решений для обеспечения защиты от пожара.
        p.text-center После этого составляется проект пожарной сигнализации, который впоследствии должен быть согласован с государственными службами пожарной безопасности. Он обеспечит не только быструю и надежную систему по ликвидации пожара, но и минимизирует возможные материальные потери.
    section.need_help
        .container
            .title.text-uppercase
                | Оставьте контактные данные,
                br
                b мы свяжемся с вами в течение 10 минут.
                br
                | Наши специалисты ответят
                br
                | на все Ваши вопросы!
            form(data-form-type="Контактные данные")
                input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
                input.btn-site-yellow(type="submit",value="Получить консультацию")
section.fire_safety_service
    .container
        h2.text-uppercase.text-center ОБСЛУЖИВАНИЕ ПОЖАРНОЙ СИГНАЛИЗАЦИИ
        p
            | Обслуживание пожарной сигнализации имеет своей основной целью поддерживать ее работоспособность в любых условиях. Это является особенно важным, ведь от эффективной работы системы оповещения о пожаре подчас зависит не только целостность имущества и ценностей, но и человеческие жизни.
            br
            br
            | Обслуживание автоматической пожарной сигнализации должно быть регулярным и квалифицированным, поскольку отказ или поломка в самый неподходящий момент могут привести к необратимым, печальным последствиям. Очень часто нам приходится слышать о возникновении пожаров в офисах, торговых центрах, ресторанах, клубах. Многих ЧП можно было избежать, если бы обслуживание автоматических систем пожарной сигнализации было своевременным.
section.conclusion_maintenance_contract
    .container.text-center
        h2.text-uppercase ПРИ ЗАКЛЮЧЕНИИ ДОГОВОРА НА ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ
        .free.text-uppercase 1-Й МЕСЯЦ РАБОТ БЕСПЛАТНО!!!
        .desc
            | Стоимость технического обслуживания от 15 руб/месяц
            br
            | Мы готовы выслать к вам специалиста для определения объемов работ
            | и стоимости. Это бесплатно.
        form(data-form-type="Заключение договора на техническое обслуживание")
            input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
            input.btn-site-yellow(type="submit",value="Заказать")
section.fire_alarm_setup
    .container
        h2.text-uppercase.text-center Наладка пожарной сигнализации
        .title.text-center.text-uppercase
            | Наладка пожарной сигнализации выполняется
            br
            | высококвалифицированными инженерами
            br
            | с огромным опытом работы в данной области.
        .etap.text-center.text-uppercase ЭТАПЫ ПРОВЕДЕНИЯ ПУСКОНАЛАДОЧНЫХ РАБОТ ПОЖАРНОЙ СИГНАЛИЗАЦИИ
        p.text-center Пусконаладочные работы пожарной сигнализации на объекте проводятся в четыре этапа:
        ul.list-site.text-uppercase
            li Разработка программы по наладочным работам.
            li Наладка временного электроснабжения на защищаемом объекте. Выполняются работы по настройке отдельных элементов системы управления, контрольной панели, автоматической защиты и электромонтажные работы.
            li Наладка всего оборудования, управляющей системы, защитных устройств. Рабочие выполняют испытание схем управления и контролируют состояние электрооборудования. После всех работ пожарная сигнализация принимается в эксплуатацию. Завершается данный этап оформлением акта технической готовности установленного оборудования для последующей комплексной проверки.
            li Комплексное испытание системы посредством настройки точных параметров работы, запуска системы по полной схеме и анализа работы ПС в различных режимах.
    section.need_help
        .container
            .title.text-uppercase
                | Оставьте контактные данные,
                br
                b мы свяжемся с вами в течение 10 минут.
                br
                | Наши специалисты ответят
                br
                | на все Ваши вопросы!
            form(data-form-type="Контактные данные")
                input.inp-site-white(type="tel",placeholder="+375 (---) --- -- --",name="phone")
                input.btn-site-yellow(type="submit",value="Получить консультацию")
