footer
	.container
		.row.justify-content-center
			.col-auto
				a(href="#").logo
					img(src="img/logo.png", alt="Logo")
					.title.text-uppercase
						span.accent авто
						| центр
			.col
				ul.menu.text-uppercase
					li
						a(href="#to_service") услуги
					li
						a(href="#to_price") цены
					li
						a(href="#to_review") отзывы
					li
						a(href="#to_certificate") сертификаты
					li
						a(href="#to_contact") контакты
				.btn_collapse
					span
					span
					span
			.col-auto
				.btn_transparent
					a(href="#order_call_form").modal Заказать звонок
		.copy Copyright © 2018  Автоцентр