#order_call_form.modal_window
    form(data-form-type="Заказ звонка", method="post")
        .close &times;
        .title
            span.first_l оставьте свой номер
            span.second_l и мы вам перезвоним
            span.thirt_l в течение 5 минут
        .inpt_transparent
            input(type="tel", placeholder="Введите телефон")
        .btn_painted
            input(type="submit", value="Заказать звонок")
        .PS * Мы не передаем данные третьим лицам
#enroll_form.modal_window
    form(data-form-type="Запись на развал схождения", method="post")
        .close &times;
        .title
            span.first_l записаться
            span.second_l на развал-схождение
            span.thirt_l Мы вам перезвоним в течение 5 минут
        .inpt_transparent
            input(type="tel", placeholder="Введите телефон")
        .btn_painted
            input(type="submit", value="Заказать звонок")
        input(type="hidden", name="title")
        input(type="hidden", name="axis")
        input(type="hidden", name="price")
        .PS * Мы не передаем данные третьим лицам
#gallery_service_station.modal_window
    .slider_content
        .close &times;
        .slick_slider_gallery
            .slide
                img.img-responsive(src="img/our_service_station_1_preview.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2_preview.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3_preview.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4_preview.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5_preview.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6_preview.jpg", alt="Our service station 6")
            .slide
                img.img-responsive(src="img/our_service_station_1_preview.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2_preview.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3_preview.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4_preview.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5_preview.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6_preview.jpg", alt="Our service station 6")
            .slide
                img.img-responsive(src="img/our_service_station_1_preview.jpg", alt="Our service station 1")
            .slide
                img.img-responsive(src="img/our_service_station_2_preview.jpg", alt="Our service station 2")
            .slide
                img.img-responsive(src="img/our_service_station_3_preview.jpg", alt="Our service station 3")
            .slide
                img.img-responsive(src="img/our_service_station_4_preview.jpg", alt="Our service station 4")
            .slide
                img.img-responsive(src="img/our_service_station_5_preview.jpg", alt="Our service station 5")
            .slide
                img.img-responsive(src="img/our_service_station_6_preview.jpg", alt="Our service station 6")
#review_modal.modal_window
    .wrap_review
        .close &times;
        .review
            img.img-responsive(src="img/review_1.jpg", alt="Review 1")
        .review
            img.img-responsive(src="img/review_2.jpg", alt="Review 2")
        .review
            img.img-responsive(src="img/review_3.jpg", alt="Review 3")
        .review
            img.img-responsive(src="img/review_4.jpg", alt="Review 4")
        .review
            img.img-responsive(src="img/review_1.jpg", alt="Review 1")
        .review
            img.img-responsive(src="img/review_2.jpg", alt="Review 2")
        .review
            img.img-responsive(src="img/review_3.jpg", alt="Review 3")
        .review
            img.img-responsive(src="img/review_4.jpg", alt="Review 4")
        .review
            img.img-responsive(src="img/review_1.jpg", alt="Review 1")
        .review
            img.img-responsive(src="img/review_2.jpg", alt="Review 2")
        .review
            img.img-responsive(src="img/review_3.jpg", alt="Review 3")
        .review
            img.img-responsive(src="img/review_4.jpg", alt="Review 4")
